<app-mat-spinner-overlay [overlay]="true"></app-mat-spinner-overlay>
<div class="mat-elevation-z8">
  <div class="kendo-table">
    <div class="upper-menu">
      <div class="cell">
        <button (click)="addElement()" *ngIf="(RbacActivity.CREATE_USER | rbac : this.rbacService.getActivities())"
                [matTooltipShowDelay]="500" color="primary"
                mat-button
                matTooltip="{{'authenticatedUserAdd' | transloco}}">
          <mat-icon>add</mat-icon>
        </button>
        <button (click)="editElement()" *ngIf="(RbacActivity.READ_ONE_USER | rbac : this.rbacService.getActivities())"
                [disabled]="!basicTableData.selectedElement"
                [matTooltipShowDelay]="500"
                mat-button
                matTooltip="{{'authenticatedUserEdit' | transloco}}">
          <mat-icon>create</mat-icon>
        </button>
        <button (click)="deleteElement()" *ngIf="(RbacActivity.DELETE_USER | rbac : this.rbacService.getActivities())"
                [disabled]="!basicTableData.selectedElement" [matTooltipShowDelay]="500"
                color="warn" mat-button
                matTooltip="{{'authenticatedUserDelete' | transloco}}">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
    <basic-table [basicTableData]="basicTableData" [disableRow]="disableRow"></basic-table>
  </div>
</div>
