<div class="untie-container">
  <div [class.red-ribbon]="!swapColors" [class.white-ribbon]="swapColors" class="left-team ribbon-icon">
    <mat-icon class="kendo-icon" svgIcon="ribbon"></mat-icon>
  </div>
  <div class="untie">
    <duel [duel]="duel" [ngClass]="{duelSelected: selected, over: isOver(duel)}"
          (click)="selectDuel(duel)"
          (keydown)="selectDuel(duel)"
          [selected]="selected" [swapTeams]="swapTeams"
          class="duel"></duel>
  </div>
  <div [class.red-ribbon]="swapColors" [class.white-ribbon]="!swapColors" class="right-team ribbon-icon">
    <mat-icon class="kendo-icon" svgIcon="ribbon"></mat-icon>
  </div>
</div>
