
.untie-container {
  display: flex;
  padding-bottom: 2vh
}

.untie {
  border-style: solid;
  padding: 9px;
  width: 100%;
  display: table;
  min-width: 600px;
  background: var(--fight-color);
}

.untie:has(.duel.duelSelected) {
  background: var(--fight-color);
  opacity: 100%;
}

.untie:has(.duel.over) {
  background: var(--body-background);
  opacity: 100%;
}

.untie:has(.duel.duelSelected.over) {
  background: var(--fight-color);
  opacity: 100%;
}

.left-team {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  border-style: solid;
  text-transform: uppercase;
  border-width: 2px;
  border-color: var(--component-color);
  line-height: 25px;
  max-width: 56px;
  overflow: clip;
  background: var(--component-color);
  min-height: 76px;
}

.right-team {
  writing-mode: vertical-rl;
  text-align: center;
  padding: 20px;
  border-style: solid;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-transform: uppercase;
  border-width: 2px 2px 2px 0;
  border-color: var(--component-color);
  line-height: 25px;
  max-width: 56px;
  overflow: clip;
  background: var(--component-color);
}

.red-ribbon {
  color: var(--red-team-color);
  //To be below the timer
  //z-index: -1;

  ::ng-deep svg {
    color: var(--red-team-color) !important;
  }
}

.white-ribbon {
  color: var(--white-team-color);
  //To be below the timer
  //z-index: -1;

  ::ng-deep svg {
    color: var(--white-team-color) !important;
  }
}

.ribbon-icon {
  background: var(--component-color);
  transform: rotate(0deg);
  padding-right: 0;
  padding-left: 0;

  .mat-icon {
    margin-left: -10px;
    width: 32px;
    height: 32px;
  }
}

.duel {
  display: flex;
  vertical-align: middle;
}

.duel.over {
  opacity: 30%;
}

.duel.duelSelected.over {
  opacity: 30% !important;
}

.duel.duelSelected {
  background: var(--duel-selected-color) !important;
  opacity: 100% !important;
  font-weight: bold;
}
