::ng-deep .apexcharts-legend {
  text-align: left;
}

#chart {
  padding: 15px;
}

.box {
  background-color: #fff;
  padding: 25px 20px;
}

.shadow {
  box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
}
