.mat-dialog-actions {
  display: flex;
  justify-content: center;
}

.mat-dialog-content {
  overflow: visible;
}

.mat-form-field {
  width: 100%;
}

.mat-raised-button {
  width: 150px;
}

.mat-picture {
  background-color: green;
  color: #fff;
}

.content {
  display: inline-flex;
}

.picture-container {
  max-height: 200px;
  max-width: 170px;
  margin-left: 20px;
  align-items: center;
  display: flex;
}

.picture {
  width: auto;
  max-height: 100%;
}

.floating-button {
  position: absolute;
  margin-left: 120px;
  margin-top: -150px;
}
