.panel {
  display: table;
  width: auto;
  padding-left: 5vh;
  padding-right: 5vh;
  padding-bottom: 20px;
}

.text {
  color: var(--component-color);
}

.viewer {
  display: table-cell;
  width: 20%;
  font-size: 0.8vw;
  color: var(--secondary-text-color);
}

.viewer .text{
  padding-left: 1vh;
  margin-bottom: 15px;
  vertical-align: super;
}

.viewer .warning {
  color: var(--warning);
}

.viewer .alert {
  color: var(--alert);
  animation: blinker 1s linear infinite;
}
