.canvas {
  width: 100%;
  min-width: 40vw;
  height: 100%;
  max-height: 80vh;

  align-items: center;
  gap: 4.5rem;
  padding: 2.5rem 2.5rem 1.5rem;
  background: var(--body-background);
}

::ng-deep .team-list {
  height: 55vh !important;
  max-height: 55vh !important;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  gap: 1em;
}

.settings-button {
  position: absolute;
  top: 92px;
  right: 85px;
}

.team-grid {
  height: 55vh;
}

.league-creator {
  display: flex;
  height: 60vh;
}

.teams-container {
  overflow: clip;
}

.league-creator div {
  flex: 1
}

.roles-location.ng-star-inserted {
  padding-bottom: 30px;
  padding-right: 20px;
}

.sorted-teams {
  padding-left: 1em;
  padding-right: 1em;
}

.header {
  display: inline-flex;
  height: 40px;
}

.final-team-list {
  border: 3px solid var(--component-color);
  padding-right: 10px;
  min-height: 40vh;
  height: 90%;
  overflow: scroll;
  background-color: var(--popup-background);
}


@media screen and (max-width: 1250px) {
  .reverse-button {
    display: none !important;
  }
}

@media screen and (max-width: 1050px) {
  .sorted-button {
    display: none !important;
  }
}

@media screen and (max-width: 850px) {
  .random-button {
    display: none !important;
  }
}
