<div class="league-creator" cdkDropListGroup>
  <div cdkDropList class="teams-container"
       [cdkDropListData]="teamListData.filteredTeams"
       (cdkDropListDropped)="removeTeam($event)">
    <team-list [teamListData]="teamListData"></team-list>
  </div>
  <div class="sorted-teams">
    <h2>{{'teamsOrder' | translate}}</h2>
    <div class="final-team-list" cdkDropList
         [cdkDropListData]="teamsOrder"
         (cdkDropListDropped)="dropTeam($event)">
      <app-team-card *ngFor="let team of teamsOrder" [team]="team"></app-team-card>
    </div>
  </div>
</div>
<div mat-dialog-actions class="button-container">
  <button mat-raised-button (click)="sortedTeams()" mat-flat-button>
    <mat-icon>auto_fix_high</mat-icon>
    {{'wizard' | translate}}
  </button>
  <button mat-raised-button (click)="randomTeams()" mat-flat-button>
    <mat-icon>casino</mat-icon>
    {{'random' | translate}}
  </button>
  <button mat-raised-button (click)="acceptAction()" mat-flat-button color="primary"
          [disabled]="teamsOrder.length===0 || teamListData.teams.length>0">
    <mat-icon>done</mat-icon>
    {{'accept' | translate}}</button>
  <button mat-raised-button (click)="cancelDialog()" mat-flat-button color="accent">
    <mat-icon>cancel</mat-icon>
    {{'cancel' | translate}}</button>
</div>
