<app-mat-spinner-overlay [overlay]="true"></app-mat-spinner-overlay>
<div class="league-creator" cdkDropListGroup>
  <div cdkDropList class="teams-container"
       [cdkDropListData]="teamListData.filteredTeams"
       (cdkDropListDropped)="removeTeam($event)">
    <team-list [teamListData]="teamListData"></team-list>
  </div>
  <div class="sorted-teams">
    <h2>{{'teamsOrder' | translate}}</h2>
    <div class="final-team-list" cdkDropList
         [cdkDropListData]="teamsOrder"
         (cdkDropListDropped)="dropTeam($event)">
      <app-team-card *ngFor="let team of teamsOrder" [team]="team"></app-team-card>
    </div>
    <div class="extra-properties" *ngIf="canHaveDuplicated || needsDrawResolution">
      <mat-slide-toggle *ngIf="canHaveDuplicated"
                        [formControl]="avoidDuplicates">{{'avoidDuplicateFights' | translate }}</mat-slide-toggle>
      <mat-form-field *ngIf="needsDrawResolution">
        <mat-label>{{'drawResolution' | translate}}</mat-label>
        <mat-select [(value)]="selectedDrawResolution" (selectionChange)="select($event.value)">
          <mat-option *ngFor="let resolution of drawResolution" [value]="resolution"
                      [matTooltipShowDelay]="500" matTooltip="{{getDrawResolutionHintTag(resolution) | translate}}">
            {{getDrawResolutionTranslationTag(resolution) | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions class="button-container">
  <button mat-raised-button (click)="sortedTeams()" mat-flat-button class="fight-button"
          *ngIf="(RbacActivity.CREATE_FIGHT | rbac : this.rbacService.activities)">
    <mat-icon>auto_fix_high</mat-icon>
    {{'wizard' | translate}}
  </button>
  <button mat-raised-button (click)="randomTeams()" mat-flat-button class="fight-button"
          *ngIf="(RbacActivity.CREATE_FIGHT | rbac : this.rbacService.activities)">
    <mat-icon>casino</mat-icon>
    {{'random' | translate}}
  </button>
  <button mat-raised-button (click)="acceptAction()" mat-flat-button color="primary" class="fight-button"
          *ngIf="(RbacActivity.CREATE_FIGHT | rbac : this.rbacService.activities)"
          [disabled]="teamsOrder.length===0 || teamListData.teams.length>0">
    <mat-icon>done</mat-icon>
    {{'accept' | translate}}</button>
  <button mat-raised-button (click)="cancelDialog()" mat-flat-button color="accent">
    <mat-icon>cancel</mat-icon>
    {{'cancel' | translate}}</button>
</div>
