.league-creator {
  display: flex;
  height: 80vh;
}

.teams-container {
  overflow: auto;
}

.league-creator div {
  flex: 1
}

.roles-location.ng-star-inserted {
  padding-bottom: 30px;
  padding-right: 20px;
}

.sorted-teams {
  overflow: auto;
  padding-left: 10px;
}

//Padding between roles
.ng-star-inserted {
 // padding-bottom: 20px;
}

.header {
  display: inline-flex;
  height: 40px;
}

.final-team-list{
  border-color: #c3d1e1;
  border-radius: 15px;
  border-style: dotted;
  padding-right: 10px;
  min-height: 50vh;
  height: 65vh;
  overflow: scroll;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
}

.mat-raised-button {
  width: 150px;
}

.fight-button {
  padding-bottom: 0;
}

.extra-properties{
  margin: 20px;
  padding-bottom: 0;
}

@media screen and (max-width: 1250px) {
  .reverse-button {
    display: none !important;
  }
}

@media screen and (max-width: 1050px) {
  .sorted-button {
    display: none !important;
  }
}

@media screen and (max-width: 850px) {
  .random-button {
    display: none !important;
  }
}
