.fight-container {
  height: 83vh;
  max-height: 83vh;
  min-height: 50vh;
  overflow-y: auto;
}

.fight-list {
  width: 99%;
  min-height: 100px;
}

.unties-list {
  width: 100%;
}

@media screen and (max-height: 750px) {
  .fight-container {
    height: 75vh;
  }
}

@media screen and (max-width: 1250px) {
  .download-button {
    display: none !important;
  }

  .download-divider {
    display: none !important;
  }

  .exchange-colors {
    display: none !important;
  }

  .exchange-teams {
    display: none !important;
  }
}


@media screen and (max-width: 1024px) {

  .member-order {
    display: none !important;
  }

  .competitors-classification {
    display: none !important;
  }
}

@media screen and (max-width: 800px) {
  .timer-button {
    display: none !important;
  }

  .timer-divider {
    display: none !important;
  }

  .add-button {
    display: none !important;
  }

  .delete-button {
    display: none !important;
  }


}
