<div class="mat-elevation-z8">
  <div class="kendo-table">
    <div class="upper-menu">
      <div class="cell">
        <button mat-button color="seconday" (click)="goBackToTournament()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-button color="primary" (click)="addElement()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-button color="primary" (click)="generateElements()">
          <mat-icon>auto_fix_high</mat-icon>
        </button>
        <button mat-button color="warn" [disabled]="!selectedFight" (click)="deleteElement()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
    <div class="filter">
      <mat-form-field class="filter-field">
        <input matInput type="text" placeholder="{{'filter' | translate}}">
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
      <div class="fight-list">
        <fight *ngFor="let fight of fights" [fight]="fight" [selected]="fight === selectedFight"
               [over]="isFightOver(fight)" (click)="selectFight(fight)"></fight>
      </div>
    </div>
  </div>
</div>
