.fight-list {
  width: 100%;
  min-height: 100px;
}

@media screen and (max-width: 1024px) {
  .download-button {
    display: none !important;
  }

  .download-divider {
    display: none !important;
  }
}
