.fights-container {
  flex: 1 1 auto;
  max-height: 88vh;
  overflow-y: auto;
  padding-left: 20px;
  margin-top: -25px;
  margin-right: 15px;
  min-width: 800px;
}

.fights-container.project-mode {
  height: 98vh;
  max-height: 100%;
  overflow: scroll;
}

.fights-container.project-mode.with-banner {
  height: 83vh;
}



.upper-menu {
  padding-left: 30px;
  margin: 10px;
  display: flex;
  gap: 1em;
  height: 50px;
  background-color: var(--body-background);
}

.upper-menu button {
  width: 60px;
  margin-top:7px
}

.upper-menu button:disabled {
  opacity: 50%;
}

.upper-menu button:disabled .mat-icon.kendo-icon.mat-icon-no-color {
  fill: var(--disabled-primary-color);
}

::ng-deep .upper-menu button .mat-icon.kendo-icon.mat-icon-no-color {
  margin-left: -17px;
}

.statistics {
  padding-top: 20px;
}

.fight-list {
  width: 99%;
  height: 100%;
}

.unties-list {
  width: 100%;
}

.fights-layout {
  min-width: 600px;
  display: flex;
  flex-flow: column;
  gap: 1em;
}

.fights-of-group {
  border: #001239 3px solid;
  padding: 5px;
  margin: 5px 5px 20px;
  background-color: var(--popup-background);
}

.group-name {
  text-align: left;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

.group-name-hidden {
  visibility: hidden;
  height: 0;
}

.filter-shiaijo {
  position: absolute;
  top: 60px;
  right: 360px;
  font-size: 18px;
  color: var(--primay-color);
}

.filter-fights {
  position: absolute;
  top: 50px;
  right: 20px;
  font-size: 18px;
  z-index: 0;
}

.shiaijo-label {
  display: inline-block;
  margin-right: 8px;
}

.shiaijo-name {
  display: inline-block;
  font-weight: bold;
  border: 1px solid var(--primay-color);
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
}

h2.level-name {
  justify-content: center;
  display: flex;
  font-size: 25px;
  padding-top: 40px;
  font-weight: bold;
}

.banner {
  width: 100%;
  height: 17vh;
  position: relative;
  bottom: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}


@media screen and (max-width: 1550px) {
  .expand-divider {
    display: none !important;
  }

  .expand-button {
    display: none !important;
  }
}

@media screen and (max-width: 1450px) {
  .download-button {
    display: none !important;
  }

  .download-divider {
    display: none !important;
  }

  .shiaijo-label {
    display: none !important;
  }

  .whisper-button {
    display: none !important;
  }
}

@media screen and (max-width: 1300px) {

  .exchange-colors {
    display: none !important;
  }

  .exchange-teams {
    display: none !important;
  }
}


@media screen and (max-width: 1100px) {

  .member-order {
    display: none !important;
  }

  .order-divider {
    display: none !important;
  }

  .competitors-classification {
    display: none !important;
  }

  .actions-divider {
    display: none !important;
  }

  .upper-menu {
    gap: 0;
  }
}

@media screen and (max-width: 950px) {
  .timer-button {
    display: none !important;
  }

  .timer-divider {
    display: none !important;
  }

  .add-button {
    display: none !important;
  }

  .delete-button {
    display: none !important;
  }
  .filter-fights {
    display: none;
  }
}

@media screen and (max-height: 850px) {
  .fights-container {
    height: 75vh;
  }
}
