ul {
  list-style-type: none;
}

.team-card {
  background-color: var(--floating-background);
  border: 3px solid var(--component-color);
  min-width: 200px;
}

.team-card-title {
  font-weight: bold;
}

.team-card.minify {
  padding: 1rem;
  margin: 1rem 0 0;
}

.team-card.minify mat-card-header {
  padding: 0;
}

.group .team-card.minify {
  border: none;
}

.team-card.locked {
  background-color: var(--disabled-floating-color);
}
