body {
    background-image: url(./Kendokas.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Montreal, sans-serif;
}

.title {
    color: #012f67;
    margin: 20vh 0 0 30vw;
    transform: rotate(-3deg);
    text-shadow: 2px 2px 0 #fff;
}

.subtitle {
    color: #012f67;
    margin: 20vh 0 5vh 35vw;
    transform: rotate(10deg);
    text-shadow: 2px 2px 0 #fff;
}

@media screen and (max-width: 900px) {
    .title {
        color: #012f67;
        margin: 10vh 0 0 30vw;
        transform: rotate(0deg);
        text-shadow: 2px 2px 0 #fff;
    }

    .subtitle {
        color: #012f67;
        margin: 2vh 0 5vh 35vw;
        transform: rotate(0deg);
        text-shadow: 2px 2px 0 #fff;
    }
}
