<app-mat-spinner-overlay [overlay]="true"></app-mat-spinner-overlay>
<div class="mat-elevation-z8">
  <div class="kendo-table">
    <div class="upper-menu">
      <div class="cell">
        <button (click)="addElement()" *ngIf="(RbacActivity.CREATE_PARTICIPANT | rbac : this.rbacService.getActivities())"
                [matTooltipShowDelay]="500" color="primary"
                mat-button
                matTooltip="{{'participantAdd' | transloco}}">
          <mat-icon>add</mat-icon>
        </button>
        <button (click)="editElement()" *ngIf="(RbacActivity.READ_ONE_PARTICIPANT | rbac : this.rbacService.getActivities())"
                [disabled]="!basicTableData.selectedElement"
                [matTooltipShowDelay]="500" mat-button
                matTooltip="{{'participantEdit' | transloco}}">
          <mat-icon>create</mat-icon>
        </button>
        <button (click)="deleteElement()" *ngIf="(RbacActivity.DELETE_PARTICIPANT | rbac : this.rbacService.getActivities())"
                [disabled]="!basicTableData.selectedElement" [matTooltipShowDelay]="500"
                color="warn" mat-button
                matTooltip="{{'participantDelete' | transloco}}">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
    <basic-table [basicTableData]="basicTableData" [disableRow]="disableRow"></basic-table>
    <div class="bottom-menu">
      <button (click)="openStatistics()"
              *ngIf="(RbacActivity.VIEW_PARTICIPANT_STATISTICS | rbac : this.rbacService.getActivities())"
              [disabled]="!basicTableData.selectedElement" [matTooltipShowDelay]="500"
              color="primary" mat-button
              matTooltip="{{'titleStatistics' | transloco}}">
        <mat-icon>bar_chart</mat-icon>
      </button>
      <button (click)="showCompetitorsClassification()"
              *ngIf="(RbacActivity.READ_ALL_COMPETITORS_RANKINGS | rbac : this.rbacService.getActivities())"
              [matTooltipShowDelay]="500"
              color="primary" mat-button
              matTooltip="{{'competitorsRanking' | transloco}}">
        <mat-icon class="kendo-icon" svgIcon="competitors-classification"></mat-icon>
      </button>
      <button (click)="showQrCode()"
              *ngIf="(RbacActivity.SEE_QR_CODE | rbac : this.rbacService.getActivities())"
              [disabled]="!basicTableData.selectedElement"
              [matTooltipShowDelay]="500"
              color="primary" mat-button
              matTooltip="{{'qrCodeHint' | transloco}}">
        <mat-icon>qr_code_2</mat-icon>
      </button>
    </div>
  </div>
</div>
