<app-mat-spinner-overlay [overlay]="true"></app-mat-spinner-overlay>
<div class="mat-elevation-z8">
  <div class="kendo-table">
    <div class="upper-menu">
      <div class="cell">
        <button mat-button color="primary" (click)="addElement()" [matTooltipShowDelay]="500"
                matTooltip="{{'participantAdd' | translate}}"
                *ngIf="(RbacActivity.CREATE_PARTICIPANT | rbac : this.rbacService.activities)">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-button [disabled]="!basicTableData.selectedElement" (click)="editElement()"
                [matTooltipShowDelay]="500" matTooltip="{{'participantEdit' | translate}}"
                *ngIf="(RbacActivity.READ_ONE_PARTICIPANT | rbac : this.rbacService.activities)">
          <mat-icon>create</mat-icon>
        </button>
        <button mat-button color="warn" [disabled]="!basicTableData.selectedElement" (click)="deleteElement()"
                [matTooltipShowDelay]="500" matTooltip="{{'participantDelete' | translate}}"
                *ngIf="(RbacActivity.DELETE_PARTICIPANT | rbac : this.rbacService.activities)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
    <basic-table [basicTableData]="basicTableData"></basic-table>
  </div>
</div>
