team-card {
  margin: 20px;
  border-radius: 10px;
  height: 40px;
}

.team-list {
  display: block;
  height: 60vh;
  overflow-y: auto;
  min-height: 460px;
}

.team-list.horizontal {
  min-height: 80px;
  height: 100px;
  padding: 20px;
}

.team-list .horizontal {
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 60px;
  height: 10vh;
}

.mat-card-header .mat-card-title {
  font-size: 16px;
}

.mat-card-header .mat-card-subtitle {
  font-size: 12px;
}

@media screen and (max-height: 800px) {
  .filter {
    display: none !important;
  }
}
