team-card {
  margin: 20px;
  border-radius: 10px;
  height: 40px;
}

.team-list {
  display: block;
  height: 60vh;
  overflow-y: auto;
  min-height: 460px;
}

.mat-card-header .mat-card-title {
  font-size: 16px;
}

.mat-card-header .mat-card-subtitle {
  font-size: 12px;
}

@media screen and (max-height: 800px) {
  .filter {
    display: none !important;
  }
}
