.canvas {
  width: 100%;
  min-width: 30vw;
  height: 100%;
  max-height: 60vh;

  align-items: center;
  gap: 4.5rem;
  padding: 2.5rem 2.5rem 1.5rem;
  background: var(--body-background);
}

.example-list-section {
  display: grid;
  gap: 1em;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
  gap: 1em;
}
