<div mat-dialog-content class="content">
  <div *ngIf="!qrCode" class="qr-container">
    <app-mat-spinner-overlay></app-mat-spinner-overlay>
  </div>
  <div *ngIf="qrCode && (RbacActivity.SEE_QR_CODE | rbac : this.rbacService.getActivities())" class="qr-container">
    <img alt="QR Code" class="qr-code" src="{{ qrCode }}"/>
    <a class="link" *ngIf="link" href="{{link}}">{{'orClickHere' | translate}}</a>
  </div>
</div>
<div class="button-container" mat-dialog-actions>
  <button (click)="closeDialog()" color="primary" mat-flat-button mat-raised-button
          type="button">{{'close' | translate}}
  </button>
</div>
