.button-container {
  display: flex;
  justify-content: center;
}

.mat-raised-button {
  width: 150px;
}

.qr-container {
  margin: 40px;
  display: flex;
  flex-direction: column;
}

.qr-code {
  display: block;
  max-width:400px;
  max-height:400px;
  width: auto;
  height: auto;
}

.link {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
