<div class="content">
  @if (!qrCode) {
    <div class="qr-container">
      <spinner-overlay></spinner-overlay>
    </div>
  }
  @if (qrCode && (RbacActivity.SEE_QR_CODE | hasPermission)) {
    <div class="qr-container">
      <img alt="QR Code" class="qr-code" src="{{ qrCode }}"/>
      @if (link && (RbacActivity.LINK_QR_CODE | hasPermission)) {
        <a class="link" target=”_blank”
        href="{{link}}">{{ 'orClickHere' | transloco }}</a>
      }
    </div>
  }
</div>
<div class="button-container">
  <button biit-button id="participant-qr-close"
    (click)="close()">
    {{ 'close' | transloco }}
  </button>
</div>
