<div class="content">
  <div *ngIf="!qrCode" class="qr-container">
    <app-mat-spinner-overlay></app-mat-spinner-overlay>
  </div>
  <div *ngIf="qrCode && (RbacActivity.SEE_QR_CODE | hasPermission)" class="qr-container">
    <img alt="QR Code" class="qr-code" src="{{ qrCode }}"/>
    <a class="link" target=”_blank” *ngIf="link && (RbacActivity.LINK_QR_CODE | hasPermission)"
       href="{{link}}">{{ 'orClickHere' | transloco }}</a>
  </div>
</div>
<div class="button-container">
  <button biit-button id="participant-qr-close"
          (click)="close()">
    {{ 'close' | transloco }}
  </button>
</div>
