.mat-dialog-actions {
  display: flex;
  justify-content: center;
}

.mat-raised-button {
  width: 150px;
}

.qr-container {
  margin: 40px;
  display: flex;
  flex-direction: column;
}

.qr-code {
  height: 400px;
}

.mat-dialog-content {
  overflow: clip;
}

.link {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
