<div *ngIf="chartOptions" class="frame">
  <div class="box shadow">
    <apx-chart #chart [chart]="chartOptions.chart"
               [colors]="chartOptions.colors"
               [fill]="chartOptions.fill"
               [labels]="chartOptions.labels"
               [legend]="chartOptions.legend"
               [plotOptions]="chartOptions.plotOptions"
               [series]="chartOptions.series"
               [theme]="chartOptions.theme"
               [title]="chartOptions.title"
               [tooltip]="chartOptions.tooltip"
               id="chart"
    ></apx-chart>
  </div>
</div>
