.user-card {
  margin: 10px;
  min-width: 300px;
  width: 95%;
  background-color: var(--floating-background);
  border: 3px solid var(--component-color);
  //box-shadow: 0 2px 1px -1px var(--card-shadow1), 0px 1px 1px 0px var(--card-shadow2), 0px 1px 3px 0px var(--card-shadow3) !important;
}

.locked {
  position: absolute;
  right: 16px;
  top: 16px;
}
