.softwaremagico {
  font-size: 150%;
}

.mat-toolbar {
  height: 7vh;
}

div {
  overflow: inherit;
}

.mat-sidenav-container {
  background-color: white;
  min-height: 93vh !important;
}

a {
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

.button {
  font-size: 110%;
}

.button-container {
  text-align: center;
  width: 100%;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content {
  font-size: 200%;
  text-align: center;
}
