@import '@angular/material/theming';

.softwaremagico {
  font-size: 150%;
}

:host(.dark-mode) {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background-color);
}
.mat-toolbar {
  height: 7vh;
}

div {
  overflow: inherit;
}

.mat-dialog-container {
  overflow: clip;
}

a {
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

.button {
  font-size: 110%;
}

.button-container {
  text-align: center;
  width: 100%;
}

.example-icon {
  padding: 0 14px;
}

.menu-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content {
  font-size: 200%;
  text-align: right;
}

// Top Menu
.filter-white {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(129deg) brightness(103%) contrast(101%);
}

.mat-toolbar-row {
  height: 64px;
  line-height: 64px;
}

.mat-toolbar.mat-primary.mat-toolbar-multiple-rows.ng-star-inserted.submenu {
  height: 128px;
  line-height: 128px;
}

.mat-toolbar-row.toolbar-submenu {
  font-size: 80%;
}

// Side menu
.mat-sidenav-container {
  min-height: 93vh;
}

.side-menu {
  width: 240px;
}

.left-menu-single-entry {
  margin-left: 7px;
  font-size: 15px;
  font-weight: 400;
}

.left-menu-selector-entry {
  align-items: center;
  display: flex;
  margin-left: 3px;
}

.kendo-icon {
  height: 24px;
  width: 24px;
  margin-right: 5px;
}

.left-kendo-icon {
  height: 20px;
  width: 20px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 3px;
  padding-left: 5px;
}

@media screen and (min-width: 960px) {
  .side-menu{
    display: none !important;
  }
}

@media screen and (max-width: 1600px) {
  .upper-menu-title {
    display: none !important;
  }
}

@media screen and (max-width: 1200px) {
  .app-title {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .app-title-reduced {
    display: none !important;
  }
}

@font-face {
  font-family: "Square Sans Serif 7";
  src: local("Square Sans Serif 7"), url(../assets/fonts/square_sans_serif_7.ttf) format("truetype");
}

.menu-text {
  color: var(--text-color);
}
