<div>
  <mat-toolbar color="primary" [ngClass]="{'submenu':selectedRow !== ''}" *ngIf="loggedIn">
    <mat-toolbar-row>
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <img class="filter-white" width="50" src="assets/img/kote.svg" alt="kote">
      <a mat-button class="softwaremagico" routerLink="/">
        <span class="app-title">Kendo Tournament Manager v2</span>
        <span class="app-title-red">KTM v2</span>
      </a>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button (click)="toggleMenu('Registry')">{{'registry' | translate}}
          <mat-icon *ngIf="selectedRow !== 'Registry'">expand_more</mat-icon>
          <mat-icon *ngIf="selectedRow === 'Registry'">expand_less</mat-icon>
        </a>
        <a mat-button routerLink="/tournaments">{{'tournaments' | translate}}</a>
<!***REMOVED***       <a mat-button routerLink="/reports">{{'reports' | translate}}</a>-->
        <a mat-button (click)="toggleMenu('Language')">
          {{'LanguageMenu' | translate}}
          <mat-icon *ngIf="selectedRow !== 'Language'">expand_more</mat-icon>
          <mat-icon *ngIf="selectedRow === 'Language'">expand_less</mat-icon>
        </a>
      </div>
    </mat-toolbar-row>
    <!***REMOVED***Submenu -->
    <mat-toolbar-row *ngIf="selectedRow === 'Registry'" class="toolbar-submenu">
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button routerLink="/clubs">
          <mat-icon>home</mat-icon>
          {{'clubs' | translate}}</a>
        <a mat-button routerLink="/participants">
          <mat-icon>people</mat-icon>
          {{'participants' | translate}}</a>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="selectedRow === 'Language'" class="toolbar-submenu">
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a *ngFor="let language of translate.getLangs()" mat-button (click)="switchLanguage(language); toggleMenu('')">
          <mat-icon>flag</mat-icon>
          {{language}}</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav class="side-menu" #sidenav mode="side" [class.mat-elevation-z4]="true">
      <mat-nav-list dense>
        <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
          <mat-expansion-panel-header>
            {{'registry' | translate}}
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <a mat-list-item routerLink="/clubs">
              <mat-icon>home</mat-icon>
              {{'clubs' | translate}}</a>
            <a mat-list-item routerLink="#">
              <mat-icon>people</mat-icon>
              People</a>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-list-item routerLink="/tournaments">
          <mat-icon>dashboard</mat-icon>
          {{'tournaments' | translate}}</mat-list-item>
<!***REMOVED***       <mat-list-item routerLink="/reports">-->
<!***REMOVED***         <mat-icon>dashboard</mat-icon>-->
<!***REMOVED***         {{'reports' | translate}}</mat-list-item>-->
        <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
          <mat-expansion-panel-header>
            {{'LanguageMenu' | translate}}
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <a *ngFor="let language of translate.getLangs()" mat-button (click)="switchLanguage(language);">
              <mat-icon>flag</mat-icon>
              {{language}}</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
