.softwaremagico {
  font-size: 150%;
}

.mat-toolbar {
  height: 7vh;
}

div {
  overflow: inherit;
}

.mat-sidenav-container {
  background-color: white;
  min-height: 93vh !important;
}

a {
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

.button {
  font-size: 110%;
}

.button-container {
  text-align: center;
  width: 100%;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content {
  font-size: 200%;
  text-align: right;
}

// Top Menu
.filter-white {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(129deg) brightness(103%) contrast(101%);
}

.mat-toolbar-row {
  height: 64px;
  line-height: 64px;
}

.mat-toolbar.mat-primary.mat-toolbar-multiple-rows.ng-star-inserted.submenu {
  height: 128px;
  line-height: 128px;
}

.mat-toolbar-row.toolbar-submenu {
  font-size: 80%;
}
