<div>
  <mat-toolbar color="primary" *ngIf="loggedIn">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="softwaremagico" routerLink="/">
      <span>{{title}}</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/clubs">{{'clubs' | translate}}</a>
      <a mat-button routerLink="/tournaments">{{'tournaments' | translate}}</a>
      <a mat-button routerLink="/reports">{{'reports' | translate}}</a>
      <mat-select [(value)]="selectedLanguage" (selectionChange)="switchLanguage(selectedLanguage.valueOf())">
        <mat-option *ngFor="let language of translate.getLangs()" [value]="language">
          <span> {{language}}</span>
        </mat-option>
      </mat-select>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true" >
      <div fxLayout="column">
        <a mat-button routerLink="/clubs">{{'clubs' | translate}}</a>
        <a mat-button routerLink="/tournaments">{{'tournaments' | translate}}</a>
        <a mat-button routerLink="/reports">{{'reports' | translate}}</a>
        <mat-select [(value)]="selectedLanguage" (selectionChange)="switchLanguage(selectedLanguage.valueOf())">
          <mat-option *ngFor="let language of translate.getLangs()" [value]="language">
            <span> {{language}}</span>
          </mat-option>
        </mat-select>
      </div>
    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
