.user-score {
  width: 100%;
  display: flex;
  align-items: center;
}

.user-name {
  width: 100%;
  padding-right: 20px;
  color: var(--component-color);
}

.reserve-separation{
  min-width: 135px;
  height: 50px;
  margin: 2px 0;
}

@media screen and (max-width: 1024px) {
  .participant-picture {
    display: none !important;
  }
}

