.user-score {
  width: 100%;
  display: flex;
  align-items: center;
}

.user-name {
  width: 100%;
  padding-right: 20px;
  color: var(--text-color);
}

@media screen and (max-width: 1024px) {
  .participant-picture {
    display: none !important;
  }
}

