.mat-dialog-actions {
  display: flex;
  justify-content: center;
}

.mat-raised-button {
  width: 150px;
}

.options {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  min-height: 50px;
}

.mat-slide-toggle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mat-form-field {
  margin-top: 20px;
  margin-bottom: 25px;
}

::ng-deep .mat-slide-toggle-label .mat-slide-toggle-content {
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
}
