<app-mat-spinner-overlay [overlay]="true"></app-mat-spinner-overlay>
<h1 mat-dialog-title>{{title}}</h1>
<div class="options">
<!--  <mat-slide-toggle *ngIf="canHaveDuplicated"-->
<!--                    [formControl]="avoidDuplicates">{{'avoidDuplicateFights' | translate }}-->
<!--  </mat-slide-toggle>-->
<!--  <mat-form-field *ngIf="needsDrawResolution">-->
<!--    <mat-label>{{'drawResolution' | translate}}</mat-label>-->
<!--    <mat-select (selectionChange)="select($event.value)" [(value)]="selectedDrawResolution">-->
<!--      <mat-option *ngFor="let resolution of drawResolution" [matTooltipShowDelay]="500"-->
<!--                  [value]="resolution" matTooltip="{{getDrawResolutionHintTag(resolution) | translate}}">-->
<!--        {{getDrawResolutionTranslationTag(resolution) | translate}}-->
<!--      </mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
</div>
