.user-name {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-height: 25px;
}

.user-name.left {
  padding-right: 20px;
  text-align: right;
}

.user-name.right {
  padding-left: 20px;
  text-align: left;
}

.user-name-text {
  display: inline-block;
}

.user-name-text.highlighted {
  background-color: yellow;
}

.left .drag-handle {
  float: left;
}

.right .drag-handle {
  float: right;
}
