<div *ngIf="participant" [cdkDragData]="participant" [class.left]="left" [class.right]="!left"
     cdkDrag
     class="user-name">
  <div cdkDragHandle class="drag-handle">
    <mat-icon *ngIf="reorderAllowed && (this.duel.duration ? this.duel.duration < 1 : true)"
    class="kendo-icon" svgIcon="swap_vertical"></mat-icon>
  </div>
  <div class="user-name-text" [ngClass]="{'highlighted': highlightParticipant()}" (dblclick)="openStatistics()">
    {{ displayName }}
  </div>
</div>
<div *ngIf="!participant" [cdkDragData]="participant" [class.left]="left" [class.right]="!left" cdkDrag
     class="user-name">
  <div cdkDragHandle class="drag-handle">
    <mat-icon *ngIf="reorderAllowed && (this.duel.duration ? this.duel.duration < 1 : true)"
              class="kendo-icon" svgIcon="swap_vertical"></mat-icon>
  </div>
  --- ---
</div>
