.user-name {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-height: 25px;
}

.user-name.left {
  padding-right: 20px;
  text-align: right;
}

.user-name.right {
  padding-left: 20px;
  text-align: left;
}

.user-name-text {
  display: inline-block;
  font-size: 150%;
}

.user-name-text.highlighted {
  font-weight: bold;
  color: var(--text-highlighted);
}

.left .drag-handle {
  float: left;
}

.right .drag-handle {
  float: right;
}
