@if (participant) {
  <div [cdkDragData]="participant" [class.left]="left" [class.right]="!left"
    cdkDrag
    class="user-name" [class.over]="over && !locked">
    <div cdkDragHandle class="drag-handle">
      @if (reorderAllowed && (this.duel.duration ? this.duel.duration < 1 : true)) {
        <mat-icon
        class="kendo-icon" svgIcon="swap_vertical"></mat-icon>
      }
    </div>
    <div class="user-name-text" [ngClass]="{'highlighted': highlightParticipant()}" (dblclick)="openStatistics()">
      {{ displayName }}
    </div>
  </div>
}
@if (!participant) {
  <div [cdkDragData]="participant" [class.left]="left" [class.right]="!left" cdkDrag
    class="user-name" [class.over]="over && !locked">
    <div cdkDragHandle class="drag-handle">
      @if (reorderAllowed && (this.duel.duration ? this.duel.duration < 1 : true)) {
        <mat-icon
        class="kendo-icon" svgIcon="swap_vertical"></mat-icon>
      }
    </div>
    --- ---
  </div>
}
