.score-area {
  height: 50px;
  width: 50px;
  border-width: 1px;
  border-color: var(--primay-color);
  border-style: solid;
  margin: 2px 0px;
  justify-content: center;
  align-items: center;
}

.point {
  border-radius: 50%;
  border: 3px solid var(--primay-color);
  color: var(--primay-color);
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 130%;
}
