<div [matMenuTriggerFor]="duel.finished ? null : menu" class="score-area" *ngIf="!locked &&
(RbacActivity.EDIT_DUEL | rbac : this.rbacService.getActivities())">
  <mat-menu #menu="matMenu">
    <button [disabled]="duel.finished" (click)="updateScore(score)" *ngFor="let score of possibleScores()"
            mat-menu-item>{{ Score.toCamel(score) | translate }}
    </button>
  </mat-menu>
  <div (mouseout)="clearCoordinates()" (mouseover)="updateCoordinates($event)" *ngIf="scoreRepresentation!==''"
       (focus)="clearCoordinates();"
       (blur)="clearCoordinates();"
       class="point" [ngClass]="{'hidden-point': scoreRepresentation === 'F'}">
    <span class="point-value">{{ scoreRepresentation }}</span>
    <div *ngIf="this.timeRepresentation" [innerHTML]="tooltipText()"
         [ngClass]="{
          'left-border': onLeftBorder,
          'center': !onRightBorder && !onLeftBorder,
          'right-border': onRightBorder
        }"
         class="tooltip-time-popup">
      <mat-icon>timer</mat-icon>
    </div>
  </div>
</div>
<!-- Score representation when menu is disabled -->
<div class="score-area" *ngIf="locked || !(RbacActivity.EDIT_DUEL | rbac : this.rbacService.getActivities())">
  <div class="point" *ngIf="scoreRepresentation!==''">
    {{ scoreRepresentation }}
    <div *ngIf="this.timeRepresentation" [innerHTML]="tooltipText()"
         [ngClass]="{
          'left-border': onLeftBorder,
          'center': !onRightBorder && !onLeftBorder,
          'right-border': onRightBorder
        }"
         class="tooltip-time-popup">
      <mat-icon>timer</mat-icon>
    </div>
  </div>
</div>

