@if (!locked &&
  (RbacActivity.EDIT_DUEL | hasPermission)) {
  <div [matMenuTriggerFor]="duel.finished || projectMode ? null : menu" class="score-area" [class.over]="over && !locked">
    <mat-menu #menu="matMenu">
      @for (score of possibleScores(); track score) {
        <button [disabled]="duel.finished" (click)="updateScore(score)"
          mat-menu-item>{{ Score.toCamel(score) | transloco }}
        </button>
      }
    </mat-menu>
    @if (scoreRepresentation!=='') {
      <div (mouseout)="clearCoordinates()" (mouseover)="updateCoordinates($event)"
        (focus)="clearCoordinates();"
        (blur)="clearCoordinates();"
        class="point" [ngClass]="{'hidden-point': scoreRepresentation === 'F'}" [class.over]="over && !locked">
        <span class="point-value">{{ scoreRepresentation }}</span>
        @if (this.timeRepresentation) {
          <div [innerHTML]="tooltipText()"
         [ngClass]="{
          'left-border': onLeftBorder,
          'center': !onRightBorder && !onLeftBorder,
          'right-border': onRightBorder
        }"
            class="tooltip-time-popup">
            <mat-icon class="kendo-icon" svgIcon="timer"></mat-icon>
          </div>
        }
      </div>
    }
  </div>
}
<!-- Score representation when menu is disabled -->
@if (locked || !(RbacActivity.EDIT_DUEL | hasPermission)) {
  <div class="score-area" [class.over]="over && !locked">
    @if (scoreRepresentation!=='') {
      <div class="point" [class.over]="over && !locked">
        {{ scoreRepresentation }}
        @if (this.timeRepresentation) {
          <div [innerHTML]="tooltipText()"
         [ngClass]="{
          'left-border': onLeftBorder,
          'center': !onRightBorder && !onLeftBorder,
          'right-border': onRightBorder
        }"
            class="tooltip-time-popup">
            <mat-icon class="kendo-icon" svgIcon="timer"></mat-icon>
          </div>
        }
      </div>
    }
  </div>
}

