.score-area {
  height: 50px;
  width: 50px;
  border-width: 1px;
  border-color: var(--primay-color);
  border-style: solid;
  margin: 2px 0;
  display: flex;
  flex-direction: column;
}

.point {
  border-radius: 50%;
  border: 3px solid var(--component-color);
  color: var(--component-color);
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 200%;
  flex-grow: 1;
  height: 20px;
  min-width: 20px;
  position: relative;
}

.point .tooltip-time-popup {
  visibility: hidden;
  width: 120px;
  min-height: 50px;
  background-color: var(--tooltip-background);
  color: var(--tooltip-text);
  text-align: center;
  padding: 5px 0;
  border: 3px solid var(--component-color);
  font-size: 12px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1000;
  top: 125%;
  left: 50%;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.point .tooltip-time-popup.left-border {
  margin-left: -40px;
}

.point .tooltip-time-popup.right-border {
  margin-left: -260px;
}

.tooltip-time-popup.center {
  translate: -50%;
}

/* Tooltip arrow */
.point .tooltip-time-popup::after {
  content: "";
  position: absolute;
  top: -37%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--component-color) transparent;
}

.time-tooltip-text {
  height: 100%;
  text-align: center;
  margin-left: 5px;
}


/* Show the tooltip text when you mouse over the tooltip container */
.point:hover .tooltip-time-popup {
  visibility: visible;
  opacity: 1;
  background: var(--floating-background);
  img{
    margin-top: 10px;
  }
}

.time-tooltip-container {
  width: 100%;
  height: 30px;
  background: var(--floating-background);
}

.time-tooltip {
  line-height: 30px;
  vertical-align: middle;
  padding-right: 3px;
  padding-left: 2px;
}

.disabled {
  pointer-events: none;
  opacity: .5;
}

//Score menu
.mat-mdc-menu-panel.mat-mdc-menu-panel {
  background: var(--floating-background);
  border: 3px solid var(--component-color);
  padding: 0 10px 0 10px;

  .mat-mdc-menu-item.mdc-list-item:hover {
    background: var(--hover-color);
  }
}
