<div class="team-area">
  <div class="team-name">{{ team.name }}</div>
  <div class="users-container">
    @for (user of members; track user) {
      <div class="user-selectable"
        (click)="selectUser(user)"
        (keydown.enter)="selectUser(user)"
        tabindex="0"
        role="button"
        [attr.aria-pressed]="isSelected(user)">
        <user-card [user]="user" [dragDisabled]="true"
        [ngClass]="{'selected': isSelected(user)}"></user-card>
      </div>
    }
  </div>
</div>
