<div cdkDropListGroup class="team-area">
  <h2>{{team.name}}</h2>
  <div (cdkDropListDropped)="dropParticipant($event)" [cdkDropListData]="members" [cdkDropListSortingDisabled]="false"
       cdkDropList
       class="users-container">
    <user-card *ngFor="let user of members" [user]="user"></user-card>
  </div>
  <h2 class="representative-title">{{'representative' | transloco}}</h2>
  <div (cdkDropListDropped)="dropParticipant($event)" [cdkDropListData]="selectedMembers"
       [cdkDropListEnterPredicate]="checkDroppedElement"
       [cdkDropListSortingDisabled]="false" cdkDropList
       class="representative-user">
    <user-card *ngFor="let user of selectedMembers" [user]="user"></user-card>
  </div>
</div>
