.team-area {
  min-width: 200px;
  max-width: 500px;
  padding: 1em;
  width: 500px;
  margin: 1em;
}

.untie-generator {
  border: 3px solid var(--component-color);
}

.team-name {
  background-color: var(--component-color);
  color: var(--main-background);
  display: flex;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.users-container {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 450px;
  border: 3px solid var(--component-color);
}

.user-card {
  margin: 20px;
  border-radius: 10px;
  height: 40px;
  min-width: 350px;
}

::ng-deep .selected .user-card {
  background-color: var(--selected-color) !important;
}

.representative-user {
  min-height: 100px;
  border-color: var(--dragable-area);
  border-radius: 15px;
  border-style: dotted;
}

.mat-card-header .mat-card-title {
  font-size: 16px;
}

.mat-card-header .mat-card-subtitle {
  font-size: 12px;
}

.representative-title {
  padding-top: 30px;
}
