.achievement-wall {
  display: flex;
  flex-wrap: wrap;
  //background-color: #012f67;
  //border: 7px #000000 solid;
  //border-radius: 15px;
  overflow-y: auto;
  max-height: 230px;
  padding: 10px;
}
