<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="KendoTournament">
    <listeners>
        <listener class-name="com.softwaremagico.kt.TestListener"/>
    </listeners>

    <test name="KendoTournament" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="scoreListPdf"/>
                <include name="accreditationPdf"/>
                <include name="diplomaPdf"/>
                <include name="qrPdf"/>
                <include name="blogTests"/>
            </run>
        </groups>
        <classes>
            <class name="com.softwaremagico.kt.pdf.ListTests"/>
            <class name="com.softwaremagico.kt.pdf.AccreditationTests"/>
            <class name="com.softwaremagico.kt.pdf.DiplomaTests"/>
            <class name="com.softwaremagico.kt.pdf.QrTests"/>
            <class name="com.softwaremagico.kt.html.HtmlTests"/>
        </classes>
    </test>
</suite>
