<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="KendoTournament">
    <test name="KendoTournament" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="leagueTest"/>
                <include name="simpleChampionshipTest"/>
                <include name="loopChampionshipTest"/>
                <include name="kingOfTheMountainTest"/>
                <include name="converterTests"/>
                <include name="scoreTests"/>
                <include name="roleAchievementTests"/>
                <include name="tournamentTypeAchievementTests"/>
                <include name="scoreAchievementTests"/>
                <include name="darumaAchievementTests"/>
                <include name="statisticsTests"/>
                <include name="tournamentTest"/>
                <include name="tournamentTwoWinnersTest"/>
                <include name="tournament5GroupsTest"/>
                <include name="tournament5GroupsTwoWinnersTest"/>
                <include name="tournamentLevelNotFinishedTest"/>
                <include name="groupsTest"/>
            </run>
        </groups>
        <classes>
            <class name="com.softwaremagico.kt.core.tests.LeagueTest"/>
            <class name="com.softwaremagico.kt.core.tests.SimpleLeagueTest"/>
            <class name="com.softwaremagico.kt.core.tests.tournament.TournamentTest"/>
            <class name="com.softwaremagico.kt.core.tests.tournament.TournamentTwoWinnersTest"/>
            <class name="com.softwaremagico.kt.core.tests.tournament.Tournament5GroupsTest"/>
            <class name="com.softwaremagico.kt.core.tests.tournament.Tournament5GroupsTwoWinnersTest"/>
            <class name="com.softwaremagico.kt.core.tests.tournament.TournamentLevelNotFinishedTest"/>
            <class name="com.softwaremagico.kt.core.tests.LoopLeagueTest"/>
            <class name="com.softwaremagico.kt.core.tests.KingOfTheMountainTest"/>
            <class name="com.softwaremagico.kt.core.tests.KingOfTheMountainFiFoTest"/>
            <class name="com.softwaremagico.kt.core.tests.KingOfTheMountainLiFoTest"/>
            <class name="com.softwaremagico.kt.core.tests.ConverterTest"/>
            <class name="com.softwaremagico.kt.core.tests.ScoreTest"/>
            <class name="com.softwaremagico.kt.core.tests.achievements.RoleAchievementsTest"/>
            <class name="com.softwaremagico.kt.core.tests.achievements.ScoreAchievementsTest"/>
            <class name="com.softwaremagico.kt.core.tests.achievements.TimeTournamentTestUtils"/>
            <class name="com.softwaremagico.kt.core.tests.achievements.TournamentTypeAchievementsTest"/>
            <class name="com.softwaremagico.kt.core.tests.StatisticsTest"/>
            <class name="com.softwaremagico.kt.core.tests.GroupTreeTest"/>
        </classes>
    </test>
</suite>
