<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="KendoTournament">
    <test name="KendoTournament" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="leagueTest"/>
                <include name="simpleChampionshipTest"/>
                <include name="loopChampionshipTest"/>
                <include name="kingOfTheMountainTest"/>
                <include name="converterTests"/>
                <include name="scoreTests"/>
                <include name="roleAchievementTests"/>
                <include name="scoreAchievementTests"/>
                <include name="darumaAchievementTests"/>
                <include name="statisticsTests"/>
            </run>
        </groups>
        <classes>
            <class name="com.softwaremagico.kt.core.tests.LeagueTest"/>
            <class name="com.softwaremagico.kt.core.tests.SimpleChampionshipTest"/>
            <class name="com.softwaremagico.kt.core.tests.LoopChampionshipTest"/>
            <class name="com.softwaremagico.kt.core.tests.KingOfTheMountainTest"/>
            <class name="com.softwaremagico.kt.core.tests.ConverterTest"/>
            <class name="com.softwaremagico.kt.core.tests.ScoreTest"/>
            <class name="com.softwaremagico.kt.core.tests.achievements.RoleAchievementsTest"/>
            <class name="com.softwaremagico.kt.core.tests.achievements.ScoreAchievementsTest"/>
            <class name="com.softwaremagico.kt.core.tests.achievements.TimeTournamentTestUtils"/>
            <class name="com.softwaremagico.kt.core.tests.StatisticsTest"/>
        </classes>
    </test>
</suite>
