<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="KendoTournament">
    <test name="KendoTournament" enabled="true" preserve-order="true">
        <groups>
            <run>
                <!-- <include name="" /> -->
            </run>
        </groups>
        <classes>
            <!-- <class name="com.softwaremagico."/> -->
        </classes>
    </test>
</suite>
