.user-score {
  width: 50%;
  display: flex;
  align-items: center;
}

.draw-score {
  width: 10%;
  max-width: 20px;
  height: 50px;
  display: flex;
}

.substitute-separation {
  width: 20px;
  max-width: 50px;
  height: 100%;
}
