<user-score (cdkDropListDropped)="drop($event, true)" [cdkDropListEnterPredicate]="dropListEnterPredicate(fight, true)"
            [duelIndex]="duelIndex" [duel]="duel" [left]="true"
            [showAvatar]="showAvatars"
            [locked]="locked"
            [highlightedParticipantId]="highlightedParticipantId"
            [swapTeams]="swapTeams" cdkDropList
            class="user-score"></user-score>
<draw [duel]="duel" class="draw-score"></draw>
<user-score (cdkDropListDropped)="drop($event, false)"
            [cdkDropListEnterPredicate]="dropListEnterPredicate(fight, false)" [duelIndex]="duelIndex" [duel]="duel"
            [left]="false"
            [showAvatar]="showAvatars"
            [locked]="locked"
            [highlightedParticipantId]="highlightedParticipantId"
            [swapTeams]="swapTeams" cdkDropList
            class="user-score"></user-score>

