<user-score (cdkDropListDropped)="drop($event, true)" [cdkDropListEnterPredicate]="dropListEnterPredicate(fight, true)"
            [duelIndex]="duelIndex"
            [fight]="fight"
            [duel]="duel"
            [left]="true"
            [showAvatar]="showAvatars"
            [locked]="locked"
            [highlightedParticipantId]="highlightedParticipantId"
            [fightSelected]="fightSelected"
            [swapTeams]="swapTeams"
            [projectMode]="projectMode"
            [substitute]="substitute"
            cdkDropList
            class="user-score"></user-score>
<draw *ngIf="!duel.substitute" [duel]="duel" class="draw-score"></draw>
<div *ngIf="duel.substitute" class="substitute-separation"></div>
<user-score (cdkDropListDropped)="drop($event, false)"
            [cdkDropListEnterPredicate]="dropListEnterPredicate(fight, false)"
            [duelIndex]="duelIndex"
            [fight]="fight"
            [duel]="duel"
            [left]="false"
            [showAvatar]="showAvatars"
            [locked]="locked"
            [highlightedParticipantId]="highlightedParticipantId"
            [fightSelected]="fightSelected"
            [swapTeams]="swapTeams"
            [projectMode]="projectMode"
            [substitute]="substitute"
            cdkDropList
            class="user-score"></user-score>

