<app-mat-spinner-overlay [overlay]="true"></app-mat-spinner-overlay>
<div mat-dialog-content>
  <div class="picture-uploaded">
    <div class="image-editor">
      <mat-slider #mySlider (valueChange)="sliderOnChange(mySlider.value)"
                  *ngIf="insertedTournamentImageType === diplomaType"
                  [(ngModel)]="sliderValue" [vertical]="true" class="name-position-selector" max="100" min="1"
                  thumbLabel
                  tickInterval="1"></mat-slider>
      <div [class.accreditation-width]="insertedTournamentImageType === accreditationType"
           [class.alone]="insertedTournamentImageType !== diplomaType"
           [class.banner-width]="insertedTournamentImageType === bannerType"
           [class.diploma-width]="insertedTournamentImageType === diplomaType"
           [class.photo-width]="insertedTournamentImageType === photoType"
           [style.height]="getHeight()+'px'"
           class="content">
        <div *ngIf="insertedTournamentImageType === diplomaType"
             [class.accreditation-width]="insertedTournamentImageType === accreditationType"
             [class.banner-width]="insertedTournamentImageType === bannerType"
             [class.diploma-width]="insertedTournamentImageType === diplomaType"
             [class.photo-width]="insertedTournamentImageType === photoType"
             [style.margin-top]="getLinePosition()+'px'"
             class="name-line"></div>
        <span *ngIf="insertedTournamentImageType === diplomaType"
              [class.accreditation-width]="insertedTournamentImageType === accreditationType"
              [class.banner-width]="insertedTournamentImageType === bannerType"
              [class.diploma-width]="insertedTournamentImageType === diplomaType"
              [class.photo-width]="insertedTournamentImageType === photoType"
              [style.margin-top]="(getLinePosition()-10)+'px'"
              class="name">
          {{'nameExample' | translate}}</span>
        <img *ngIf="image" alt="Preview"
             class="image-preview" src="{{ image }}"/>
        <div *ngIf="!image" class="empty-image image-preview">
        </div>
        <button (click)="fileInput.click()"
                *ngIf="(RbacActivity.UPLOAD_TOURNAMENT_ACCREDITATION | rbac : this.rbacService.getActivities())"
                [class.upload-accreditation]="insertedTournamentImageType === accreditationType"
                [class.upload-banner]="insertedTournamentImageType === bannerType"
                [class.upload-diploma]="insertedTournamentImageType === diplomaType"
                [class.upload-photo]="insertedTournamentImageType === photoType"
                class="floating-button"
                color="picture"
                mat-flat-button
                mat-mini-fab
                type="button">
          <mat-icon>upload_file</mat-icon>
          <input #fileInput (change)="handleFileInput($event)" accept=".jpg,.jpeg,.png" style="display:none;"
                 type="file"/>
        </button>
        <button (click)="downloadPreview(insertedTournamentImageType)" *ngIf="image!==undefined"
                [class.preview-accreditation]="insertedTournamentImageType === accreditationType"
                [class.preview-banner]="insertedTournamentImageType === bannerType"
                [class.preview-diploma]="insertedTournamentImageType === diplomaType"
                [class.preview-photo]="insertedTournamentImageType === photoType"
                class="floating-button" color="primary" mat-flat-button mat-mini-fab
                type="button">
          <mat-icon>preview</mat-icon>
        </button>
        <button (click)="deletePicture(insertedTournamentImageType)" *ngIf="image!==undefined"
                [class.cancel-accreditation]="insertedTournamentImageType === accreditationType"
                [class.cancel-banner]="insertedTournamentImageType === bannerType"
                [class.cancel-diploma]="insertedTournamentImageType === diplomaType"
                [class.cancel-photo]="insertedTournamentImageType === photoType"
                class="floating-button" color="warn" mat-flat-button mat-mini-fab
                type="button">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button (click)="selectType(accreditationType)"
            *ngIf="(RbacActivity.UPLOAD_TOURNAMENT_ACCREDITATION | rbac : this.rbacService.getActivities())"
            [class.selected-button]="insertedTournamentImageType === accreditationType"
            color="picture"
            mat-flat-button mat-raised-button
            type="button">
      <mat-icon>badge</mat-icon>
      {{'accreditation' | translate}}
    </button>
    <button (click)="selectType(photoType)"
            *ngIf="(RbacActivity.UPLOAD_TOURNAMENT_PHOTO | rbac : this.rbacService.getActivities())"
            [class.selected-button]="insertedTournamentImageType === photoType"
            color="picture"
            mat-flat-button mat-raised-button
            type="button">
      <mat-icon>face</mat-icon>
      {{'photo' | translate}}
    </button>
    <button (click)="selectType(diplomaType)"
            *ngIf="(RbacActivity.UPLOAD_TOURNAMENT_DIPLOMA | rbac : this.rbacService.getActivities())"
            [class.selected-button]="insertedTournamentImageType === diplomaType"
            color="picture"
            mat-flat-button mat-raised-button
            type="button">
      <mat-icon class="kendo-icon" svgIcon="diplomas"></mat-icon>
      {{'diplomas' | translate}}
    </button>
    <button (click)="selectType(bannerType)"
            *ngIf="(RbacActivity.UPLOAD_TOURNAMENT_BANNER | rbac : this.rbacService.getActivities())"
            [class.selected-button]="insertedTournamentImageType ===  bannerType"
            color="picture"
            mat-flat-button mat-raised-button
            type="button">
      <mat-icon>featured_video</mat-icon>
      {{'banner' | translate}}
    </button>
    <button (click)="closeDialog()" color="warn" mat-flat-button mat-raised-button type="button">
      <mat-icon>cancel</mat-icon>
      {{'close' | translate}}
    </button>
  </div>
</div>
