<app-mat-spinner-overlay [overlay]="true"></app-mat-spinner-overlay>
<div mat-dialog-content>
  <div class="picture-uploaded" *ngIf="image">
    <img class="image-preview"
         [class.accreditation-size]="insertedTournamentImageType === accreditationType"
         [class.diploma-size]="insertedTournamentImageType === diplomaType"
         [class.banner-size]="insertedTournamentImageType === bannerType"
         src="{{ image }}" alt="Uploaded Picture"/>
    <button class="floating-button"
            [class.cancel-accreditation]="insertedTournamentImageType === accreditationType"
            [class.cancel-diploma]="insertedTournamentImageType === diplomaType"
            [class.cancel-banner]="insertedTournamentImageType === bannerType"
            mat-mini-fab type="button" (click)="deletePicture(insertedTournamentImageType)" mat-flat-button color="warn">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="picture" type="button" (click)="fileInput.click()" mat-flat-button
            *ngIf="(RbacActivity.UPLOAD_TOURNAMENT_ACCREDITATION | rbac : this.rbacService.activities)">
      <mat-icon>upload_file</mat-icon>
      {{'accreditation' | translate}}
      <input #fileInput type="file" accept=".jpg,.jpeg,.png" (change)="handleFileInput($event, accreditationType)"
             style="display:none;"/>
    </button>
    <button mat-raised-button color="picture" type="button" (click)="fileInput.click()" mat-flat-button
            *ngIf="(RbacActivity.UPLOAD_TOURNAMENT_BANNER | rbac : this.rbacService.activities)">
      <mat-icon>upload_file</mat-icon>
      {{'diplomas' | translate}}
      <input #fileInput type="file" accept=".jpg,.jpeg,.png" (change)="handleFileInput($event, diplomaType)"
             style="display:none;"/>
    </button>
    <button mat-raised-button color="picture" type="button" (click)="fileInput.click()" mat-flat-button
            *ngIf="(RbacActivity.UPLOAD_TOURNAMENT_DIPLOMA | rbac : this.rbacService.activities)">
      <mat-icon>upload_file</mat-icon>
      {{'banner' | translate}}
      <input #fileInput type="file" accept=".jpg,.jpeg,.png" (change)="handleFileInput($event, bannerType)"
             style="display:none;"/>
    </button>
    <button mat-raised-button type="button" (click)="closeDialog()" mat-flat-button color="warn">
      <mat-icon>cancel</mat-icon>
      {{'close' | translate}}</button>
  </div>
</div>
