.picture-uploaded {
  overflow: hidden;
  max-height: 60vh;
  padding-right: 15px;
}

.image-preview {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: fill;
}

.accreditation-size {
  height: 535px;
  width: 380px;
}

.diploma-size {
  height: 372px;
  width: 514px;
}

.banner-size {
  height: 135px;
  width: 672px;
}

.mat-raised-button {
  width: 150px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
}

.mat-dialog-content {
  overflow: visible;
}

.mat-picture {
  background-color: green;
  color: #fff;
}
