.picture-uploaded {
  overflow: hidden;
  padding-right: 15px;
}

.image-preview {
  height: 99%;
}

.alone {
  margin-left: auto;
}

.name-line {
  position: absolute;
  height: 1px;
  background: red;
  width: 100%;
}

.name{
  position: absolute;
  width: 100%;
  font-size: 36px;
  text-align: center;
}

.content {
  display: block;
  margin-right: auto;
  object-fit: fill;
}

.image-editor {
  width: 100%; /* Your element needs a fixed width */
  display: flex;
  justify-content: space-between;
}

.name-position-selector {
  margin-left: auto;
  margin-bottom: -6px;
  margin-top: -6px;
}

.accreditation-height {
  height: 535px;
}

.diploma-height {
  height: 372px;
}

.banner-height {
  height: 135px;
}

.photo-height {
  height: 266px;
}

.accreditation-width {
  width: 380px;
}

.diploma-width {
  width: 514px;
}

.banner-width {
  width: 672px;
}

.photo-width {
  width: 223px;
}

.mat-raised-button {
  width: 150px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
}

.mat-dialog-content {
  overflow: visible;
}

.mat-picture {
  background-color: green;
  color: #fff;
}

.floating-button {
  position: absolute;
}

.cancel-accreditation {
  margin-left: 50px;
}

.cancel-diploma {
  margin-left: 50px;
}

.cancel-banner {
  margin-left: 50px;
}

.cancel-photo {
  margin-left: 50px;
}

.preview-accreditation {
  margin-left: 0;
}

.preview-diploma {
  margin-left: 0;
}

.preview-banner {
  margin-left: 0;
}

.preview-photo {
  margin-left: 0;
}

.upload-accreditation {
  margin-left: -50px;
}

.upload-diploma {
  margin-left: -50px;
}

.upload-banner {
  margin-left: -50px;
}

.upload-photo {
  margin-left: -50px;
}

.selected-button {
  border: red 2px solid;
}

.empty-image {
  border: #012a5f 2px solid;
}
