<app-mat-spinner-overlay [overlay]="true"></app-mat-spinner-overlay>
<div mat-dialog-content>
  <div class="picture-uploaded">
    <div class="image-editor">
      <mat-slider #mySlider class="name-position-selector" *ngIf="insertedTournamentImageType === diplomaType"
                  thumbLabel tickInterval="1" min="1" [vertical]="true" max="100" [(ngModel)]="sliderValue"
                  (valueChange)="sliderOnChange(mySlider.value)"></mat-slider>
      <div class="content"
           [class.alone]="insertedTournamentImageType !== diplomaType"
           [style.height]="getHeight()+'px'"
           [class.accreditation-width]="insertedTournamentImageType === accreditationType"
           [class.diploma-width]="insertedTournamentImageType === diplomaType"
           [class.banner-width]="insertedTournamentImageType === bannerType"
           [class.photo-width]="insertedTournamentImageType === photoType">
        <div class="name-line" *ngIf="insertedTournamentImageType === diplomaType"
             [class.accreditation-width]="insertedTournamentImageType === accreditationType"
             [class.diploma-width]="insertedTournamentImageType === diplomaType"
             [class.banner-width]="insertedTournamentImageType === bannerType"
             [class.photo-width]="insertedTournamentImageType === photoType"
             [style.margin-top]="getLinePosition()+'px'"></div>
        <span class="name" *ngIf="insertedTournamentImageType === diplomaType"
              [class.accreditation-width]="insertedTournamentImageType === accreditationType"
              [class.diploma-width]="insertedTournamentImageType === diplomaType"
              [class.banner-width]="insertedTournamentImageType === bannerType"
              [class.photo-width]="insertedTournamentImageType === photoType"
              [style.margin-top]="(getLinePosition()-10)+'px'">
          {{'nameExample' | translate}}</span>
        <img class="image-preview" *ngIf="image"
             src="{{ image }}" alt="Image preview"/>
        <div *ngIf="!image" class="empty-image image-preview">
        </div>
        <button class="floating-button" mat-mini-fab color="picture" type="button" (click)="fileInput.click()"
                [class.upload-accreditation]="insertedTournamentImageType === accreditationType"
                [class.upload-diploma]="insertedTournamentImageType === diplomaType"
                [class.upload-banner]="insertedTournamentImageType === bannerType"
                [class.upload-photo]="insertedTournamentImageType === photoType"
                mat-flat-button
                *ngIf="(RbacActivity.UPLOAD_TOURNAMENT_ACCREDITATION | rbac : this.rbacService.activities)">
          <mat-icon>upload_file</mat-icon>
          <input #fileInput type="file" accept=".jpg,.jpeg,.png" (change)="handleFileInput($event)"
                 style="display:none;"/>
        </button>
        <button class="floating-button" *ngIf="image!==undefined"
                [class.preview-accreditation]="insertedTournamentImageType === accreditationType"
                [class.preview-diploma]="insertedTournamentImageType === diplomaType"
                [class.preview-banner]="insertedTournamentImageType === bannerType"
                [class.preview-photo]="insertedTournamentImageType === photoType"
                mat-mini-fab type="button" (click)="downloadPreview(insertedTournamentImageType)" mat-flat-button
                color="primary">
          <mat-icon>preview</mat-icon>
        </button>
        <button class="floating-button" *ngIf="image!==undefined"
                [class.cancel-accreditation]="insertedTournamentImageType === accreditationType"
                [class.cancel-diploma]="insertedTournamentImageType === diplomaType"
                [class.cancel-banner]="insertedTournamentImageType === bannerType"
                [class.cancel-photo]="insertedTournamentImageType === photoType"
                mat-mini-fab type="button" (click)="deletePicture(insertedTournamentImageType)" mat-flat-button
                color="warn">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="picture" type="button"
            [class.selected-button]="insertedTournamentImageType === accreditationType"
            (click)="selectType(accreditationType)" mat-flat-button
            *ngIf="(RbacActivity.UPLOAD_TOURNAMENT_ACCREDITATION | rbac : this.rbacService.activities)">
      <mat-icon>badge</mat-icon>
      {{'accreditation' | translate}}
    </button>
    <button mat-raised-button color="picture" type="button"
            [class.selected-button]="insertedTournamentImageType === photoType"
            (click)="selectType(photoType)" mat-flat-button
            *ngIf="(RbacActivity.UPLOAD_TOURNAMENT_PHOTO | rbac : this.rbacService.activities)">
      <mat-icon>face</mat-icon>
      {{'photo' | translate}}
    </button>
    <button mat-raised-button color="picture" type="button"
            [class.selected-button]="insertedTournamentImageType === diplomaType"
            (click)="selectType(diplomaType)" mat-flat-button
            *ngIf="(RbacActivity.UPLOAD_TOURNAMENT_DIPLOMA | rbac : this.rbacService.activities)">
      <mat-icon svgIcon="diplomas" class="kendo-icon"></mat-icon>
      {{'diplomas' | translate}}
    </button>
    <button mat-raised-button color="picture" type="button"
            [class.selected-button]="insertedTournamentImageType ===  bannerType"
            (click)="selectType(bannerType)" mat-flat-button
            *ngIf="(RbacActivity.UPLOAD_TOURNAMENT_BANNER | rbac : this.rbacService.activities)">
      <mat-icon>featured_video</mat-icon>
      {{'banner' | translate}}
    </button>
    <button mat-raised-button type="button" (click)="closeDialog()" mat-flat-button color="warn">
      <mat-icon>cancel</mat-icon>
      {{'close' | translate}}</button>
  </div>
</div>
