.picture-uploaded {
  overflow: hidden;
  padding-right: 15px;
}

.image-preview {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: fill;
}

.accreditation-size {
  height: 535px;
  width: 380px;
}

.diploma-size {
  height: 372px;
  width: 514px;
}

.banner-size {
  height: 135px;
  width: 672px;
}

.mat-raised-button {
  width: 150px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
}

.mat-dialog-content {
  overflow: visible;
}

.mat-picture {
  background-color: green;
  color: #fff;
}

.floating-button {
  position: absolute;
}

.cancel-accreditation {
  margin-left: 550px;
  margin-top: -505px;
}

.cancel-diploma {
  margin-left: 540px;
  margin-top: -342px;
}

.cancel-banner {
  margin-left: 610px;
  margin-top: -105px;
}

.upload-accreditation {
  margin-left: 40px;
  margin-top: -505px;
}

.upload-diploma {
  margin-left: 40px;
  margin-top: -342px;
}

.upload-banner {
  margin-left: 40px;
  margin-top: -105px;
}

.selected-button {
  border: red 2px solid;
}

.empty-image {
  border: #012a5f 2px solid;
}
