.mat-raised-button {
  width: 150px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
}

.content {
  align-content: center;
  display: grid;
  text-align: center;
}

.picture-container{
  max-height: 480px;
  max-width: 390px;
}
