version: 2.1

jobs:
  build:
    docker:
      - image: 'circleci/openjdk:11-jdk'
    working_directory: ~/KendoTournamentManager/backend
    steps:
      - checkout:
          path: ~/KendoTournamentManager
      - run:
          name: Analyze on SonarCloud
          command: mvn verify sonar:sonar -Dsonar.projectKey=kendo-tournament-backend

workflows:
  main:
    jobs:
      - build:
          context: SonarCloud
