<ng-container *transloco="let t">
  <div id="navbar">
    <div class="left">
      <img alt="kote" class="logo" src="assets/img/kote.svg">
      <biit-nav-menu [routes]="routes" style="width: 100%"></biit-nav-menu>
    </div>
    <div class="right" id="kendo-menu">
      @if (user) {
        <biit-nav-user
          [title]="user.name + ' ' + user.lastname"
          [subtitle]="'Kendo Tournament'"
          (click)="onContextMenu($event)"
          (keydown)="onContextMenu($event)"
          #navUser
        ></biit-nav-user>
      }
    </div>
  </div>

  <context-menu #contextMenu dir="rtl" *transloco="let t">
    @if (RbacActivity.CHANGE_LANGUAGE | hasPermission) {
      <ng-template contextMenuItem
        (execute)="languagePopup=true">
        <span id="language-option">
          {{ t('t.language') }}
        </span>
      </ng-template>
    }
    @if (!nightModeEnabled && (RbacActivity.DARK_MODE | hasPermission)) {
      <ng-template contextMenuItem
        (execute)="switchDarkMode()">
        <span id="dark-mode">
          {{ t('t.darkMode') }}
        </span>
      </ng-template>
    }
    @if (nightModeEnabled && (RbacActivity.DARK_MODE | hasPermission)) {
      <ng-template contextMenuItem
        (execute)="switchDarkMode()">
        <span id="light-mode">
          {{ t('t.lightMode') }}
        </span>
      </ng-template>
    }
    @if (RbacActivity.CHANGE_PASSWORD | hasPermission) {
      <ng-template contextMenuItem
        (execute)="passwordPopup=true">
        <span id="password-option">
          {{ t('t.password') }}
        </span>
      </ng-template>
    }
    @if (RbacActivity.CAN_LOGOUT | hasPermission) {
      <ng-template contextMenuItem
        (execute)="logoutConfirmation=true">
        <span id="logout-option">
          {{ t('t.logout') }}
        </span>
      </ng-template>
    }
  </context-menu>

  @if (logoutConfirmation) {
    <biit-popup id="confirmation-delete-teams"
      no-header
      >
      <div class="vertical">
        <span [innerHTML]="'logoutWarning' | transloco"></span>
        <div class="flex-grow horizontal buttons-row">
          <button id="confirm-delete-cancel-button" biit-button secondary
            (click)="logoutConfirmation = false">{{ t('cancel') }}
          </button>
          <button id="confirm-delete-accept-button" biit-button primary
            (click)="router.navigateByUrl('/login?logout'); logoutConfirmation = false">
            {{ t('accept') }}
          </button>
        </div>
      </div>
    </biit-popup>
  }

  @if (languagePopup) {
    <biit-popup id="language-selector-popup" closable
      [title]="t('selectLanguage')">
      <language-selector (closed)="languagePopup=false" style="width:100%"></language-selector>
    </biit-popup>
  }

  @if (passwordPopup && this.user) {
    <biit-popup id="password-change-popup" closable
      [title]="t('passwordChange')" (onClosed)="passwordPopup=false">
      <reset-password (closed)="passwordPopup=false" style="width:100%"
      [user]="this.user"></reset-password>
    </biit-popup>
  }

</ng-container>
