#navbar {
  display: flex;
  align-items: center;
  height: 2.5rem;
  width: 100%;
  background: white;
  padding: 0 1.05rem;
  box-sizing: border-box;
}

#navbar > .left {
  flex: 1 1 auto;
  min-width: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
}

#navbar > .right {
  flex: 0 0 auto;
  display: flex;
  margin-left: auto;
}

.logo {
  width: 35px;
  padding-left: 5px;
  fill: var(--main-color);
}
