<div id="navbar">
  <div class="left">
    <img alt="kote" class="logo" src="assets/img/kote.svg">
    <biit-nav-menu [routes]="routes" style="width: 100%"></biit-nav-menu>
  </div>
  <div class="right" id="kendo-menu">
    <component-menu/>
    <biit-nav-user *ngIf="user"
                   [title]="user.name + ' ' + user.lastname"
                   [subtitle]="'Kendo Tournament'"
                   (click)="onContextMenu($event)"
                   #navUser
    ></biit-nav-user>
  </div>
</div>

<context-menu #contextMenu dir="rtl" *transloco="let t">
  <ng-template contextMenuItem *ngIf="RbacActivity.CHANGE_LANGUAGE | hasPermission"
               (execute)="router.navigateByUrl(Constants.PATHS.PROFILE.LANGUAGE)">
        <span id="dashboard-menu-activity">
    {{ t('t.language') }}
        </span>
  </ng-template>
  <ng-template contextMenuItem *ngIf="RbacActivity.CHANGE_PASSWORD | hasPermission"
               (execute)="router.navigateByUrl(Constants.PATHS.PROFILE.PASSWORD)">
        <span id="dashboard-menu-historical">
    {{ t('t.password') }}
        </span>
  </ng-template>
  <ng-template contextMenuItem
               *transloco="let t"
               (execute)="router.navigateByUrl('/login?logout')">
    <span id="kendo-menu-logout">
    {{ t('t.logout') }}
      </span>
  </ng-template>
</context-menu>
