.table-container {
  position: relative;
  overflow: auto;
  max-height: 70vh;
  min-height: 30vh;
}

.table-caption {
  font-size: 150%;
  padding-bottom: 30px;
  color: white;
}

.competitor-ranking-table {
  margin: 2vw -190px 2vm 2vm;
}

.competitor-ranking-table thead th {
  position: sticky;
  z-index: 1;
  background: var(--table-header-color);
  color: var(--table-header-text);
  min-height: 30px;
  vertical-align: middle;
  text-align: center;
}

.competitor-ranking-header {
  max-width: 20vw;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  color: var(--component-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.competitor-ranking-value {
  text-align: center;
  padding: 10px;
  color: var(--component-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.competitor-ranking-value.competitor-name {
  text-align: left;
}

.competitor-ranking-value.selected {
  font-weight: bold;
  color: var(--focus-element)
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding-top: 1em;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
}

.days-selector {
  position: absolute;
  top: 0;
  right: 16px;
  display: flex;
}

.day-input {
  padding: 0 10px 0 0;
  min-width: 0;
}

::ng-deep .days-selector .biit-input {
  min-width: 18em !important;
}


@media screen and (max-width: 600px) {
  .table-container {
    max-width: 100vh;
  }

  .competitor-ranking {
    min-width: 200px;
  }

  .competitor-ranking-table {
    margin-left: 100px;
    margin-right: 100px;
  }
}
