<app-mat-spinner-overlay [overlay]="true"></app-mat-spinner-overlay>
<div class="table-container">
  <div class="days-selector" *ngIf="!this.club && !this.tournament">
    <input class="day-input" type="number" matInput min="0" max="10000" step="30" [(ngModel)]="numberOfDays"
           placeholder="{{'daysFrom' | transloco}}" [matTooltipShowDelay]="1000" matTooltip="{{'daysFrom' | transloco}}"
           required (keyup.enter)="daysChanged()">
    <button (click)="daysChanged()" color="secondary" class="day-input"
            mat-button>
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <table class="competitor-ranking-table">
    <caption class="table-caption">{{ 'competitorsRanking' | transloco }}</caption>
    <thead>
    <tr>
      <th class="competitor-ranking-header">{{ 'competitor' | transloco }}</th>
      <th class="competitor-ranking-header">{{ 'duelsWon' | transloco }}</th>
      <th class="competitor-ranking-header">{{ 'duelsDraw' | transloco }}</th>
      <th class="competitor-ranking-header">{{ 'hitsWon' | transloco }}</th>
      <th *ngIf="tournament && tournament.tournamentScore && tournament.tournamentScore.scoreType == ScoreType.EUROPEAN" class="competitor-ranking-header">{{ 'hitsLost' | transloco }}</th>
      <th class="competitor-ranking-header">{{ 'totalFights' | transloco }}</th>
    </tr>
    </thead>
    <tr *ngFor="let scoreOfCompetitor of competitorsScore; let i = index">
      <td [id]="scoreOfCompetitor.competitor.id" [ngClass]="{
          'selected': competitor?.id === scoreOfCompetitor.competitor.id
        }"
          class="competitor-ranking-value competitor-name">{{ showIndex ? i + 1 + ". " : "" }}{{ scoreOfCompetitor.competitor.lastname }}
        , {{ scoreOfCompetitor.competitor.name }}
      </td>
      <td [ngClass]="{'selected': competitor?.id === scoreOfCompetitor.competitor.id}"
          class="competitor-ranking-value">{{ scoreOfCompetitor.wonDuels }}{{ (scoreOfCompetitor.untieDuels ? "*" : "") }}
      </td>
      <td [ngClass]="{'selected': competitor?.id === scoreOfCompetitor.competitor.id}"
          class="competitor-ranking-value">{{ scoreOfCompetitor.drawDuels }}
      </td>
      <td [ngClass]="{'selected': competitor?.id === scoreOfCompetitor.competitor.id}"
          class="competitor-ranking-value">{{ scoreOfCompetitor.hits }}{{ (scoreOfCompetitor.untieHits ? "*" : "") }}
      </td>
      <td *ngIf="tournament && tournament.tournamentScore && tournament.tournamentScore.scoreType == ScoreType.EUROPEAN" [ngClass]="{'selected': competitor?.id === scoreOfCompetitor.competitor.id}"
          class="competitor-ranking-value">{{ scoreOfCompetitor.hitsLost }}
      </td>
      <td [ngClass]="{'selected': competitor?.id === scoreOfCompetitor.competitor.id}"
          class="competitor-ranking-value">{{ scoreOfCompetitor.totalFights }}
      </td>
    </tr>
  </table>
</div>
<div class="button-container" mat-dialog-actions>
  <button (click)="downloadPDF()" *ngIf="(RbacActivity.DOWNLOAD_PDF | rbac : this.rbacService.getActivities())"
          mat-flat-button
          mat-raised-button>
    <mat-icon>file_download</mat-icon>
    {{ 'download' | transloco }}
  </button>
  <button (click)="closeDialog()" color="primary" mat-flat-button mat-raised-button>{{ 'close' | transloco }}</button>
</div>
