<div class="filter">
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="filterString" (keyup)="filter($event)"
           placeholder="{{'filter' | translate}}">
  </mat-form-field>
</div>
<button class="reset" mat-button color="warn" (click)="reset()">
  <mat-icon>clear</mat-icon>
</button>
<div class="user-list" *ngIf="userListData.filteredParticipants">
  <mat-card class="user-card" *ngFor="let user of userListData.filteredParticipants" cdkDrag>
    <mat-card-header>
      <mat-card-title>{{user.lastname}}, {{user.name}}</mat-card-title>
      <mat-card-subtitle>{{user.club ? user.club.name : ""}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
