.user-card {
  margin: 20px;
  height: 40px;
}

.user-list{
  flex-flow: row wrap;
}

.mat-card-header .mat-card-title {
  font-size: 16px;
}

.mat-card-header .mat-card-subtitle {
  font-size: 12px;
}
