<ng-container id="tournament-options" *transloco="let t">
  <div class="canvas" slot="{{'empty' | transloco}}">
    @if (canMaximizeFights) {
      <div class="row">
        @if (canMaximizeFights) {
          <biit-toggle
            [(ngModel)]="areFightsMaximized"
            (click)="onSave(TournamentExtraPropertyKey.MAXIMIZE_FIGHTS, !areFightsMaximized+'')"
            (keydown)="onSave(TournamentExtraPropertyKey.MAXIMIZE_FIGHTS, !areFightsMaximized+'')"
            [description]="t('maximizeFightsHint')">
            {{ t('maximizeFights') }}
          </biit-toggle>
        }
      </div>
    }
    @if (canAvoidDuplicatedFights) {
      <div class="row">
        @if (canAvoidDuplicatedFights) {
          <biit-toggle
            [(ngModel)]="avoidDuplicatedFights"
            (click)="onSave(TournamentExtraPropertyKey.AVOID_DUPLICATES, !avoidDuplicatedFights+'')"
            (keydown)="onSave(TournamentExtraPropertyKey.AVOID_DUPLICATES, !avoidDuplicatedFights+'')"
            [description]="t('avoidDuplicateFightsHint')">
            {{ t('avoidDuplicateFights') }}
          </biit-toggle>
        }
      </div>
    }
    @if (needsFifoWinner) {
      <div class="row">
        @if (needsFifoWinner) {
          <biit-toggle
            [(ngModel)]="firstInFirstOut"
            (click)="onSave(TournamentExtraPropertyKey.LEAGUE_FIGHTS_ORDER_GENERATION, !firstInFirstOut+'')"
            (keydown)="onSave(TournamentExtraPropertyKey.LEAGUE_FIGHTS_ORDER_GENERATION, !firstInFirstOut+'')"
            [description]="t('leagueFifoHint')">
            {{ t('leagueFifo') }}
          </biit-toggle>
        }
      </div>
    }
    @if (canResolveOddFightsAsap) {
      <div class="row">
        @if (canResolveOddFightsAsap) {
          <biit-toggle
            [(ngModel)]="resolveOddFightsAsap"
            (click)="onSave(TournamentExtraPropertyKey.ODD_FIGHTS_RESOLVED_ASAP, !resolveOddFightsAsap+'')"
            (keydown)="onSave(TournamentExtraPropertyKey.ODD_FIGHTS_RESOLVED_ASAP, !resolveOddFightsAsap+'')"
            [description]="t('oddFightsResolvedAsapHint')">
            {{ t('oddFightsResolvedAsap') }}
          </biit-toggle>
        }
      </div>
    }
    @if (needsDrawResolution) {
      <div class="row">
        <biit-dropdown id="tournament-draw-resolutions"
          [ngModel]="(selectedDrawResolution+'') | dropdownInterface: drawResolutionValues"
          (ngModelChange)="onSave(TournamentExtraPropertyKey.KING_DRAW_RESOLUTION, $event.value)"
          [data]="drawResolutionValues"
          [label]="'label'"
          [value]="'value'"
          [descriptionLabel]="'description'"
          [title]="t('drawResolution')"
          [disabled]="!(RbacActivity.EDIT_TOURNAMENT | hasPermission)"
        ></biit-dropdown>
      </div>
    }
    @if (canSelectChallengeDistance) {
      <div class="row">
        <biit-dropdown id="tournament-rung"
          [ngModel]="(challengeDistance+'') | dropdownInterface: senbatsuChallengeDistance"
          (ngModelChange)="onSave(TournamentExtraPropertyKey.SENBATSU_CHALLENGE_DISTANCE, $event.value)"
          [data]="senbatsuChallengeDistance"
          [label]="'label'"
          [value]="'value'"
          [title]="t('senbatsuRungLength')"
          [descriptionLabel]="'description'"
          [disabled]="!(RbacActivity.EDIT_TOURNAMENT | hasPermission)"
        ></biit-dropdown>
      </div>
    }
    @if (canConfigureSwiss) {
      <div class="row">
        <biit-toggle
          [(ngModel)]="swissAvoidRepeatedPairings"
          (click)="onSave(TournamentExtraPropertyKey.SWISS_AVOID_REPEATED_PAIRINGS, !swissAvoidRepeatedPairings+'')"
          (keydown)="onSave(TournamentExtraPropertyKey.SWISS_AVOID_REPEATED_PAIRINGS, !swissAvoidRepeatedPairings+'')"
          [description]="t('swissAvoidRepeatedPairingsHint')">
          {{ t('swissAvoidRepeatedPairings') }}
        </biit-toggle>
      </div>
      <div class="row">
        <biit-dropdown id="tournament-swiss-tie-break"
          [ngModel]="(swissTieBreakRule+'') | dropdownInterface: swissTieBreakRuleValues"
          (ngModelChange)="onSave(TournamentExtraPropertyKey.SWISS_TIE_BREAK_RULE, $event.value)"
          [data]="swissTieBreakRuleValues"
          [label]="'label'"
          [value]="'value'"
          [descriptionLabel]="'description'"
          [title]="t('swissTieBreakRule')"
          [disabled]="!(RbacActivity.EDIT_TOURNAMENT | hasPermission)"
        ></biit-dropdown>
      </div>
      <div class="row">
        <label for="swiss-rounds" class="visually-hidden">{{ t('swissRounds') }}</label>
        <biit-input-text id="swiss-rounds"
          [(ngModel)]="swissRounds"
          [type]="Type.NUMBER"
          [min]="1"
          [placeholder]="t('swissRounds')"
          (ngModelChange)="onSave(TournamentExtraPropertyKey.SWISS_ROUNDS, $event != null ? $event+'' : '')"
          [disabled]="!(RbacActivity.EDIT_TOURNAMENT | hasPermission)"
        ></biit-input-text>
      </div>
    }
    <div class="buttons-row">
      <button biit-button id="tournament-button-close" (click)="closed.emit()" primary>
        {{ t('close') }}
      </button>
    </div>
  </div>
</ng-container>
