<div class="mat-elevation-z8">
  <div class="kendo-table">
    <div class="upper-menu">
      <div class="cell">
        <button mat-button color="primary" (click)="addElement()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-button [disabled]="!basicTableData.selectedElement" (click)="editElement()">
          <mat-icon>create</mat-icon>
        </button>
        <button mat-button color="warn" [disabled]="!basicTableData.selectedElement" (click)="deleteElement()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>

      <mat-menu #mainMenuButton="matMenu" class="table-settings">
        <span (click)="$event.stopPropagation()" *ngFor="let column of basicTableData.columns">
          <mat-checkbox class="menu-setting-option" (change)="toggleColumnVisibility(column)"
                        [checked]="isColumnVisible(column)"></mat-checkbox>
          {{column + 'Header' | translate}}
          <br>
        </span>
      </mat-menu>
    </div>
    <basic-table [basicTableData]="basicTableData"></basic-table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>
