<div class="content" *transloco="let t">
  <div *ngIf="!qrCode" class="qr-container">
    <app-mat-spinner-overlay></app-mat-spinner-overlay>
  </div>
  <div *ngIf="qrCode" class="qr-container">
    <img alt="QR Code" class="qr-code" src="{{ qrCode }}"/>
    <a class="link" target=”_blank” *ngIf="link && (RbacActivity.LINK_QR_CODE | hasPermission)"
       href="{{link}}">{{'orClickHere' | transloco}}</a>
  </div>
</div>
<div class="button-container">
  <button biit-button id="tournament-qr-download" secondary
          *ngIf="(RbacActivity.DOWNLOAD_QR_CODE | hasPermission)"
          (click)="downloadQrAsPdf()">
    {{ 'download' | transloco }}
  </button>
  <button biit-button id="tournament-qr-close"
          (click)="closeDialog()">
    {{ 'close' | transloco }}
  </button>
</div>
