.app-timer {
  // To avoid a jump when dragging
  transform: translate3d(0px, 0px, 0px);
}

.container {
  border: 1px solid #333;
  border-radius: 10px;
  width: 350px;
  margin: 20px auto;
  padding: 5px 20px 5px 20px;
  text-align: center;
  background: #222222;
  position: fixed;
  top: 5vh;
  right: 3vw;
  z-index: 100001;
}

.timer {
  color: #8097b3;
  font-size: 50px;
  margin: auto;
  border: 8px solid #8097b3;
  border-radius: 5%;
  width: 330px;
  height: 70px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer.warning {
  color: #ffd740;
  border: 8px solid #ffd740;
}

.timer.almost-finished {
  color: #ff0000;
  border: 8px solid #ff0000;
  animation: blinker 1s linear infinite;
}

.timer.pause {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.time {
  z-index: 1;
  position: relative;
  font-family: "Square Sans Serif 7", sans-serif;
}

.timer-buttons button {
  background: #222222;
  border: none;
  padding: 5px;
  width: 50px;
  height: 50px;
  align-items: center;
  vertical-align: top;
  font-size: large;
  font-weight: bold;
}

.non-editable .ng-star-inserted {
  color: gray;
}

.play {
  color: #8097b3;
}

.pause {
  color: #8097b3;
}

.stop {
  color: #ff0000;
}

.rewind {
  color: #ff0000;
}

.restore {
  color: #FF9800;
}

.forward {
  color: #00ff00;
}

.drag-icon {
  color: #8097b3;
}

.timer-edition {
  width: 100px;
  height: 30px;
  font-size: 35pt;
  font-weight: bold;
  font-family: "Square Sans Serif 7", sans-serif;
  background: #222222;
  color: #8097b3;
  border: 1px solid #8097b3;
  border-radius: 4px;
}
