<div id="app-timer">
  <div class="container">
    <div class="timer" [ngClass]="{'warning': isWarningTime(), 'almost-finished': isAlmostFinished()}">
      <div class="time"><span>{{toDoubleDigit(minutes)}} : {{toDoubleDigit(seconds)}}</span></div>
    </div>
    <div class="timer-buttons">
      <button class="rewind" (click)="addTime(-60)">-1'</button>
      <button class="rewind" (click)="addTime(-10)">-10"</button>
      <button class="play" (click)="startTimer()" [hidden]="started">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button class="pause" (click)="pauseTimer()" [hidden]="!started">
        <mat-icon>pause</mat-icon>
      </button>
      <button class="stop" (click)="stopTimer()">
        <mat-icon>stop</mat-icon>
      </button>
      <button class="forward" (click)="addTime(+10)">+10"</button>
      <button class="forward" (click)="addTime(+60)">+1'</button>
    </div>
  </div>
</div>
