<div class="app-timer" cdkDrag>
  <div class="container">
    <mat-icon class="drag-icon" cdkDragHandle>drag_handle</mat-icon>
    <div class="timer" [ngClass]="{'warning': isWarningTime(), 'almost-finished': isAlmostFinished()}">
      <div class="time">
        <span (dblclick)="setMinutesEditable(true)" *ngIf="!minutesEditable">{{toDoubleDigit(minutes)}}</span>
        <input type=number class="timer-edition timer-edition-minutes" *ngIf="minutesEditable" [value]="this.minutes"
               oninput="if (this.value.length > 2) this.value = this.value.slice(0, this.maxLength);"
               min="0" max="20" placeholder='00'
               (keyup)="validateInputMinutes($event)"
               (keyup.enter)="setMinutesEditable(false)"/>
        <span>:</span>
        <span (dblclick)="setSecondsEditable(true)" *ngIf="!secondsEditable">{{toDoubleDigit(seconds)}}</span>
        <input type=number class="timer-edition timer-edition-seconds" *ngIf="secondsEditable" [value]="this.seconds"
               oninput="if (this.value.length > 2) this.value = this.value.slice(0, this.maxLength);"
               min="0" max="59" placeholder='00'
               (keyup)="validateInputSeconds($event)"
               (keyup.enter)="setSecondsEditable(false)"/>
      </div>
    </div>
    <div class="timer-buttons" [class.non-editable]="!editable">
      <button class="rewind timer-button" (click)="addTime(-60)"
              [disabled]="!editable"
              *ngIf="(RbacActivity.EDIT_FIGHT_TIME | rbac : this.rbacService.activities)">-1'
      </button>
      <button class="rewind timer-button" (click)="addTime(-10)"
              [disabled]="!editable"
              *ngIf="(RbacActivity.EDIT_FIGHT_TIME | rbac : this.rbacService.activities)">-10"
      </button>
      <button class="play timer-button" (click)="startTimer()" [hidden]="started"
              [disabled]="!editable"
              *ngIf="(RbacActivity.EDIT_FIGHT | rbac : this.rbacService.activities)">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button class="pause timer-button" (click)="pauseTimer()" [hidden]="!started"
              [disabled]="!editable"
              *ngIf="(RbacActivity.EDIT_FIGHT | rbac : this.rbacService.activities)">
        <mat-icon>pause</mat-icon>
      </button>
      <button class="stop timer-button" (click)="finishTimer()"
              [disabled]="!editable"
              *ngIf="(RbacActivity.EDIT_FIGHT | rbac : this.rbacService.activities)">
        <mat-icon>check_circle</mat-icon>
      </button>
      <button class="restore timer-button" (click)="restoreTimer()" [disabled]="this.elapsedSeconds === 0 || !editable"
              *ngIf="(RbacActivity.EDIT_FIGHT | rbac : this.rbacService.activities)">
        <mat-icon>restore</mat-icon>
      </button>
      <button class="forward timer-button" (click)="addTime(+10)"
              [disabled]="!editable"
              *ngIf="(RbacActivity.EDIT_FIGHT_TIME | rbac : this.rbacService.activities)">+10"
      </button>
      <button class="forward timer-button" (click)="addTime(+60)"
              [disabled]="!editable"
              *ngIf="(RbacActivity.EDIT_FIGHT_TIME | rbac : this.rbacService.activities)">+1'
      </button>
    </div>
  </div>
</div>
