<div (cdkDragEnded)="dragEnd($event)" [cdkDragFreeDragPosition]="timerPosition" cdkDrag class="app-timer">
  <div class="container">
    <mat-icon cdkDragHandle class="drag-icon">drag_handle</mat-icon>
    <div [ngClass]="{'warning': isWarningTime(), 'almost-finished': isAlmostFinished(), 'pause': isPaused()}"
         class="timer">
      <div class="time">
        <span (dblclick)="setMinutesEditable(true)" *ngIf="!minutesEditable">{{toDoubleDigit(minutes)}}</span>
        <input (keyup)="validateInputMinutes($event)" (keyup.enter)="setMinutesEditable(false)" *ngIf="minutesEditable"
               [value]="this.minutes"
               class="timer-edition timer-edition-minutes"
               max="20" min="0" oninput="if (this.value.length > 2) this.value = this.value.slice(0, this.maxLength);"
               placeholder='00'
               type=number/>
        <span>:</span>
        <span (dblclick)="setSecondsEditable(true)" *ngIf="!secondsEditable">{{toDoubleDigit(seconds)}}</span>
        <input (keyup)="validateInputSeconds($event)" (keyup.enter)="setSecondsEditable(false)" *ngIf="secondsEditable"
               [value]="this.seconds"
               class="timer-edition timer-edition-seconds"
               max="59" min="0" oninput="if (this.value.length > 2) this.value = this.value.slice(0, this.maxLength);"
               placeholder='00'
               type=number/>
      </div>
    </div>
    <div [class.non-editable]="!editable" class="timer-buttons">
      <button (click)="addTime(-60)" *ngIf="(RbacActivity.EDIT_FIGHT_TIME | rbac : this.rbacService.activities)"
              [disabled]="!editable"
              class="rewind timer-button">-1'
      </button>
      <button (click)="addTime(-10)" *ngIf="(RbacActivity.EDIT_FIGHT_TIME | rbac : this.rbacService.activities)"
              [disabled]="!editable"
              class="rewind timer-button">-10"
      </button>
      <button (click)="startTimer()" *ngIf="(RbacActivity.EDIT_FIGHT | rbac : this.rbacService.activities)"
              [disabled]="!editable"
              [hidden]="started"
              class="play timer-button">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button (click)="pauseTimer()" *ngIf="(RbacActivity.EDIT_FIGHT | rbac : this.rbacService.activities)"
              [disabled]="!editable"
              [hidden]="!started"
              class="pause timer-button">
        <mat-icon>pause</mat-icon>
      </button>
      <button (click)="finishTimer()" *ngIf="(RbacActivity.EDIT_FIGHT | rbac : this.rbacService.activities)"
              [disabled]="!editable"
              class="stop timer-button">
        <mat-icon>check_circle</mat-icon>
      </button>
      <button (click)="restoreTimer()" *ngIf="(RbacActivity.EDIT_FIGHT | rbac : this.rbacService.activities)"
              [disabled]="this.elapsedSeconds === 0 || !editable"
              class="restore timer-button">
        <mat-icon>restore</mat-icon>
      </button>
      <button (click)="addTime(+10)" *ngIf="(RbacActivity.EDIT_FIGHT_TIME | rbac : this.rbacService.activities)"
              [disabled]="!editable"
              class="forward timer-button">+10"
      </button>
      <button (click)="addTime(+60)" *ngIf="(RbacActivity.EDIT_FIGHT_TIME | rbac : this.rbacService.activities)"
              [disabled]="!editable"
              class="forward timer-button">+1'
      </button>
    </div>
  </div>
</div>
