.popup-timer {
  // To avoid a jump when dragging
  transform: translate3d(0px, 0px, 0px);
  position: absolute;
  top: 10px;
  right: 10px;
}

.container {
  border: 1px solid #333;
  width: 390px;
  margin: 20px auto;
  padding: 5px 20px 5px 20px;
  text-align: center;
  background: #222222;
  position: fixed;
  top: 5vh;
  right: 3vw;
  z-index: 100001;
}

.timer {
  color: #8097b3;
  font-size: 50px;
  margin: auto;
  border: 8px solid #8097b3;
  width: 350px;
  height: 70px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}

.timer.warning {
  color: #ffd740;
  border: 8px solid #ffd740;
}

.timer.almost-finished {
  color: #ff0000;
  border: 8px solid #ff0000;
  animation: blinker 1s linear infinite;
}

.timer.paused {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.time {
  z-index: 1;
  position: relative;
  font-family: sans-serif;
}

.timer-buttons button {
  background: #222222;
  border: none;
  padding: 5px;
  width: 45px;
  height: 50px;
  vertical-align: top;
  font-size: large;
  font-weight: bold;
}

.non-editable .ng-star-inserted {
  color: gray;
}


::ng-deep .drag-icon svg {
  color: #8097b3 !important;
}

::ng-deep .play svg {
  color: #8097b3;
}

::ng-deep .pause svg {
  color: #8097b3;
}

::ng-deep .stop svg {
  color: #ff0000;
}

.rewind {
  color: #ff0000;
}

::ng-deep .restore svg {
  color: #FF9800;
}

.forward {
  color: #00ff00;
}

.separator {
  border-left: 3px solid #444444;
  height: 20px;
  margin-bottom: -15px;
  display: inline-block;
  border-radius: 10px;
}

.timer-edition {
  width: 100px;
  height: 30px;
  font-size: 35pt;
  font-weight: bold;
  font-family: sans-serif;
  background: #222222;
  color: #8097b3;
  border: 1px solid #8097b3;
  border-radius: 4px;
}

button > .mat-icon {
  height: 18px !important;
  width: 18px !important;
}
