.statistics {
  padding-top: 20px;
}

.statistics-layout {
  display: grid;
}

.statistics-layout .upper-menu {
  margin-top: 10px;
}

.statistics-container {
  height: 83vh;
  max-height: 83vh;
  min-height: 50vh;
  overflow-y: auto;
  margin-top: 20px;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
}
