<app-mat-spinner-overlay [overlay]="true"></app-mat-spinner-overlay>
<div class="statistics-view">
  <div class="statistics-layout">
    <div class="upper-menu">
      <div class="cell">
        <button (click)="goBackToTournament()"
                *ngIf="(RbacActivity.READ_ALL_TOURNAMENTS | rbac : this.rbacService.getActivities())"
                [matTooltipShowDelay]="500" color="secondary"
                mat-button
                matTooltip="{{'back' | translate}}">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
    </div>
    <h1 class="name" *ngIf="tournament">{{tournament.name}}</h1>
    <div class="statistics-container">
      <div class="dashboard">

        <div class="box-statistics box">
          <div class="statistics-table-title">
            <mat-icon class="kendo-icon" svgIcon="card"></mat-icon>
            <h3>{{'participants' | translate}}</h3>
          </div>
          <!-- aria-hidden="true" to avoid complains from sonarcloud -->
          <table *ngIf="tournamentStatistics" aria-hidden="true" class="statistics-table">
            <tr *ngFor="let roleType of roleTypes">
              <td *ngIf="tournamentStatistics">{{roleType.toLowerCase() | translate}}:</td>
              <td *ngIf="tournamentStatistics">{{numberOfParticipantsByRole(roleType)}}</td>
            </tr>
          </table>
          <div class="statistics-table-title">
            <mat-icon class="kendo-icon" svgIcon="team"></mat-icon>
            <h3>{{'teams' | translate}}</h3>
          </div>
          <table *ngIf="tournamentStatistics" aria-hidden="true" class="statistics-table">
            <tr>
              <td>{{'teams' | translate}}:</td>
              <td>{{tournamentStatistics.numberOfTeams}}</td>
            </tr>
            <tr>
              <td>{{'tournamentTeamSize' | translate}}:</td>
              <td>{{tournamentStatistics.teamSize}}</td>
            </tr>
          </table>
        </div>

        <div class="box-statistics box">
          <div class="statistics-table-title">
            <mat-icon>timer</mat-icon>
            <h3>{{'time' | translate}}</h3>
          </div>
          <table *ngIf="tournamentStatistics" aria-hidden="true" class="statistics-table">
            <tr>
              <td>{{'createdAt' | translate}}:</td>
              <td>{{convertDate(tournamentStatistics.tournamentCreatedAt)}}</td>
            </tr>
            <tr>
              <td>{{'lockedAt' | translate}}:</td>
              <td>{{convertDate(tournamentStatistics.tournamentLockedAt)}}</td>
            </tr>
            <tr>
              <td>{{'fightsStartedAt' | translate}}:</td>
              <td>{{convertDate(tournamentStatistics.tournamentFightStatistics.fightsStartedAt)}}</td>
            </tr>
            <tr>
              <td>{{'fightsFinishedAt' | translate}}:</td>
              <td>{{convertDate(tournamentStatistics.tournamentFightStatistics.fightsFinishedAt)}}</td>
            </tr>
            <tr>
              <td>{{'fightsDuration' | translate}}:</td>
              <td>{{convertSeconds(tournamentStatistics.tournamentFightStatistics.duelsDuration())}}</td>
            </tr>
            <tr>
              <td>{{'fightsAverage' | translate}}:</td>
              <td>{{convertSeconds(tournamentStatistics.tournamentFightStatistics.averageTime)}}</td>
            </tr>
          </table>
          <div class="statistics-table-title">
            <mat-icon>flag</mat-icon>
            <h3>{{'faults' | translate}}</h3>
          </div>
          <table *ngIf="tournamentStatistics" aria-hidden="true" class="statistics-table">
            <tr>
              <td class="single">{{'faults' | translate}}
                : {{tournamentStatistics.tournamentFightStatistics.faults}}
              </td>
            </tr>
          </table>
        </div>

        <div *ngIf="tournamentStatistics && tournamentStatistics.teamSize>1"
             class="box-statistics box scrollable">
          <div class="statistics-table-title">
            <mat-icon class="kendo-icon" svgIcon="teams-classification"></mat-icon>
            <h3>{{'teamsRanking' | translate}}</h3>
          </div>
          <table *ngIf="teamScores" aria-hidden="true" class="statistics-table">
            <tr *ngFor="let scoreOfTeam of teamScores">
              <td class="ranking">{{getTeamsRanking(scoreOfTeam)}}</td>
            </tr>
          </table>
        </div>

        <div class="box-statistics box">
          <div class="statistics-table-title">
            <mat-icon class="kendo-icon" svgIcon="competitors-classification"></mat-icon>
            <h3>{{'competitorsRanking' | translate}}</h3>
          </div>
          <div class="scrollable">
            <table *ngIf="competitorsScore" aria-hidden="true" class="statistics-table">
              <tr *ngFor="let scoreOfCompetitor of competitorsScore">
                <td class="ranking">{{getCompetitorRanking(scoreOfCompetitor)}}</td>
              </tr>
            </table>
          </div>
        </div>

        <app-gauge-chart *ngIf="fightsOverData" [data]="fightsOverData" [height]="260"
                         [title]="'progress' | translate" [width]="600"></app-gauge-chart>
        <app-pie-chart *ngIf="!!scoreTypeChartData" [data]="scoreTypeChartData"
                       [title]="'tournamentHitsStatistics' | translate"
                       [width]="360"></app-pie-chart>
        <app-stacked-bars-chart #participantsByTournamentChart [data]="hitsByTournament"
                                [enableTotals]="false"
                                [stackType]="'normal'" [title]="'participantsByTournament' | translate"
                                [width]="400"></app-stacked-bars-chart>
        <app-line-chart #timeSizeByTournamentChart [data]="teamSizeByTournament" [title]="'teams' | translate"
                        [width]="400"></app-line-chart>
        <app-stacked-bars-chart #hitsByTournamentPercentageChart [data]="hitsByTournament"
                                [enableTotals]="false" [stackType]="'100%'"
                                [title]="('hitsByTournament' | translate) + ' (%)'" [width]="400"
                                [yAxisTitle]="'%'"></app-stacked-bars-chart>
        <app-stacked-bars-chart #hitsByTournamentChart [data]="hitsByTournament"
                                [stackType]="'normal'"
                                [title]="('hitsByTournament' | translate)" [width]="400"></app-stacked-bars-chart>
        <app-line-chart #timeByTournamentChart [data]="timeByTournament" [title]="'timeByTournament' | translate"
                        [width]="400" [yAxisTitle]="'minutes' | translate"></app-line-chart>
        <div class="box-statistics box achievements-box">
          <div class="statistics-table-title">
            <mat-icon>stars</mat-icon>
            <h3>{{'achievements' | translate}}</h3>
          </div>
          <app-achievement-wall [achievements]="achievements"
                                [view]="'tournament'"></app-achievement-wall>
        </div>
      </div>
    </div>
  </div>
</div>
