<app-mat-spinner-overlay [overlay]="true"></app-mat-spinner-overlay>
<div class="statistics-view">
  <div class="statistics-layout">
    <div class="upper-menu">
      <div class="cell">
        <button mat-button color="secondary" (click)="goBackToTournament()" [matTooltipShowDelay]="500"
                matTooltip="{{'back' | translate}}"
                *ngIf="(RbacActivity.READ_ALL_TOURNAMENTS | rbac : this.rbacService.activities)">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
    </div>
    <div class="statistics-container">
<!--      <app-bar-chart [width]="400" [height]="400" [title]="'Scores'" [chartData]="scores"></app-bar-chart>-->
      <app-pie-chart [data]="pieChartData" [title]="'Scores'" [width]="400"></app-pie-chart>
      <app-bar-chart [data]="barChartData" [title]="'Scores'" [width]="400"></app-bar-chart>
      <app-line-chart [data]="lineChartData" [title]="'Scores'" [width]="400"></app-line-chart>
<!--      <app-stacked-bars-chart [width]="400" [height]="400" [title]="'Scores'" [chartData]="scoresStacked"></app-stacked-bars-chart>-->
<!--      <app-line-chart [width]="400" [height]="400" [title]="'Scores'" [chartData]="lineScoresStacked"></app-line-chart>-->
    </div>
  </div>
</div>
