.fight {
  border: 3px solid var(--component-color);
  padding: 5px;
  width: 100%;
  display: table;
  min-width: 600px;
}

.duel {
  display: flex;
  vertical-align: middle;
}

.left-team {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  padding: 20px;
  border-style: solid;
  text-transform: uppercase;
  border-width: 2px;
  border-color: var(--component-color);
  line-height: 25px;
  max-width: 56px;
  overflow: clip;
}

.right-team {
  writing-mode: vertical-rl;
  text-align: center;
  padding: 20px;
  border-style: solid;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-transform: uppercase;
  border-width: 2px 2px 2px 0;
  border-color: var(--component-color);
  line-height: 25px;
  max-width: 56px;
  overflow: clip;
}

.red-ribbon {
  color: var(--red-team-color);
  //To be below the timer
  //z-index: -1;

  ::ng-deep svg {
    color: var(--red-team-color) !important;
  }
}

.white-ribbon {
  color: var(--white-team-color);
  //To be below the timer
  //z-index: -1;

  ::ng-deep svg {
    color: var(--white-team-color) !important;
  }
}

.ribbon-icon {
  background: var(--component-color);
  transform: rotate(0deg);
  padding-right: 0;
  padding-left: 0;

  .mat-icon {
    margin-left: -10px;
    width: 32px;
    height: 32px;
  }
}

.fight-container {
  display: flex;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

.fight-container.ribbon:has(.duel.over) {
  opacity: 40%;
}

.fight:has(.duel.duelSelected) {
  background: var(--floating-background);
  opacity: 100%;
}

.duel {
  background: var(--fight-color);
}

.duel.over {
  opacity: 40%;
}

.duel.teamDuel{
  opacity: 100%;
}

.duel.duelSelected.over {
  opacity: 60%;
}

.duel.duelSelected {
  background: var(--active-fight-color);
  opacity: 100%;
}
