<div class="fight-container">
  <div class="left-team" *ngIf="showTeamTitle">
    {{fight.team1.name}}
  </div>
  <div class="left-team" *ngIf="!showTeamTitle">
    -
  </div>
  <div class="fight" *ngIf="fight" [ngClass]="{selected: selected}">
    <duel class="duel" *ngFor="let duel of fight.duels" [duel]="duel" (click)="selectDuel(duel)"
          [selected]="duel === selectedDuel"
          [ngClass]="{duelSelected: duel === selectedDuel && selected, over: isOver(duel)}"></duel>
  </div>
  <div class="right-team" *ngIf="showTeamTitle">
    {{fight.team2.name}}
  </div>
  <div class="right-team" *ngIf="!showTeamTitle">
    -
  </div>
</div>
