.fight {
  border-width: 2px 0 2px 0;
  border-color: var(--fight-border-color);
  border-style: solid;
  padding: 5px;
  width: 100%;
  display: table;
  min-width: 600px;
}

.duel {
  display: flex;
  vertical-align: middle;
}

.left-team {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  padding: 20px;
  border-style: solid;
  //background-color: var(--ribbon-background);
  text-transform: uppercase;
  border-width: 2px 2px 2px 0;
  border-color: var(--fight-border-color);
  line-height: 25px;
  max-width: 56px;
  overflow: clip;
}

.red-ribbon {
  color: var(--ribbon-background);
  //To be below the timer
  z-index: -1;
  background-color: var(--red-team-color);
}

.white-ribbon {
  color: var(--ribbon-background);
  //To be below the timer
  z-index: -1;
  background-color: var(--white-team-color);
}

.ribbon-icon {
  transform: rotate(0deg);
  border-width: 2px 0 2px 2px;
}

.right-team {
  writing-mode: vertical-rl;
  text-align: center;
  padding: 20px;
  border-style: solid;
  //text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  //background-color: var(--ribbon-background);
  text-transform: uppercase;
  border-width: 2px 2px 2px 0;
  border-color: var(--fight-border-color);
  line-height: 25px;
  max-width: 56px;
  overflow: clip;
}

.fight-container {
  display: flex;
  padding-bottom: 2vh
}

.over {
  background: var(--disabled);
}

.duel.over {
  background: var(--disabled);
  color: var(--text-disabled);
}

.duel.duelSelected {
  border-width: 1px;
  border-color: #777;
  border-style: solid;
  box-shadow: 0 5px 10px 0 var(--shadow);
  transition: transform .2s; /* Animation */
  //Transform causes problem with the timer component z-index.
  //transform: scale(1.03);
}
