<div class="fight-container">
  <div class="left-team" [class.red-ribbon]="!swapColors" [class.white-ribbon]="swapColors" *ngIf="showTeamTitle">
    {{!swapTeams ? fight.team1.name : fight.team2.name}}
  </div>
  <div class="left-team ribbon-icon" [class.red-ribbon]="!swapColors" [class.white-ribbon]="swapColors"
       *ngIf="!showTeamTitle">
    <mat-icon svgIcon="ribbon" class="kendo-icon"></mat-icon>
  </div>
  <div class="fight" *ngIf="fight" [ngClass]="{selected: selected}" cdkDropListGroup>
    <duel class="duel" *ngFor="let duel of fight.duels; let i = index" [duel]="duel" [duelIndex]="i" [fight]="fight" (click)="selectDuel(duel)"
          [selected]="duel === selectedDuel" [swapTeams]="swapTeams"
          [ngClass]="{duelSelected: duel === selectedDuel && selected, over: isOver(duel)}"></duel>
  </div>
  <div class="right-team" [class.red-ribbon]="swapColors" [class.white-ribbon]="!swapColors" *ngIf="showTeamTitle">
    {{!swapTeams ? fight.team2.name : fight.team1.name}}
  </div>
  <div class="right-team ribbon-icon" [class.red-ribbon]="swapColors" [class.white-ribbon]="!swapColors"
       *ngIf="!showTeamTitle">
    <mat-icon svgIcon="ribbon" class="kendo-icon"></mat-icon>
  </div>
</div>
