.fight {
  border-width: 2px;
  border-color: var(--border-color);
  border-style: solid;
  padding: 5px;
  width: 100%;
  display: table;
  min-width: 600px;
}

.duel {
  display: flex;
  vertical-align: middle;
}

.left-team {
  writing-mode: sideways-lr;
  text-align: center;
  padding: 20px;
  border-width: 2px;
  border-color: var(--background-color);
  border-style: solid;
  background-color: var(--contrast-color);
}

.red-ribbon {
  color: red;
  //To be below the timer
  z-index: -1;
}

.ribbon-icon {
  transform: rotate(0deg);
}

.right-team {
  writing-mode: vertical-rl;
  text-align: center;
  padding: 20px;
  border-width: 2px;
  border-color: var(--background-color);
  border-style: solid;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: var(--contrast-color);
}

.white-ribbon {
  color: white;
  //To be below the timer
  z-index: -1;
}

.fight-container {
  display: flex;
  padding-bottom: 2vh
}

.over {
  background: var(--disabled);
}

.duel.over {
  background: var(--disabled);
  color: var(--text-disabled);
}

.duel.duelSelected {
  border-width: 1px;
  border-color: #777;
  border-style: solid;
  box-shadow: 0 5px 10px 0 var(--shadow);
  transition: transform .2s; /* Animation */
  //Transform causes problem with the timer component z-index.
  //transform: scale(1.03);
}
