<div class="fight-container" [class.ribbon]="this.fight.tournament.teamSize==1">
  <div *ngIf="this.fight?.tournament?.teamSize?this.fight.tournament.teamSize > 1:true" [class.red-ribbon]="!swapColors"
       [class.white-ribbon]="swapColors"
       class="left-team team-name">
    {{ !swapTeams ? fight.team1.name : fight.team2.name }}
  </div>
  <div *ngIf="this.fight?.tournament?.teamSize?this.fight.tournament.teamSize <= 1:false"
       [class.red-ribbon]="!swapColors" [class.white-ribbon]="swapColors"
       class="left-team ribbon-icon">
    <mat-icon *ngIf="this.fight?.tournament?.type!==TournamentType.KING_OF_THE_MOUNTAIN || swapColors"
              class="kendo-icon" svgIcon="ribbon"></mat-icon>
    <mat-icon *ngIf="this.fight?.tournament?.type===TournamentType.KING_OF_THE_MOUNTAIN && !swapColors"
              class="kendo-icon" svgIcon="crown"></mat-icon>
  </div>
  <div *ngIf="fight" [ngClass]="{selected: selected}" cdkDropListGroup class="fight">
    <duel *ngFor="let duel of fight.duels; let i = index" [duelIndex]="i" [duel]="duel"
          (click)="selectDuel(duel)"
          (keydown)="selectDuel(duel)"
          [fight]="fight"
          [ngClass]="{duelSelected: duel === selectedDuel && selected && (RbacActivity.SELECT_DUEL | hasPermission) && !projectMode,
            over: isOver(duel), teamDuel: this.fight.tournament.teamSize==1, onlyShow:onlyShow}"
          [fightSelected]="selectedDuel!=undefined"
          [selected]="duel === selectedDuel && (RbacActivity.SELECT_DUEL | hasPermission)"
          [showAvatars]="showAvatars"
          [swapTeams]="swapTeams"
          [locked]="locked"
          [projectMode]="projectMode"
          [highlightedParticipantId]="highlightedParticipantId"
          class="duel"></duel>
  </div>
  <div *ngIf="this.fight?.tournament?.teamSize?this.fight.tournament.teamSize > 1:true" [class.red-ribbon]="swapColors"
       [class.white-ribbon]="!swapColors"
       class="right-team team-name">
    {{ !swapTeams ? fight.team2.name : fight.team1.name }}
  </div>
  <div *ngIf="this.fight?.tournament?.teamSize?this.fight.tournament.teamSize <= 1:false"
       [class.red-ribbon]="swapColors" [class.white-ribbon]="!swapColors"
       class="right-team ribbon-icon">
    <mat-icon *ngIf="this.fight?.tournament?.type!==TournamentType.KING_OF_THE_MOUNTAIN || !swapColors"
              class="kendo-icon" svgIcon="ribbon"></mat-icon>
    <mat-icon *ngIf="this.fight?.tournament?.type===TournamentType.KING_OF_THE_MOUNTAIN && swapColors"
              class="kendo-icon" svgIcon="crown"></mat-icon>
  </div>
</div>
