<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="KendoTournament">
    <test name="KendoTournament" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="participantRepository" />
                <include name="imageRepository" />
            </run>
        </groups>
        <classes>
            <class name="com.softwaremagico.kt.persistence.repositories.ParticipantRepositoryTests"/>
            <class name="com.softwaremagico.kt.persistence.repositories.ParticipantImageRepositoryTest"/>
        </classes>
    </test>
</suite>
