<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="KendoTournament">
    <listeners>
        <listener class-name="com.softwaremagico.kt.TestListener"/>
    </listeners>

    <test name="KendoTournament" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="userRepository"/>
                <include name="imageRepository"/>
                <include name="encryptedData"/>
                <include name="encryptionEngines"/>
                <include name="teamRepository"/>
                <include name="groupRepository"/>
                <include name="fightRepository"/>
                <include name="duelRepository"/>
            </run>
        </groups>
        <classes>
            <class name="com.softwaremagico.kt.persistence.repositories.ParticipantRepositoryTests"/>
            <class name="com.softwaremagico.kt.persistence.repositories.ParticipantImageRepositoryTests"/>
            <class name="com.softwaremagico.kt.persistence.repositories.TeamRepositoryTests"/>
            <class name="com.softwaremagico.kt.persistence.repositories.GroupRepositoryTests"/>
            <class name="com.softwaremagico.kt.persistence.repositories.FightRepositoryTests"/>
            <class name="com.softwaremagico.kt.persistence.repositories.DuelRepositoryTests"/>
            <class name="com.softwaremagico.kt.persistence.encryption.CheckEncryptedDataStorageTest"/>
            <class name="com.softwaremagico.kt.persistence.encryption.CheckEncryptionTest"/>
        </classes>
    </test>
</suite>
