.group {
  position: relative;
  width: 300px;
  border: 3px solid var(--component-color);
  overflow: hidden;
  display: flex;
}

.group-title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  border-style: solid;
  text-transform: uppercase;
  border-width: 2px;
  border-color: var(--component-color);
  line-height: 25px;
  max-width: 56px;
  overflow: clip;
  background: var(--component-color);
  color: var(--body-background);
  font-weight: bold;
}

.group-content {
  background: white;
  width: 90%;
  overflow: auto;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.group-content.selected {
  background: var(--selected-color);
}

.group-content.disabled {
  background: var(--disabled-floating-color) !important;
}


.mat-card.mat-focus-indicator.cdk-drag.team-card.minify {
  margin: 0;
}
