.table-container {
  overflow: auto;
  max-height: 70vh;
}

.competitor-ranking-table {
  margin: 2vw;
}

.competitor-ranking-header {
  max-width: 20vw;
  min-width: 100px;
  width: 20vw;
  text-align: center;
  font-size: 130%;
  padding-bottom: 10px;
  color: #001239;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.competitor-ranking-value {
  text-align: center;
  padding: 10px;
  color: #001239;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-raised-button {
  width: 150px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
}
