<div class="table-container">
  <table class="competitor-ranking-table">
    <caption>{{'competitorsRanking' | translate}}</caption>
    <tr>
      <th class="competitor-ranking-header">{{'competitor' | translate}}</th>
      <th class="competitor-ranking-header">{{'duelsWon' | translate}}</th>
      <th class="competitor-ranking-header">{{'duelsDraw' | translate}}</th>
      <th class="competitor-ranking-header">{{'histsWon' | translate}}</th>
    </tr>
    <tr *ngFor="let scoreOfCompetitor of competitorsScore">
      <td class="competitor-ranking-value">{{scoreOfCompetitor.competitor.lastname}}
        , {{scoreOfCompetitor.competitor.name}}</td>
      <td class="competitor-ranking-value">{{scoreOfCompetitor.wonDuels}}</td>
      <td class="competitor-ranking-value">{{scoreOfCompetitor.drawDuels}}</td>
      <td class="competitor-ranking-value">{{scoreOfCompetitor.hits}}</td>
    </tr>
  </table>
</div>
<div mat-dialog-actions class="button-container">
  <button mat-raised-button (click)="downloadPDF()" mat-flat-button>
    <mat-icon>file_download</mat-icon>
    {{'download' | translate}}
  </button>
  <button mat-raised-button (click)="closeDialog()" mat-flat-button color="primary">{{'close' | translate}}</button>
</div>
