<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != ActionEnum.Delete; else elseTemplate">
    <input placeholder="{{action}} Name" matInput [(ngModel)]="club.name">
  </mat-form-field>
  <ng-template #elseTemplate>
    Sure to delete <b>{{club.name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
