.mat-dialog-actions {
  display: flex;
  justify-content: center;
}

.mat-dialog-content {
  overflow: visible;
  position: relative;
}

.mat-form-field {
  width: 350px;
}

.mat-raised-button {
  width: 150px;
}

.floating-button {
  float: right;
}
