<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <form (ngSubmit)="doAction()" [formGroup]="registerForm">
    <mat-form-field *ngIf="actionName != 'Delete'; else elseTemplate">
      <input [readonly]="!rbacService.isAllowed(RbacActivity.EDIT_CLUB)" formControlName="clubName" matInput
             placeholder="{{'clubName' | translate}}"
             required>
    </mat-form-field>
    <mat-form-field *ngIf="actionName != 'Delete'">
      <input [readonly]="!rbacService.isAllowed(RbacActivity.EDIT_CLUB)" formControlName="clubCountry" matInput
             placeholder="{{'clubCountry' | translate}}"
             required>
    </mat-form-field>
    <mat-form-field *ngIf="actionName != 'Delete'">
      <input [readonly]="!rbacService.isAllowed(RbacActivity.EDIT_CLUB)" formControlName="clubCity" matInput
             placeholder="{{'clubCity' | translate}}"
             required>
    </mat-form-field>
    <mat-form-field *ngIf="actionName != 'Delete'">
      <input [readonly]="!rbacService.isAllowed(RbacActivity.EDIT_CLUB)" formControlName="clubAddress" matInput
             placeholder="{{'clubAddress' | translate}}">
    </mat-form-field>
    <mat-form-field *ngIf="actionName != 'Delete'">
      <input [readonly]="!rbacService.isAllowed(RbacActivity.EDIT_CLUB)" formControlName="clubEmail" matInput
             placeholder="{{'clubEmail' | translate}}"
             required>
    </mat-form-field>
    <mat-form-field *ngIf="actionName != 'Delete'">
      <input [readonly]="!rbacService.isAllowed(RbacActivity.EDIT_CLUB)" formControlName="clubPhone" matInput
             placeholder="{{'clubPhone' | translate}}">
    </mat-form-field>
    <mat-form-field *ngIf="actionName != 'Delete'">
      <input [readonly]="!rbacService.isAllowed(RbacActivity.EDIT_CLUB)" formControlName="clubWeb" matInput
             placeholder="{{'clubWeb' | translate}}">
    </mat-form-field>
    <ng-template #elseTemplate>
      <span [innerHTML]="'clubDeleteQuestion' | translate : {name: club.name}"></span>
    </ng-template>
    <div class="button-container" mat-dialog-actions>
      <button *ngIf="(RbacActivity.EDIT_USER | rbac : this.rbacService.activities)" [disabled]="registerForm.invalid"
              color="primary"
              mat-flat-button mat-raised-button
              type="submit" value="Submit">
        <mat-icon>done</mat-icon>
        {{actionName.toLowerCase() | translate}}
      </button>
      <button (click)="closeDialog()" color="warn" mat-flat-button mat-raised-button
              type="button">{{'cancel' | translate}}
      </button>
    </div>
  </form>
</div>
