<app-mat-spinner-overlay [overlay]="true"></app-mat-spinner-overlay>
<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content class="form-layout">
  <form [formGroup]="formScore" (ngSubmit)="setTournamentPoints()">
    <mat-form-field>
      <input formControlName="pointsByVictory" placeholder="{{'pointsByVictory' | translate}}" matInput required
             [readonly]="!rbacService.isAllowed(RbacActivity.EDIT_TOURNAMENT_SCORE)">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="pointsByDraw" placeholder="{{'pointsByDraw' | translate}}" matInput required
             [readonly]="!rbacService.isAllowed(RbacActivity.EDIT_TOURNAMENT_SCORE)">
    </mat-form-field>
    <div mat-dialog-actions class="button-container">
      <button mat-raised-button type="submit" value="Submit"
              [disabled]="formScore.invalid" mat-flat-button
              color="primary" *ngIf="(RbacActivity.EDIT_TOURNAMENT_SCORE | rbac : this.rbacService.activities)">
        <mat-icon>done</mat-icon>
        {{'close' | translate}}</button>
    </div>
  </form>
</div>
