<app-mat-spinner-overlay [overlay]="true"></app-mat-spinner-overlay>
<h1 mat-dialog-title>{{title}}</h1>
<div class="form-layout" mat-dialog-content>
  <form (ngSubmit)="setTournamentPoints()" [formGroup]="formScore">
    <mat-form-field>
      <input [readonly]="!rbacService.isAllowed(RbacActivity.EDIT_TOURNAMENT_SCORE)" formControlName="pointsByVictory"
             matInput placeholder="{{'pointsByVictory' | transloco}}"
             required>
    </mat-form-field>
    <mat-form-field>
      <input [readonly]="!rbacService.isAllowed(RbacActivity.EDIT_TOURNAMENT_SCORE)" formControlName="pointsByDraw"
             matInput placeholder="{{'pointsByDraw' | transloco}}"
             required>
    </mat-form-field>
    <div class="button-container" mat-dialog-actions>
      <button *ngIf="(RbacActivity.EDIT_TOURNAMENT_SCORE | rbac : this.rbacService.getActivities())"
              [disabled]="formScore.invalid" color="primary"
              mat-flat-button mat-raised-button
              type="submit" value="Submit">
        <mat-icon>done</mat-icon>
        {{'close' | transloco}}
      </button>
    </div>
  </form>
</div>
