<div class="form-layout" mat-dialog-content>
  <span class="example-list-section">
    <ul>
     <li *ngFor="let roleType of roleTypes">
      <mat-checkbox (change)="select($event.checked, roleType)">
      {{ roleType.toLowerCase() | transloco }}
      </mat-checkbox>
     </li>
    </ul>
  </span>
  <div class="button-container">
    <button biit-button (click)="setRoles(false)" primary>
      {{ 'all' | transloco }}
    </button>
    <button biit-button (click)="setRoles(true)" secondary>
      {{ 'onlyNews' | transloco }}
    </button>
    <button biit-button (click)="closeDialog()" secondary>
      {{ 'cancel' | transloco }}
    </button>
  </div>
</div>
