<div class="form-layout" mat-dialog-content>
  <span class="example-list-section">
    <ul>
     <li *ngFor="let roleType of roleTypes">
      <mat-checkbox (change)="select($event.checked, roleType)">
      {{roleType.toLowerCase() | transloco}}
      </mat-checkbox>
     </li>
    </ul>
  </span>
  <div class="button-container" mat-dialog-actions>
    <button (click)="setRoles(false)" color="primary" mat-flat-button
            mat-raised-button type="button">
      <mat-icon>done</mat-icon>
      {{'all' | transloco}}
    </button>
    <button (click)="setRoles(true)" color="picture" mat-flat-button
            mat-raised-button type="button">
      <mat-icon>done</mat-icon>
      {{'onlyNews' | transloco}}
    </button>
    <button (click)="closeDialog()" color="warn" mat-flat-button mat-raised-button
            type="button">{{'cancel' | transloco}}
    </button>
  </div>
</div>
