<div class="teams-container" cdkDropListGroup>
  <div cdkDropList [attr.data-tournament-size]="tournament.teamSize" class="users-container"
       [cdkDropListData]="userListData.filteredParticipants"
       (cdkDropListDropped)="removeFromTeam($event)">
    <user-list [userListData]="userListData"></user-list>
  </div>
  <div class="teams">
    <div class="teams-location" *ngFor="let team of teams">
      <div>
        <h2 class="team-header" *ngIf="!team.editing" (click)="setEditable(team, true)">{{team.name}}</h2>
        <button mat-button color="warn" *ngIf="!team.editing" (click)="deleteTeam(team)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <input class="team-title-editable" *ngIf="team.editing"
             (keyup.enter)="setEditable(team, false); updateTeamName(team)"
             [(ngModel)]="team.name" type="text"/>
      <div class="input-padding" *ngIf="team.editing"></div>
      <div class="team" cdkDropList [attr.data-tournament-size]="tournament.teamSize"
           [cdkDropListData]="getMembersContainer(team)"
           (cdkDropListDropped)="dropMember($event, team)"
           [cdkDropListEnterPredicate]="checkTeamSize">
        <mat-card class="user-card" *ngFor="let user of members.get(team)" cdkDrag [cdkDragData]="user">
          <mat-card-header [attr.data-tournament-size]="tournament.teamSize">
            <mat-card-title>{{user.lastname}}, {{user.name}}</mat-card-title>
            <mat-card-subtitle>{{user.club ? user.club.name : ""}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="new-team" (click)="addTeam()">
      <div class="row">{{'addTeamToTournament' | translate}} </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="button-container">
  <button mat-button (click)="randomTeams()" mat-flat-button>
    <mat-icon>casino</mat-icon>
    Random
  </button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="primary">Close</button>
</div>
