.teams-container {
  width: 800px;
  display: flex;
  height: 80vh;
}

.teams-container div {
  flex: 1
}

.teams-location.ng-star-inserted {
  padding-bottom: 30px;
  padding-right: 20px;
  overflow: auto;
}

.team {
  min-height: 200px;
  border-color: #c3d1e1;
  border-radius: 15px;
  border-style: dotted;
  overflow: auto;
}

.small{
  min-height: 80px;
}

.teams {
  overflow: auto;
  padding-left: 20px;
  height: 100%;
}

.team-title-editable {
  font-size: 20px;
  width: 98%;
  height: 25px;
  line-height: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.input-padding {
  height: 5px;
}

//Padding between roles
.ng-star-inserted {
  padding-bottom: 10px;
}

.users-container {
  overflow: auto;
}

.user-list {
  border-color: #c3d1e1;
  border-radius: 15px;
  border-style: dotted;
  padding-right: 10px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
}

h2 {
  display: inline-block;
}

.new-team {
  height: 60px;
  background-color: #001239;
  color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.new-team:hover {
  background-color: #8097b3;
  color: black;
  cursor: pointer;
}

.new-team .row {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-raised-button {
  width: 150px;
}

