.teams-container {
  width: 800px;
  display: flex;
}

.teams-container div {
  flex: 1
}

.teams-location.ng-star-inserted {
  padding-bottom: 30px;
}

.team {
  min-height: 200px;
  border-color: #c3d1e1;
  border-radius: 15px;
  border-style: dotted;
  overflow: auto;
}

.teams {
  overflow: auto;
  height: 800px;
  padding-left: 20px;
}

.team-title-editable {
  font-size: 20px;
  width: 98%;
  height: 25px;
  line-height: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.input-padding {
  height: 5px;
}

//Padding between roles
.ng-star-inserted {
  padding-bottom: 10px;
}

.user-list {
  border-color: #c3d1e1;
  border-radius: 15px;
  border-style: dotted;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
}
