.teams-container {
  width: 800px;
  display: flex;
  height: 80vh;
}

.teams-container div {
  flex: 1
}

.teams-location.ng-star-inserted {
  padding-bottom: 30px;
  padding-right: 20px;
  overflow: auto;
}

.team {
  min-height: 200px;
  border: 1px solid #c3d1e1;
  overflow: auto;
}

.small {
  min-height: 80px;
}

.teams {
  overflow: auto;
}

.right-panel {
  padding-left: 10px;
  display: grid
}

.team-title-editable {
  font-size: 20px;
  width: 98%;
  height: 25px;
  line-height: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.input-padding {
  height: 5px;
}

//Padding between roles
.ng-star-inserted {
  padding-bottom: 10px;
}

.users-container {
  overflow: auto;
}

.user-list {
  border-color: #c3d1e1;
  border-radius: 15px;
  border-style: dotted;
  padding-right: 10px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
}

h2 {
  display: inline-block;
}

.new-team {
  height: 60px;
  background-color: var(--contrast-color);
  color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.new-team:hover {
  background-color: #8097b3;
  color: black;
  cursor: pointer;
}

.new-team .row {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-raised-button {
  width: 150px;
  padding-bottom: 0px;
}

.team-member-room {
  min-height: 60px;
  border: 1px solid #c3d1e1;
}

.team-title-edition {
  font-size: 20px;
  width: 98%;
  height: 25px;
  line-height: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.locked {
  position: absolute;
  right: 16px;
  top: 16px;
}

.user-card {
  margin: 5px;
  box-shadow: 0px 2px 1px -1px var(--card-shadow1), 0px 1px 1px 0px var(--card-shadow2), 0px 1px 3px 0px var(--card-shadow3) !important;
}

