$space: 1em;

.teams-container {
  width: 800px;
  display: flex;
  max-height: 60vh;
  min-height: 40vh;
}

@media screen and (max-width: 950px) {
  .teams-container {
    width: 700px;
  }
}

@media screen and (max-width: 800px) {
  .teams-container {
    width: 600px;
  }
}

.teams-container div {
  flex: 1
}

.team {
  min-height: 200px;
  border: 3px solid var(--component-color);
  overflow: auto;
}

.small {
  min-height: 80px;
}

.teams {
  overflow: auto;
}

.right-panel {
  padding-left: 10px;
  display: grid
}

.team-title-editable {
  font-size: 20px;
  width: 98%;
  height: 25px;
  line-height: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.input-padding {
  height: 5px;
}

.teams-list {
  overflow: auto;
}

h2 {
  display: inline-block;
}

.team-member-room {
  min-height: 60px;
  margin: 5px;
  background-color: var(--main-background);
}

.team-member-room.substitute {
  background-color: var(--secondary-background-color);
}

.substitute .team-card {
  background-color: var(--secondary-background-color);
}

.team-title-edition {
  font-size: 20px;
  width: 98%;
  height: 25px;
  line-height: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.team-title {
  display: flex;
  flex-direction: row;
}

.canvas {
  width: 100%;
  min-width: 40vw;
  overflow-y: auto;

  align-items: center;
  gap: 4.5rem;
  padding: 2.5rem 2.5rem 1.5rem;
  background: var(--body-background);
}

.buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  gap: $space;
  padding-bottom: 30px;
  padding-top: 20px;
}

.delete-button {
  margin-top: 1.1em;
}

.tournament-team-add {
  margin: auto;
}

.action-button {
  position: absolute;
  top: 2em !important;
  right: 5em !important;
}

.csv-button {
  padding: 0 0 0 8px;

  &:hover {
    background-color: var(--main-background);
  }
}

.team-card {
  background-color: var(--floating-background);
  border: 3px solid var(--component-color);
  min-height: 60px;
}

.team-card-title {
  font-weight: bold;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0;
}

.teams-location {
  padding-right: 20px;
}

