<ng-container id="tournament-roles" *transloco="let t">
  @if (loadingGlobal) {
    <biit-progress-bar [type]="BiitProgressBarType.INDETERMINATE"></biit-progress-bar>
  }
  <biit-action-button class="action-button" position="custom">
    @if ((RbacActivity.CREATE_PARTICIPANT_CSV | hasPermission)) {
      <button biit-icon
        [icon]="'upload_general'"
      ></button>
    }
    @if ((RbacActivity.CREATE_PARTICIPANT_CSV | hasPermission)) {
      <button mat-button class="csv-button"
        (click)="fileInput.click()"
        [title]="t('uploadCsvFile')">
        <mat-icon class="kendo-icon" svgIcon="csv-file-small"></mat-icon>
        <input #fileInput (change)="handleFileInput($event)" accept="text/csv" style="display:none;"
          type="file"/>
      </button>
    }
  </biit-action-button>
  <div class="canvas" slot="{{'empty' | transloco}}">
    <div cdkDropListGroup class="teams-container">
      <div (cdkDropListDropped)="removeFromTeam($event)" [attr.data-tournament-size]="tournament.teamSize"
        [cdkDropListData]="userListData.filteredParticipants"
        cdkDropList
        class="teams-list">
        <user-list [userListData]="userListData"></user-list>
      </div>
      <div class="right-panel">
        <fight-statistics-panel [teams]="true" [tournament]="tournament"></fight-statistics-panel>
        <div class="teams">
          @for (team of teams; track team) {
            <div class="teams-location">
              <div class="team-title">
                @if (!team.editing) {
                  <h2
                    (click)="setEditable(team, this.rbacService.isAllowed(RbacActivity.EDIT_TEAM))"
                    (keydown)="setEditable(team, this.rbacService.isAllowed(RbacActivity.EDIT_TEAM))"
                  class="team-header">{{ team.name }}</h2>
                }
                @if (!team.editing && !team.locked && (RbacActivity.DELETE_TEAM | rbac : this.rbacService.getActivities())) {
                  <button id="delete-team-button" class="delete-button" (click)="deleteTeam(team)" icon="cross"
                  biit-icon></button>
                }
              </div>
              @if (team.editing) {
                <input (keyup.enter)="setEditable(team, false); updateTeamName(team)"
                  [(ngModel)]="team.name"
                  class="team-title-editable" type="text"/>
              }
              @if (team.editing) {
                <div class="input-padding"></div>
              }
              <div [attr.data-team]="team" [attr.data-tournament-size]="tournament.teamSize"
                [class.small]="this.tournament.teamSize===1" class="team">
                @for (i of teamSize; track i) {
                  <div (cdkDropListDropped)="dropMember($event, team, i)"
                    [cdkDropListData]="getMembersContainer(team)"
                    [cdkDropListDisabled]="isTeamLocked(team)"
                    [cdkDropListEnterPredicate]="dropListEnterPredicate(i, team)"
                    cdkDropList
                    class="team-member-room"
                    [class.substitute]="i>=tournament.fightSize">
                    @if (members!==undefined && members.get(team)!==undefined
                      && members.get(team)![i]!==undefined && members.get(team)![i]!==null) {
                      <mat-card
                        [cdkDragData]="getMember(team, i)"
                        [cdkDragDisabled]="!(RbacActivity.EDIT_TEAM | hasPermission) || getMember(team, i)!.locked"
                        [class.substitute]="i>=tournament.fightSize"
                        cdkDrag
                        class="user-card">
                        <mat-card-header class="team-card" [attr.data-tournament-size]="tournament.teamSize">
                          <mat-card-title class="team-card-title">{{ getCardTitle(team, i) }}</mat-card-title>
                          <mat-card-subtitle>{{ getCardSubTitle(team, i) }}</mat-card-subtitle>
                          @if (team.locked) {
                            <biit-icon [name]="'exclamation'"
                              [svgStyle]="{backgroundColor: 'transparent'}"
                              [pathStyle]="{fill: '#001fff'}"
                            style="width: 24px; height: 24px; position: absolute; right: 16px; top: 16px;"></biit-icon>
                          }
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    }
                  </div>
                }
              </div>
            </div>
          }
          <div class="buttons-row">
            @if ((RbacActivity.CREATE_TEAM | hasPermission)) {
              <button biit-button primary id="tournament-team-add" class="tournament-team-add"
                [ngStyle]="{'pointer-events': addingTeam ? 'none' : 'auto'}"
                (click)="addTeam()">
                {{ t('addTeamsText') }}
              </button>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="buttons-row">
      @if ((RbacActivity.CREATE_TEAM | hasPermission)) {
        <button biit-button secondary
          (click)="generateTeams()">
          {{ t('auto') }}
        </button>
      }
      @if ((RbacActivity.CREATE_TEAM | hasPermission)) {
        <button biit-button secondary
          (click)="randomTeams()">
          {{ t('random') }}
        </button>
      }
      @if ((RbacActivity.READ_ALL_ROLES | hasPermission)) {
        <button biit-button secondary
          (click)="downloadPDF()">
          {{ t('download') }}
        </button>
      }
      <button biit-button id="tournament-button-close"
        (click)="onClosed.emit()" primary>
        {{ t('close') }}
      </button>
    </div>
  </div>
</ng-container>
