<app-mat-spinner-overlay [overlay]="true"></app-mat-spinner-overlay>
<h1 mat-dialog-title>{{title}}</h1>
<div class="form-layout" mat-dialog-content>
    <form (ngSubmit)="doAction()" [formGroup]="registerForm">
        <mat-form-field *ngIf="actionName != 'Delete'">
            <mat-label>{{'tournamentType' | translate}}</mat-label>
            <mat-select [(value)]="tournament.type" formControlName="tournamentType">
                <mat-option (click)="select(type)" *ngFor="let type of tournamentType" [value]="type">
                    {{getTournamentTypeTranslationTag(type) | translate}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="types">
            <mat-form-field *ngIf="actionName != 'Delete'; else elseTemplate">
                <input [readonly]="!rbacService.isAllowed(RbacActivity.EDIT_TOURNAMENT)"
                       formControlName="tournamentName"
                       matInput
                       placeholder="{{'competitionName' | translate}}"
                       required>
            </mat-form-field>
            <button *ngIf="actionName != 'Delete'" (click)="openCustomProperties()" class="edit-score-button"
                    [disabled]="tournament.id==undefined || tournament.type == typeCustom"
                    color="primary" mat-flat-button
                    mat-raised-button
                    type="button">
                <mat-icon>settings</mat-icon>
            </button>
        </div>
        <mat-form-field *ngIf="actionName != 'Delete'">
            <input [readonly]="!rbacService.isAllowed(RbacActivity.EDIT_TOURNAMENT) || selectedType == typeLoop
          || this.selectedType == typeLeague || this.selectedType == typeKing" formControlName="shiaijos" matInput
                   placeholder="{{'tournamentShiaijos' | translate}}"
                   required>
        </mat-form-field>
        <mat-form-field *ngIf="actionName != 'Delete'">
            <input [readonly]="!rbacService.isAllowed(RbacActivity.EDIT_TOURNAMENT)" formControlName="teamSize" matInput
                   placeholder="{{'tournamentTeamSize' | translate}}">
        </mat-form-field>
        <div class="types">
            <mat-form-field *ngIf="actionName != 'Delete'">
                <mat-label>{{'scoreRules' | translate}}</mat-label>
                <mat-select [(value)]="tournament.tournamentScore.scoreType" [matTooltipShowDelay]="1000"
                            formControlName="scoreTypes"
                            matTooltip="{{tournament.tournamentScore.scoreType.toLowerCase()+'Hint' | translate}}">
                    <mat-option (click)="selectScore(type)" *ngFor="let type of scoreTypes" [matTooltipShowDelay]="1000"
                                [value]="type" matTooltip="{{type.toLowerCase()+'Hint' | translate}}">
                        {{type.toLowerCase() | translate}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button (click)="openScoreDefinition()" *ngIf="selectedScore==scoreTypeCustom" class="edit-score-button"
                    color="primary" mat-flat-button
                    mat-raised-button
                    type="button">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <mat-form-field *ngIf="actionName != 'Delete'">
            <mat-label>{{'tournamentDuelsDurations' | translate}}</mat-label>
            <mat-select [(value)]="tournament.duelsDuration" formControlName="duelsDuration">
                <mat-option *ngFor="let number of [30, 60, 90, 120, 150, 180, 240, 300, 360, 420, 480, 540, 600]" [value]="number">
                    {{number}} {{'seconds' | translate}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <ng-template #elseTemplate>
            <span [innerHTML]="'tournamentDeleteQuestion' | translate : {name: tournament.name}"></span>
        </ng-template>

        <div class="button-container" mat-dialog-actions>
            <button (click)="addPicture()"
                    *ngIf="actionName == 'Update' && (RbacActivity.SEE_PICTURE | rbac : this.rbacService.activities)"
                    color="picture"
                    mat-flat-button
                    mat-raised-button
                    type="button">
                <mat-icon>image</mat-icon>
                {{'images' | translate}}
            </button>
            <button *ngIf="(RbacActivity.EDIT_TOURNAMENT | rbac : this.rbacService.activities)"
                    [disabled]="registerForm.invalid" color="primary"
                    mat-flat-button mat-raised-button
                    type="submit" value="Submit">
                <mat-icon>done</mat-icon>
                {{actionName.toLowerCase() | translate}}
            </button>
            <button (click)="closeDialog(cancel)" color="warn" mat-flat-button mat-raised-button
                    type="button">{{'cancel' | translate}}
            </button>
        </div>
    </form>
</div>
