.mat-dialog-actions {
  display: flex;
  justify-content: center;
}

.mat-dialog-content {
  overflow: visible;
}

.mat-form-field {
  width: 100%;
}

.mat-raised-button {
  width: 150px;
}

.mat-picture {
  background-color: green;
  color: #fff;
}

.types{
  display: flex;
  width: 100%;
}

.edit-score-button{
  width: 40px;
  height: 40px;
  margin-left: 10px;
  padding: 0;
  min-width: 0px;
}

