.tree {
  display: flex;
  flex-direction: row;
}

.level {
  display: flex;
  flex-direction: row;
}

.shiaijo-separator {
  position: relative;
  top: 400px;
}

.arrow-element {
  position: relative;
  top: 0;
}
