<div class="shiaijo-column" *ngFor="let shiaijoLevel of shiaijosByLevel.keys()">
  <div class="shiaijo-separator" *ngFor="let shiaijo of shiaijosByLevel.get(shiaijoLevel)">
    <app-shiaijo
      [getGroupTopSeparation]="getGroupTopSeparation"
      [getGroupHigh]="getGroupHigh"
      [groupsByLevel]="groupsByLevel"
      [totalShiaijos]="tournament.shiaijos"
      [level]="shiaijoLevel"
      [shiaijo]="shiaijo"></app-shiaijo>
  </div>
</div>
<div class="level" [class]="'level-' + level" *ngFor="let level of groupsByLevel.keys()">
  <div class="arrow-container" *ngFor="let g of relations.get(level)">
    <app-arrow [color]="g.winner==0 ? '#001239' : '#4d6d95'"
               [getGroupTopSeparation]="getGroupTopSeparation"
               [getGroupHigh]="getGroupHigh" [groupsByLevel]="groupsByLevel"
               [level]="level" [groupSource]="g.src" [groupDestination]="g.dest" [winner]="g.winner"></app-arrow>
  </div>
  <app-group-container *ngFor="let group of groupsByLevel.get(level); let g = index" [level]="level" [index]="g"
                       [groupsByLevel]="groupsByLevel" [tournament]="tournament" [droppingDisabled]="droppingDisabled"
                       [getGroupLeftSeparation]="getGroupLeftSeparation" [getGroupTopSeparation]="getGroupTopSeparation"
                       [getGroupHigh]="getGroupHigh">
  </app-group-container>
</div>
