<div class="tree">
  @for (level of groupsByLevel.keys(); track level) {
    <div class="level" [class]="'level-' + level">
      <div class="group-container">
        @for (group of groupsByLevel.get(level); track group; let g = $index) {
          <group-container
            [level]="level" [index]="g"
            [group]="group" [groupsByLevel]="groupsByLevel" [tournament]="tournament"
            [droppingDisabled]="droppingDisabled" [getGroupLeftSeparation]="getGroupLeftSeparation"
            [getGroupTopSeparation]="getGroupTopSeparation" [getGroupHigh]="getGroupHigh"
            [selected]="selectedGroup && (group.id==selectedGroup.id)"
            (elementClicked)="isSelected(group)">
          </group-container>
          @if (g<groupsByLevel.get(level)?.length!-1 && groupsByLevel.get(level)![g+1].shiaijo != group.shiaijo) {
            <shiaijo-separator class="shiaijo-separator"
              [ngStyle]="{'top':getGroupTopSeparation(level, g+1, groupsByLevel)+'px'}"
              [getGroupTopSeparation]="getGroupTopSeparation"
              [getGroupHigh]="getGroupHigh"
              [groupsByLevel]="groupsByLevel"
              [totalShiaijos]="tournament.shiaijos"
              [level]="group.level"
            [shiaijo]="group.shiaijo"></shiaijo-separator>
          }
        }
      </div>
      <div class="arrow-container">
        <arrows class="arrow-element"
          [relations]="relations.get(level)"
          [getGroupHigh]="getGroupHigh" [groupsByLevel]="groupsByLevel"
          [getGroupTopSeparation]="getGroupTopSeparation"
          [getGroupYCoordinate]="getGroupYCoordinate"
        [level]="level" [numberOfWinnersFirstLevel]="numberOfWinnersFirstLevel"></arrows>
      </div>
    </div>
  }
</div>
