<app-mat-spinner-overlay [overlay]="true"></app-mat-spinner-overlay>
<div class="statistics-view">
  <div class="statistics-layout">
    <div class="upper-menu">
      <div class="cell">
        <button mat-button color="secondary" (click)="goBackToUsers()" [matTooltipShowDelay]="500"
                matTooltip="{{'back' | translate}}"
                *ngIf="(RbacActivity.READ_ALL_TOURNAMENTS | rbac : this.rbacService.activities)">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
    </div>
    <div class="statistics-container">
      <div class="dashboard">

        <div class="box-statistics box shadow">
          <div class="statistics-table-title">
            <mat-icon svgIcon="card" class="kendo-icon"></mat-icon>
            <h3>{{'roles' | translate}}</h3>
          </div>
          <!***REMOVED***aria-hidden="true" to avoid complains from sonarcloud -->
          <table class="statistics-table" *ngIf="participantStatistics" aria-hidden="true">
            <tr *ngFor="let roleType of roleTypes">
              <td *ngIf="participantStatistics">{{roleType.toLowerCase() | translate}}:</td>
              <td *ngIf="participantStatistics">{{numberOfPerformedRoles(roleType)}}</td>
            </tr>
          </table>
          <div class="statistics-table-title">
            <mat-icon svgIcon="teams-classification" class="kendo-icon"></mat-icon>
            <h3>{{'tournaments' | translate}}</h3>
          </div>
          <table class="statistics-table" *ngIf="participantStatistics" aria-hidden="true">
            <tr>
              <td class="single">{{'tournaments' | translate}}
                : {{participantStatistics?.tournaments}}</td>
            </tr>
          </table>
        </div>

        <div class="box-statistics box shadow">
          <div class="statistics-table-title">
            <mat-icon>timer</mat-icon>
            <h3>{{'time' | translate}}</h3>
          </div>
          <table class="statistics-table" *ngIf="participantStatistics" aria-hidden="true">
            <tr>
              <td>{{'createdAt' | translate}}:</td>
              <td>{{convertDate(participantStatistics?.participantCreatedAt)}}</td>
            </tr>
            <tr>
              <td>{{'fightsAverage' | translate}}:</td>
              <td>{{convertSeconds(participantStatistics?.participantFightStatistics?.averageTime)}}</td>
            </tr>
          </table>
        </div>

        <div class="box-statistics box shadow">
          <div class="statistics-table-title">
            <mat-icon svgIcon="match" class="kendo-icon"></mat-icon>
            <h3>{{'hits' | translate}}</h3>
          </div>
          <table class="statistics-table" *ngIf="participantStatistics" aria-hidden="true">
            <tr>
              <td>{{'men' | translate}}:</td>
              <td>{{participantStatistics?.participantFightStatistics?.menNumber}}</td>
            </tr>
          </table>
          <div class="statistics-table-title">
            <mat-icon>flag</mat-icon>
            <h3>{{'faults' | translate}}</h3>
          </div>
          <table class="statistics-table" *ngIf="participantStatistics" aria-hidden="true">
            <tr>
              <td class="single">{{'faults' | translate}}
                : {{participantStatistics?.participantFightStatistics?.faults}}</td>
            </tr>
          </table>
        </div>

        <div class="box-statistics box shadow">
          <div class="statistics-table-title">
            <mat-icon svgIcon="match" class="kendo-icon flip"></mat-icon>
            <h3>{{'receivedHits' | translate}}</h3>
          </div>
          <table class="statistics-table" *ngIf="participantStatistics" aria-hidden="true">
            <tr>
              <td>{{'men' | translate}}:</td>
              <td>{{participantStatistics?.participantFightStatistics?.receivedMenNumber}}</td>
            </tr>
          </table>
          <div class="statistics-table-title">
            <mat-icon class="flip">flag</mat-icon>
            <h3>{{'receivedFaults' | translate}}</h3>
          </div>
          <table class="statistics-table" *ngIf="participantStatistics" aria-hidden="true">
            <tr>
              <td class="single">{{'faults' | translate}}
                : {{participantStatistics?.participantFightStatistics?.receivedFaults}}</td>
            </tr>
          </table>
        </div>

        <app-pie-chart *ngIf="!!hitsTypeChartData" [data]="hitsTypeChartData"
                       [title]="'participantHitsStatistics' | translate"
                       [width]="360"></app-pie-chart>
        <app-pie-chart *ngIf="!!receivedHitsTypeChartData" [data]="hitsTypeChartData"
                       [title]="'participantReceivedHitsStatistics' | translate"
                       [width]="360"></app-pie-chart>
      </div>
    </div>
  </div>
</div>
