.statistics {
  padding-top: 20px;
}

.statistics-layout {
  display: grid;
  gap: 2em;
}

.statistics-layout .upper-menu {
  padding-left: 30px;
  margin: 10px;
  display: flex;
}

.upper-menu {
  gap: 1em;
}

.upper-menu button {
  width: 60px;
}

::ng-deep .upper-menu button .mat-icon.kendo-icon.mat-icon-no-color {
  margin-left: -17px;
}

.player {
  background-color: var(--floating-background);
  border: 3px solid var(--component-color);
  margin: 0 2em 0 2em;
}

.statistics-container {
  height: 100%;
  overflow-y: auto;
  margin-top: 1em;
}

.dashboard {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}


.frame {
  padding: 15px;
}

.box {
  padding: 25px 20px;
}

.shadow {
  box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
}

.box-statistics {
  text-align: center;
  margin: 1em;
  min-height: 500px;
  padding: 15px 15px 50px;
  border: 1px solid var(--component-color);
}

.box-statistics.chart {
  align-content: center;
}

.statistics-table {
  align-content: center;
  width: 100%;
  padding: 15px;
}

.statistics-table-title {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: .75em;
  padding-right: .75em;
  width: 100%;
  margin-bottom: -20px;
}

.statistics-table .left-column {
  text-align: right;
  width: 55%;
}

.statistics-table .right-column {
  text-align: left;
  width: 45%;
}

.scrollable {
  overflow-y: auto;
  max-height: 300px;
}

.statistics-table .ranking {
  text-align: center;
}

.statistics-table .single {
  text-align: center;
}

.ranking {
  text-align: center;
}

.ranking-very-good {
  color: #011d4a;
}

.ranking-good {
  color: #012354;
}

.ranking-normal {
  color: #000000;
}

.ranking-bad {
  color: #ff4a4a;
}

.ranking-very-bad {
  color: #ff2525;
}

.your-ranking {
  font-size: 500%;
  padding-top: 55px;
  font-weight: bold;
}

.total-ranking {
  font-weight: bold;
  font-size: 250%;
}

.achievements-box {
  display: inline-grid;
  position: relative;
  min-width: 290px;
}

achievements-wall {
  margin-top: 10px;
  height: 350px;
}

.name {
  text-align: center;
}
