.statistics {
  padding-top: 20px;
}

.statistics-layout {
  display: grid;
}

.statistics-layout .upper-menu {
  padding-left: 30px;
}

.statistics-container {
  height: 83vh;
  max-height: 83vh;
  min-height: 50vh;
  overflow-y: auto;
  margin-top: 20px;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
}

.frame {
  padding: 15px;
}

.box {
  padding: 25px 20px;
}

.shadow {
  box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
}

.box-statistics {
  text-align: center;
  margin: 15px;
  min-width: 160px;
  padding: 15px 15px 50px;
}

.statistics-table {
  font-size: 12px;
  align-content: center;
  text-align: right;
  width: 100%;
  padding: 15px;
}

.statistics-table-title {
  align-content: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: -20px;
}

.statistics-table-title > h3 {
  padding-left: 15px;
}

.scrollable {
  overflow-y: auto;
  max-height: 300px;
}

.statistics-table .ranking {
  text-align: center;
}

.statistics-table .single {
  text-align: center;
}

.flip {
  transform: scaleX(-1);
}

.ranking {
  text-align: center;
  padding: 15px;
}

.ranking-very-good {
  color: #011d4a;
}

.ranking-good {
  color: #012354;
}

.ranking-normal {
  color: #000000;
}

.ranking-bad {
  color: #ff4a4a;
}

.ranking-very-bad {
  color: #ff2525;
}

.your-ranking {
  font-size: 500%;
  padding-top: 55px;
  font-weight: bold;
}

.total-ranking {
  font-weight: bold;
  font-size: 250%;
}

.achievements-box {
  display: inline-grid;
  position: relative;
  min-width: 290px;
}

app-achievement-wall {
  margin-top: 10px;
  width: 275px;
  height: 245px;
}

.name {
  text-align: center;
}
