<div (mouseout)="clearCoordinates();" (mouseover)="updateCoordinates($event)" (focus)="clearCoordinates();"
  (blur)="clearCoordinates();"
  [class.disabled]="achievements?.length == 0"
  class="achievement">
  <img [alt]="getAchievementAlt()" [src]="getAchievementImage()" class="achievement-image">
  <div [ngClass]="{
       'normal': grade === AchievementGrade.NORMAL,
       'bronze': grade === AchievementGrade.BRONZE,
       'silver': grade === AchievementGrade.SILVER,
        'gold': grade === AchievementGrade.GOLD}"
    [class.disabled]="achievements?.length == 0"
  class="achievement-border"></div>
  @if (newAchievement) {
    <div class="achievement-info new-achievement">!</div>
  }
  @if (totalAchievements>1) {
    <div class="achievement-info total-achievement">{{ totalAchievements }}</div>
  }
</div>
@if (achievements!=null && achievements.length>0 && tooltipHtml) {
  <div
    [innerHTML]="tooltipHtml + totalHtml"
     [ngClass]="{
          'left-border': onLeftBorder,
          'center': !onRightBorder && !onLeftBorder,
          'right-border': onRightBorder,
          'top-border': !onBottomBorder,
          'bottom-border': onBottomBorder,
        }" class="tooltiptext" [ngStyle]="{'top':mouseY+'px', 'left':mouseX+'px'}"></div>
}
