.achievement {
  width: 70px;
  height: 70px;

  border-radius: 15px;
  border: solid 5px;

  background: rgb(1, 16, 64);
  background: linear-gradient(135deg, rgba(1, 16, 64, 1) 0%, rgba(64, 77, 141, 1) 50%, rgba(36, 18, 28, 1) 88%, rgba(255, 42, 42, 1) 100%);
}

.achievement.bronze {

}

.achievement.silver {

}

.achievement.gold {

}

img {
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: contain;

  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animate {
  0% {
    filter: drop-shadow(0px 0px 1px #fff)
    drop-shadow(0px 0px 3px #fff)
    drop-shadow(0px 0px 10px #8097b3)
    drop-shadow(0px 0px 30px #274e7e)
    drop-shadow(0px 0px 50px #012f67);
  }

  100% {
    filter: drop-shadow(0px 0px 5px #fff)
    drop-shadow(0px 0px 6px #fff)
    drop-shadow(0px 0px 15px #8097b3)
    drop-shadow(0px 0px 40px #274e7e)
    drop-shadow(0px 0px 60px #012f67);
  }
}


a {
  position: absolute;
  display: inline-block;
  padding-bottom: 4px;
  top: 0.5em;
  right: 0.5em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  font-family: monospace;
  letter-spacing: 1px;
  transition: color 0.2s ease-out, border-color 0.2s ease-out;
}

a:hover {
  color: #ff80b3;
  border-bottom: 1px solid #ff80b3;
}
