.achievement {
  width: 70px;
  height: 70px;

  background: #ffffff;

  position: relative;
  display: inline-block;
}

.disabled img {
  filter: invert(98%) sepia(1%) saturate(4016%) hue-rotate(181deg) brightness(91%) contrast(105%);
}

.achievement-border {
  width: 70px;
  height: 70px;
  border: solid 2px;
  position: absolute;
  margin-top: -75px;
  margin-left: -5px;
}

.achievement-border.normal {
  border-color: black;
}

.achievement-border.bronze {
  border: 4px hsl(28, 31%, 52%);
}

.achievement-border.silver {
  border: 4px hsl(210, 3%, 61%);
}

.achievement-border.gold {
  border: 4px hsl(45, 100%, 47%);
}

.achievement-info {
  border-radius: 50%;
  background-color: #e00000;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-top: -14px;
}

.new-achievement {
  position: absolute;
  margin-top: -14px;
  margin-left: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.total-achievement {
  margin-left: 40px;
}

.achievement-image {
  width: 95%;
  height: 95%;
  object-fit: contain;
  padding-bottom: 3px;
}

/* Tooltip text */
.achievement .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555555;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 12px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1000000;
  bottom: 125%;
  left: 50%;
  margin-left: -150px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.achievement .tooltiptext.left-border {
  margin-left: -40px;
}

.achievement .tooltiptext.right-border {
  margin-left: -260px;
}

.achievement .tooltiptext.center {
  margin-left: -150px;
}

/* Tooltip arrow */
.achievement .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555555 transparent transparent transparent;
}

.achievement .tooltiptext.left-border::after{
  margin-left: -115px;
}

.achievement .tooltiptext.right-border::after{
  margin-left: 105px;
}


/* Show the tooltip text when you mouse over the tooltip container */
.achievement:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tournament-item {
  display: flex;
  vertical-align: center;
}

.circle {
  border-radius: 50%;
  border: 2px solid;
  width: 5px;
  height: 5px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 5px;
}

.circle.normal {
  border-color: black;
  background-color: black;
}

.circle.bronze {
  border-color: #CD7F32;
  background-color: hsl(28, 31%, 52%);
}

.circle.silver {
  border-color: #C0C0C0;
  background-color: hsl(210, 3%, 61%);
}

.circle.gold {
  border-color: #FFD700;
  background-color: hsl(45, 100%, 47%);
}
