.achievement {
  width: 70px;
  height: 70px;

  background: #ffffff;

  position: relative;
  display: inline-block;
  margin: 5px;
}

.dark-mode .achievement {
  background: #303030;
}

.disabled img {
  filter: invert(98%) sepia(1%) saturate(4016%) hue-rotate(181deg) brightness(91%) contrast(105%);
}

.dark-mode img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(223deg) brightness(111%) contrast(101%);
}

.dark-mode .disabled img {
  filter: invert(51%) sepia(1%) saturate(1039%) hue-rotate(26deg) brightness(99%) contrast(86%);
}

.achievement-border {
  width: 70px;
  height: 70px;
  border: solid 2px;
  position: absolute;
  margin-top: -70px;
  margin-left: 0;
}

.achievement-border.disabled {
  box-shadow: none !important;
  border-color: #aaaaaa !important;
}

.achievement-border.normal {
  border-color: black;
  animation-name: animate-normal;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.achievement-border.bronze {
  border: 4px hsl(28, 31%, 52%);
  animation-name: animate-bronze;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.achievement-border.silver {
  border: 4px hsl(210, 3%, 61%);
  animation-name: animate-silver;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.achievement-border.gold {
  border: 4px hsl(45, 100%, 47%);
  animation-name: animate-gold;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.achivement-content {
  text-align: left;
}

.achievement-grade {
  margin-right: 10px;
}

.text-normal {
  color: black;
  font-style: oblique;
  text-transform: uppercase;
}

.text-bronze {
  color: hsl(28, 31%, 52%);
  font-style: oblique;
  text-transform: uppercase;
}

.text-silver {
  color: hsl(210, 3%, 61%);
  font-style: oblique;
  text-transform: uppercase;
}

.text-gold {
  color: hsl(45, 100%, 47%);
  font-style: oblique;
  text-transform: uppercase;
}

@keyframes animate-normal {
  0% {
    box-shadow: 0 0 1px black;
  }

  100% {
    box-shadow: 0 0 4px black;
  }
}

@keyframes animate-bronze {
  0% {
    box-shadow: 0 0 1px hsl(28, 31%, 52%);
  }

  100% {
    box-shadow: 0 0 4px hsl(28, 31%, 52%);
  }
}

@keyframes animate-silver {
  0% {
    box-shadow: 0 0 1px hsl(210, 3%, 61%);
  }

  100% {
    box-shadow: 0 0 4px hsl(210, 3%, 61%);
  }
}


@keyframes animate-gold {
  0% {
    box-shadow: 0px 0px 1px hsl(45, 100%, 47%);
  }

  100% {
    box-shadow: 0px 0px 4px hsl(45, 100%, 47%);
  }
}

.achievement-info {
  border-radius: 50%;
  background-color: #e00000;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-top: -14px;
}

.new-achievement {
  position: absolute;
  margin-top: -14px;
  margin-left: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.total-achievement {
  margin-left: 40px;
}

.achievement-image {
  width: 95%;
  height: 95%;
  object-fit: contain;
  padding-bottom: 3px;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555555;
  color: #ffffff;
  text-align: center;
  padding: 10px 25px 15px 25px;
  border-radius: 6px;
  font-size: 12px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1000000;
  bottom: 95%;
  left: 50%;
  margin-left: -150px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext.left-border {
  margin-left: -40px;
}

.tooltiptext.right-border {
  margin-left: -260px;
}

.tooltiptext.center {
  margin-left: -150px;
}

/* Tooltip arrow */
.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555555 transparent transparent transparent;
}

.tooltiptext.left-border::after {
  margin-left: -115px;
}

.tooltiptext.right-border::after {
  margin-left: 105px;
}


/* Show the tooltip text when you mouse over the tooltip container */
.achievement:hover + .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tournament-list {
  text-align: left;
  margin-left: 10%;
}

.tournament-item {
  display: flex;
  vertical-align: center;
  margin-left: -10%;
}

.circle {
  border-radius: 50%;
  border: 2px solid;
  width: 5px;
  height: 5px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 5px;
}

.circle.normal {
  border-color: black;
  background-color: black;
}

.circle.bronze {
  border-color: #CD7F32;
  background-color: hsl(28, 31%, 52%);
}

.circle.silver {
  border-color: #C0C0C0;
  background-color: hsl(210, 3%, 61%);
}

.circle.gold {
  border-color: #FFD700;
  background-color: hsl(45, 100%, 47%);
}
