<ng-container *transloco="let t">
  <biit-progress-bar *ngIf="loadingGlobal" [type]="BiitProgressBarType.INDETERMINATE"></biit-progress-bar>
  <div class="content">
    <div class="tab-row-single" *ngIf="RbacActivity.CHANGE_PASSWORD | hasPermission">
      <biit-input-text id="old-password"
                       [placeholder]="t('oldPassword')"
                       [type]="Type.PASSWORD"
                       [(ngModel)]="oldPassword"
                       [required]="true"
                       error="{{errors | mapGet: PasswordFormValidationFields.OLD_PASSWORD_MANDATORY}}"
                       [maxLength]=PASSWORD_MAX_LENGTH
      ></biit-input-text>
    </div>
    <div class="tab-row-single">
      <biit-input-text id="new-password"
                       [placeholder]="t('newPassword')"
                       [type]="Type.PASSWORD"
                       [(ngModel)]="newPassword"
                       [required]="true"
                       error="{{errors | mapGet: PasswordFormValidationFields.PASSWORD_MANDATORY}}"
                       [maxLength]=PASSWORD_MAX_LENGTH
      ></biit-input-text>
    </div>
    <div class="tab-row-single">
      <biit-input-text id="new-repeat-password"
                       [placeholder]="t('repeatPassword')"
                       [type]="Type.PASSWORD"
                       [(ngModel)]="pwdVerification"
                       [required]="true"
                       [maxLength]=PASSWORD_MAX_LENGTH
                       error="{{errors | mapGet: PasswordFormValidationFields.PASSWORD_MISMATCH}}"
      ></biit-input-text>
    </div>
    <div class="button-container">
      <button biit-button secondary style="display: block" (click)="generatePassword()">
        {{ t('generate') }}
      </button>
      <button biit-button id="language-accept" primary
              (click)="changePassword()">
        {{ 'accept' | transloco }}
      </button>
    </div>
  </div>
</ng-container>
