.fights-creator {
  //width: 800px;
  display: flex;
  height: 80vh;
}

.teams-container {
  overflow: auto;
}

.roles-location.ng-star-inserted {
  padding-bottom: 30px;
  padding-right: 20px;
}

.team {
  min-height: 200px;
  border-color: #c3d1e1;
  border-radius: 15px;
  border-style: dotted;
  overflow: auto;
}

.teams {
  overflow: auto;
  padding-left: 10px;
}

.team-list {
  padding-right: 10px;
}

.mat-raised-button {
  width: 150px;
}



