.filter {
  text-align: right;
  display: inline-block;
  padding-left: 5vh;
  margin-top: -10px;
  height: 90px;
}

.reset {
  padding-left: 0;
}

.filter-field {
  padding: 20px 0;
  position: relative;
}
