<div class="level" [class]="'level-' + level" *ngFor="let level of groupsByLevel.keys()"
     [ngStyle]="{ 'margin-top':  getRowTopMargin(level) + 'px' }">
  <div *ngFor="let group of groupsByLevel.get(level); let g = index"
       [attr.id]="'group-' + g"
       [ngStyle]="{
          'margin-top':  getGroupTopSeparation(level, g) + 'px',
          'margin-left': getGroupLeftSeparation(level,g) + 'px'
        }"
       class="group"
       [ngClass]="['group-' + g ,'group-' + level + '-' + g]">
      <div class="group-title">Group 1</div>
      <div class="group-content"></div>
  </div>
  <div class="arrow-container" *ngFor="let g of relations.get(level)">
    <app-arrow [x1]="getArrowX1Coordinate(level, g.src)" [y1]="getArrowY1Coordinate(level, g.src)"
               [x2]="getArrowX2Coordinate(level+1, g.dest)" [y2]="getArrowY2Coordinate(level+1, g.src, g.dest)"></app-arrow>
  </div>
</div>
