<div class="level" [class]="'level-' + i" *ngFor="let level of groupsByLevel.keys(); let i = index"
     [ngStyle]="{ 'margin-top':  getRowTopMargin(i) + 'px' }">
  <div [attr.id]="'group-' + g"
       [ngStyle]="{
          'margin-top':  getGroupTopSeparation(i, g) + 'px',
          'margin-left': getGroupLeftSeparation(i,g) + 'px'
        }"
       class="group"
       [ngClass]="['group-' + g ,'group-' + i + '-' + g]"
       *ngFor="let group of groupsByLevel.get(level); let g = index">
  </div>
  <div class="arrow-container" *ngFor="let arrow of relations | keyvalue">
    <app-arrow [x1]="getArrowX1Coordinate(arrow.key, i)" [y1]="getArrowY1Coordinate(arrow.key, i)"
               [x2]="getArrowX2Coordinate(arrow.key, i)" [y2]="getArrowY2Coordinate(arrow.key, i)"></app-arrow>
  </div>
</div>
