<app-mat-spinner-overlay [overlay]="true"></app-mat-spinner-overlay>
<div class="kendo-table">
  <div class="upper-menu">
    <div class="cell">
      <button (click)="addElement()" *ngIf="(RbacActivity.CREATE_CLUB | rbac : this.rbacService.activities)"
              [matTooltipShowDelay]="500" color="primary"
              mat-button
              matTooltip="{{'clubAdd' | translate}}">
        <mat-icon>add</mat-icon>
      </button>
      <button (click)="editElement()" *ngIf="(RbacActivity.READ_ONE_CLUB | rbac : this.rbacService.activities)"
              [disabled]="!basicTableData.selectedElement"
              [matTooltipShowDelay]="500" mat-button
              matTooltip="{{'clubEdit' | translate}}">
        <mat-icon>create</mat-icon>
      </button>
      <button (click)="deleteElement()" *ngIf="(RbacActivity.DELETE_CLUB | rbac : this.rbacService.activities)"
              [disabled]="!basicTableData.selectedElement" [matTooltipShowDelay]="500"
              color="warn" mat-button
              matTooltip="{{'clubDelete' | translate}}">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
  <basic-table [basicTableData]="basicTableData" [disableRow]="disableRow"></basic-table>
  <div class="bottom-menu">
    <button (click)="showCompetitorsClassification()"
            *ngIf="(RbacActivity.READ_ALL_COMPETITORS_RANKINGS | rbac : this.rbacService.activities)"
            [disabled]="!basicTableData.selectedElement" [matTooltipShowDelay]="500"
            color="primary" mat-button
            matTooltip="{{'competitorsClubRanking' | translate}}">
      <mat-icon class="kendo-icon" svgIcon="competitors-classification"></mat-icon>
    </button>
  </div>
</div>
