<ng-container *transloco="let t">
  <div class="table-view">
    <biit-datatable #table id="clubs-table"
      [columns]="columns"
      [data]="clubs"
      [pageSize]="pageSize"
      [pageSizeList]="pageSizes"
      [loading]="loading"
      scrollbarH
      selectable
      >
      <ng-template #actions>
        @if (RbacActivity.CREATE_CLUB | hasPermission) {
          <button id="button-plus" biit-icon icon="plus"
            [title]="t('clubAdd')"
            (click)="addElement()"
          ></button>
        }
        @if (RbacActivity.DELETE_CLUB | hasPermission) {
          <button id="button-minus" biit-icon icon="minus" class="warning"
            [title]="t('delete')"
            (click)="confirmDelete=true"
            [disabled]="!table.selectedRows.length"
          ></button>
        }
        @if (RbacActivity.READ_ONE_CLUB | hasPermission) {
          <button id="button-edit" biit-icon icon="edit"
            [title]="t('clubEdit')"
            (click)="editElement(table.selectedRows[0])"
            [disabled]="!table.selectedRows || table.selectedRows.length != 1"
          ></button>
        }
        <mat-divider class="extra-menu" [vertical]="true"></mat-divider>
        <span class="extra-menu">
          @if ((RbacActivity.READ_ALL_COMPETITORS_RANKINGS | hasPermission)) {
            <button id="club-ranking" mat-button
              [title]="t('competitorsClubRanking')"
              (click)="showRanking=true"
              [disabled]="!table.selectedRows || table.selectedRows.length != 1">
              <mat-icon class="kendo-icon" svgIcon="competitors-classification"></mat-icon>
            </button>
          }
        </span>
      </ng-template>
    </biit-datatable>
  </div>

  @if (target) {
    <club-form-popup
      [club]="target"
      (closed)="this.target = null"
      (saved)="onSaved($event)"
      />
  }


  @if (confirmDelete) {
    <biit-popup id="confirmation-delete-popup"
      no-header
      >
      <div class="vertical">
        <span [innerHTML]="'tournamentDeleteQuestion' | transloco : {name: getClubNames(table.selectedRows)}"></span>
        <div class="flex-grow horizontal buttons-row">
          <button id="confirm-cancel-button" biit-button secondary (click)="confirmDelete = false">{{ t('cancel') }}
          </button>
          <button id="confirm-delete-button" biit-button primary
            (click)="deleteElements(table.selectedRows)">{{ t('delete') }}
          </button>
        </div>
      </div>
    </biit-popup>
  }

  @if (showRanking) {
    <biit-popup id="ranking-popup" [title]="t('competitorsRanking')">
      <competitors-ranking
        [club]="table.selectedRows[0]"
        [showIndex]="true"
      (onClosed)="showRanking=false"></competitors-ranking>
    </biit-popup>
  }

</ng-container>
