.page-content {
  min-height: 100vh;
  overflow-y: auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.upper-menu {
  padding-left: 30px;
}

.championship-view {
  min-width: 600px;
}

@media screen and (max-height: 750px) {
  .championship-container {
    height: 75vh;
  }
}

@media screen and (max-width: 800px) {
  .refresh-group {
    display: none !important;
  }

  .download-divider {
    display: none !important;
  }

  .download {
    display: none !important;
  }

}
