<ng-container *transloco="let t">
  <spinner-overlay [overlay]="true"></spinner-overlay>
  <div class="championship-view">
    <div class="page-container">
      <div class="upper-menu">
        <div class="cell">
          <button (click)="goBackToFights()"
                  *ngIf="(RbacActivity.READ_ALL_FIGHTS | hasPermission)"
                  [matTooltipShowDelay]="500" color="secondary"
                  color="primary" mat-button
                  matTooltip="{{'back' | transloco}}">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <button (click)="addGroup()" *ngIf="(RbacActivity.CREATE_GROUP | hasPermission)"
                  [disabled]="!(groupsLevelZero.length < totalTeams / 2) || groupsDisabled || (tournament && tournament.locked)"
                  [matTooltipShowDelay]="500"
                  class="add-button"
                  color="primary" mat-button
                  matTooltip="{{'addFight' | transloco}}">
            <mat-icon>add</mat-icon>
          </button>
          <button (click)="changeNumberOfWinners(2)"
                  *ngIf="(numberOfWinners == 1) && (RbacActivity.EDIT_TOURNAMENT | hasPermission)"
                  [disabled]="groupsDisabled || (tournament && tournament.locked)"
                  [matTooltipShowDelay]="500"
                  color="primary" mat-button
                  matTooltip="{{'winnerNumber' | transloco}}">
            <mat-icon class="kendo-icon" svgIcon="one-winner"></mat-icon>
          </button>
          <button (click)="changeNumberOfWinners(1)"
                  *ngIf="(numberOfWinners == 2) && (RbacActivity.EDIT_TOURNAMENT | hasPermission)"
                  [disabled]="groupsDisabled || (tournament && tournament.locked) || updatingGroup"
                  [matTooltipShowDelay]="500"
                  color="primary" mat-button
                  matTooltip="{{'winnerNumber' | transloco}}">
            <mat-icon class="kendo-icon" svgIcon="two-winners"></mat-icon>
          </button>
          <button (click)="deleteGroup()" *ngIf="(RbacActivity.DELETE_GROUP | hasPermission)"
                  [disabled]="groupsDisabled || (tournament && tournament.locked) || updatingGroup || groups.length < 1"
                  [matTooltipShowDelay]="500"
                  class="delete-button" color="warn" mat-button
                  matTooltip="{{'delete' | transloco}}">
            <mat-icon>clear</mat-icon>
          </button>
          <button (click)="refreshGroups()" *ngIf="(RbacActivity.REFRESH_GROUPS | hasPermission)"
                  [disabled]="(tournament && tournament.locked) || updatingGroup || groups.length < 1"
                  [matTooltipShowDelay]="500"
                  color="primary" mat-button
                  class="refresh-group"
                  matTooltip="{{'refreshStructure' | transloco}}">
            <mat-icon>settings_backup_restore</mat-icon>
          </button>
          <mat-divider [vertical]="true"
                       *ngIf="(RbacActivity.CREATE_FIGHT | hasPermission)"
          ></mat-divider>
          <button (click)="generateGroupConfirmation=true"
                  *ngIf="isWizardEnabled && (RbacActivity.CREATE_FIGHT | hasPermission)"
                  [disabled]="groupsDisabled || (tournament && tournament.locked)"
                  [matTooltipShowDelay]="500"
                  color="primary" mat-button
                  matTooltip="{{'wizard' | transloco}}">
            <mat-icon>wand</mat-icon>
          </button>
          <mat-divider [vertical]="true"
                       class="download-divider"
                       *ngIf="(RbacActivity.DOWNLOAD_GROUPS_PDF | hasPermission)"
          ></mat-divider>
          <button (click)="downloadPDF()"
                  *ngIf="isWizardEnabled && (RbacActivity.DOWNLOAD_GROUPS_PDF | hasPermission)"
                  [matTooltipShowDelay]="500"
                  color="primary" mat-button
                  class="download"
                  matTooltip="{{'download' | transloco}}">
            <mat-icon>file_download</mat-icon>
          </button>
        </div>
      </div>
      <div class="page-content">
        <app-tournament-brackets-editor [tournament]="tournament"
                                        [droppingDisabled]="groupsDisabled"
                                        [groupsDisabled]="groupsDisabled"
                                        (onGroupsUpdated)="groupsUpdated($event)"
                                        (onGroupsDisabled)="groupsActionsDisabled($event)"
                                        (onTeamsLengthUpdated)="teamsSizeUpdated($event)">
        </app-tournament-brackets-editor>
      </div>
    </div>
  </div>

  <biit-popup id="confirmation-delete-teams" *ngIf="generateGroupConfirmation"
              no-header
  >
    <div class="vertical">
      <span [innerHTML]="'deleteFightsWarning' | transloco"></span>
      <div class="flex-grow horizontal buttons-row">
        <button id="confirm-delete-cancel-button" biit-button secondary
                (click)="generateGroupConfirmation = false">{{ t('cancel') }}
        </button>
        <button id="confirm-delete-accept-button" biit-button primary
                (click)="generateElements(); generateGroupConfirmation = false">
          {{ t('accept') }}
        </button>
      </div>
    </div>
  </biit-popup>
</ng-container>
