.table-container {
  position: relative;
  overflow: auto;
  max-height: 70vh;
  min-height: 30vh;
  padding: 1em;
}

.table-caption {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 1.5em;
  color: var(--component-color);
}

.team-ranking-table {
  margin: 2vw -190px 2vm 2vm;
}


.team-ranking-table thead th {
  position: sticky;
  top: -1em;
  z-index: 1;
  background: var(--table-header-color);
  color: var(--table-header-text);
  min-height: 30px;
  vertical-align: middle;
  text-align: center;
}

.team-ranking-header {
  max-width: 20vw;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  color: var(--component-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.team-ranking-value {
  text-align: center;
  padding: 10px;
  color: var(--component-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.team-ranking-value.team-name {
  font-weight: bold;
  text-align: left;
}

.team-ranking-value.team-name.finished {
  font-weight: bold;
  color: #4d6d95;
}

.team-ranking-value.team-name.winner {
  color: #001239;
}

.team-ranking-value.team-name.winner.draw {
  color: #ff0000;
}

.team-ranking-value.team-name.finalist {
  color: #274e7e;
}

.team-ranking-value.team-name.finalist.draw {
  color: #FF9800;
}

.team-ranking-value.team-name.semifinalist {
  color: #4d6d95;
}

.team-ranking-value.team-name.semifinalist.draw {
  color: #ffd740;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding-top: 1em;
}
