<div mat-dialog-content>
  <div class="picture-engine">
    <div class="canvas">
      <div class="camera-frame">
        <webcam (imageCapture)="pictureHandler($event)" (initError)="errorHandler($event)" [height]="512"
                [imageType]="imageType"
                [trigger]="clickOnCamera" [videoOptions]="videoOptions" [width]="390"></webcam>
      </div>
      <div class="rectangle"></div>
      <div class="circle"></div>
      <floating-delete-button icon="cross" class="floating-image-delete-button"
                              (click)="deletePicture()">
      </floating-delete-button>
      <button biit-icon class="floating-swap-button" *ngIf="availableCameras>1 && (RbacActivity.TAKE_PICTURE | hasPermission)"
              (click)="switchCamera()"
              [icon]="'camera_swap'">
      </button>
    </div>

    <div class="gallery">
      <div *ngFor="let image of pictures; let i = index" class="image-container">
        <img (click)="selectImage(i)" (keydown)="selectImage(i)" [class.selected-image]="i === selectedPicture"
             alt="Participant"
             src="{{ image }}"/>
      </div>
    </div>
  </div>

  <div class="button-container" mat-dialog-actions>
    <button biit-button (click)="takePicture()" *ngIf="(RbacActivity.TAKE_PICTURE | hasPermission)" quaternary>
      {{ 'photo' | transloco }}
      <!--      <mat-icon>add_a_photo</mat-icon>-->
    </button>
    <button biit-button (click)="saveImage()" *ngIf="(RbacActivity.TAKE_PICTURE | hasPermission)" primary>
      {{ 'selectButton' | transloco }}
      <!--      <mat-icon>photo_album</mat-icon>-->
    </button>
    <button biit-button (click)="fileInput.click()" *ngIf="(RbacActivity.UPLOAD_PICTURE | hasPermission)" secondary>
      {{ 'upload' | transloco }}
      <!--      <mat-icon>upload_file</mat-icon>-->
      <input #fileInput (change)="handleFileInput($event)" accept=".jpg,.jpeg,.png" style="display:none;" type="file"/>
    </button>
    <button biit-button (click)="closeDialog()" secondary>{{ 'close' | transloco }}</button>
  </div>
</div>
