.container {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border: 3px #012354 solid;
}

.initials {
  font-size: 22px;
}

img {
  flex: none; /* keep aspect ratio */
  border-radius: 50%;
}
