<div class="participant-picture">
  @if (participantPicture) {
    <div (dblclick)="openImage(true)" class="container">
      <img alt="{{participantInitials}}" class="picture" src="{{ participantPicture }}"/>
    </div>
  }
  @if (!participantPicture) {
    <div [style]="circleStyle" class="container">
      <span class="initials">{{ this.participantInitials }}</span>
    </div>
  }
</div>

@if (participantWindowOpened && this.participantPicture) {
  <biit-popup id="participant-photo"
    (onClosed)="openImage(false)" no-header
    >
    <picture-dialog-box
      [participantPicture]="this.participantPicture"
      (closed)="openImage(false)">
    </picture-dialog-box>
  </biit-popup>
}
