<app-mat-spinner-overlay [overlay]="true"></app-mat-spinner-overlay>
<div cdkDropListGroup class="fights-creator" [ngClass]="{'horizontal' : horizontalTeams }">
  <div (cdkDropListDropped)="dropTeam($event)" [cdkDropListData]="teamListData.filteredTeams"
       [cdkDropListOrientation]="(horizontalTeams?'horizontal':'vertical')"
       cdkDropListSortingDisabled
       cdkDropList
       class="teams-container" [ngClass]="{'horizontal' : horizontalTeams }">
    <team-list [teamListData]="teamListData" [horizontal]="horizontalTeams" [grid]="grid" [ngClass]="{'horizontal' : horizontalTeams }"
    [teamsDragDisabled]="teamDragDisabled">
    </team-list>
  </div>
  <div class="new-fight-title">
    <h2 [class.red-ribbon]="!swappedColors" [class.white-ribbon]="swappedColors"
        class="teams-title">{{!swappedColors ? ('redTeam' | translate) : ('whiteTeam' |
      translate)}}</h2>
    <h2 [class.red-ribbon]="swappedColors" [class.white-ribbon]="!swappedColors"
        class="teams-title">{{swappedColors ? ('redTeam' | translate) : ('whiteTeam' |
      translate)}}</h2>
  </div>
  <div class="new-fight">
    <div class="team-selected">
      <app-team-card [disableDrag]="true" *ngFor="let team of selectedTeam1" [team]="team"></app-team-card>
    </div>
    <div (cdkDropListDropped)="dropTeam($event)" [cdkDropListData]="selectedTeam2"
         [cdkDropListEnterPredicate]="checkDroppedElement"
         [cdkDropListSortingDisabled]="false" cdkDropList
         class="team-selected">
      <app-team-card *ngFor="let team of selectedTeam2" [team]="team"></app-team-card>
    </div>
  </div>
</div>
<div class="button-container" mat-dialog-actions>
  <button (click)="addFights()" color="primary" mat-flat-button mat-raised-button>{{'add' | translate}}</button>
  <button (click)="closeDialog()" color="warn" mat-flat-button mat-raised-button>{{'cancel' | translate}}</button>
</div>
