@if (loading) {
  <biit-progress-bar [type]="BiitProgressBarType.INDETERMINATE"
  class="loading-bar"></biit-progress-bar>
}

<div class="canvas" *transloco="let t">
  <biit-tab-group class="images-tabs" id="images-tabs">
    <biit-tab id="banner-tab" [name]="t('t.banner')">
      <div class="tab-row">
        <div class="image-editor">
          @if (bannerImage) {
            <img alt="Preview"
              class="image-preview" src="{{ bannerImage }}"/>
          }
          @if (!bannerImage) {
            <div class="empty-image image-preview">
            </div>
          }
        </div>
      </div>
      <div class="floating-menu">
        @if ((RbacActivity.UPLOAD_TOURNAMENT_BANNER | hasPermission)) {
          <button biit-icon class="floating-button"
            (click)="fileInputBanner.click()"
            [title]="t('upload')"
            [icon]="'upload_general'">
          </button>
        }
        <label class="visually-hidden" for="tournament-banner-file-input">{{ t('upload') }}</label>
        <input id="tournament-banner-file-input" #fileInputBanner (change)="handleFileInput($event, TournamentImageType.BANNER)"
          accept=".jpg,.jpeg,.png" style="display:none;"
          type="file"/>
        @if ((RbacActivity.UPLOAD_TOURNAMENT_BANNER | hasPermission)) {
          <button biit-icon class="floating-button"
            (click)="downloadPreview(TournamentImageType.BANNER)"
            [title]="t('preview')"
            [icon]="'show'">
          </button>
        }
        @if ((RbacActivity.UPLOAD_TOURNAMENT_BANNER | hasPermission)) {
          <button biit-icon class="floating-button"
            (click)="deletePicture(TournamentImageType.BANNER)"
            [title]="t('defaultPicture')"
            [icon]="'cross_wide'">
          </button>
        }
      </div>
    </biit-tab>
    <biit-tab id="diplomas-tab" [name]="t('t.diplomas')">
      <div class="tab-row">
        <div class="controls">
          <button biit-icon icon="up_double_arrow" class="up-double-arrow arrow" (click)="moveLineUpFast()">
          </button>
          <button biit-icon icon="up_arrow" class="up-arrow arrow" (click)="moveLineUp()">
          </button>
          <button biit-icon icon="down_arrow" class="down-arrow  arrow" (click)="moveLineDown()">
          </button>
          <button biit-icon icon="down_double_arrow" class="down-double-arrow  arrow" (click)="moveLineDownFast()">
          </button>
        </div>
        <div [style.margin-top]="getLinePosition()+'px'"
        class="name-line"></div>
        <div class="image-editor">
          @if (diplomaImage) {
            <img alt="Preview"
              class="image-preview" src="{{ diplomaImage }}"/>
          }
          @if (!diplomaImage) {
            <div class="empty-image image-preview">
            </div>
          }
        </div>
        <span class="name" [style.margin-top]="-componentHeight + (getLinePosition()-10)+'px'">
        {{ 'nameExample' | transloco }}</span>
      </div>
      <div class="floating-menu">
        @if ((RbacActivity.UPLOAD_TOURNAMENT_DIPLOMA | hasPermission)) {
          <button biit-icon class="floating-button"
            (click)="fileInputDiploma.click()"
            [title]="t('upload')"
            [icon]="'upload_general'">
          </button>
        }
        <label class="visually-hidden" for="tournament-diploma-file-input">{{ t('upload') }}</label>
        <input id="tournament-diploma-file-input" #fileInputDiploma (change)="handleFileInput($event, TournamentImageType.DIPLOMA)"
          accept=".jpg,.jpeg,.png" style="display:none;"
          type="file"/>
        @if ((RbacActivity.UPLOAD_TOURNAMENT_DIPLOMA | hasPermission)) {
          <button biit-icon class="floating-button"
            (click)="downloadPreview(TournamentImageType.DIPLOMA)"
            [title]="t('preview')"
            [icon]="'show'">
          </button>
        }
        @if ((RbacActivity.UPLOAD_TOURNAMENT_DIPLOMA | hasPermission)) {
          <button biit-icon class="floating-button"
            (click)="deletePicture(TournamentImageType.DIPLOMA)"
            [title]="t('defaultPicture')"
            [icon]="'cross_wide'">
          </button>
        }
      </div>
    </biit-tab>
    <biit-tab id="accreditation-tab" [name]="t('t.accreditation')">
      <div class="tab-row">
        <div class="image-editor">
          @if (accreditationImage) {
            <img alt="Preview"
              class="image-preview" src="{{ accreditationImage }}"/>
          }
          @if (!accreditationImage) {
            <div class="empty-image image-preview">
            </div>
          }
        </div>
      </div>
      <div class="floating-menu">
        @if ((RbacActivity.UPLOAD_TOURNAMENT_ACCREDITATION | hasPermission)) {
          <button biit-icon class="floating-button"
            (click)="fileInputAccreditation.click()"
            [title]="t('upload')"
            [icon]="'upload_general'">
          </button>
        }
        <label class="visually-hidden" for="tournament-accreditation-file-input">{{ t('upload') }}</label>
        <input id="tournament-accreditation-file-input" #fileInputAccreditation (change)="handleFileInput($event, TournamentImageType.ACCREDITATION)"
          accept=".jpg,.jpeg,.png" style="display:none;"
          type="file"/>
        @if ((RbacActivity.UPLOAD_TOURNAMENT_ACCREDITATION | hasPermission)) {
          <button biit-icon class="floating-button"
            (click)="downloadPreview(TournamentImageType.ACCREDITATION)"
            [title]="t('preview')"
            [icon]="'show'">
          </button>
        }
        @if ((RbacActivity.UPLOAD_TOURNAMENT_ACCREDITATION | hasPermission)) {
          <button biit-icon class="floating-button"
            (click)="deletePicture(TournamentImageType.ACCREDITATION)"
            [title]="t('defaultPicture')"
            [icon]="'cross_wide'">
          </button>
        }
      </div>
    </biit-tab>
    <biit-tab id="default-photo-tab" [name]="t('t.defaultPicture')">
      <div class="tab-row">
        <div class="image-editor">
          @if (defaultPhotoImage) {
            <img alt="Preview"
              class="image-preview" src="{{ defaultPhotoImage }}"/>
          }
          @if (!defaultPhotoImage) {
            <div class="empty-image image-preview">
            </div>
          }
        </div>
      </div>
      <div class="floating-menu">
        @if ((RbacActivity.UPLOAD_TOURNAMENT_PHOTO | hasPermission)) {
          <button biit-icon class="floating-button"
            (click)="fileInputPhoto.click()"
            [title]="t('upload')"
            [icon]="'upload_general'">
          </button>
        }
        <label class="visually-hidden" for="tournament-photo-file-input">{{ t('upload') }}</label>
        <input id="tournament-photo-file-input" #fileInputPhoto (change)="handleFileInput($event, TournamentImageType.PHOTO)"
          accept=".jpg,.jpeg,.png" style="display:none;"
          type="file"/>
        @if ((RbacActivity.UPLOAD_TOURNAMENT_PHOTO | hasPermission)) {
          <button biit-icon class="floating-button"
            (click)="downloadPreview(TournamentImageType.PHOTO)"
            [title]="t('preview')"
            [icon]="'show'">
          </button>
        }
        @if ((RbacActivity.UPLOAD_TOURNAMENT_PHOTO | hasPermission)) {
          <button biit-icon class="floating-button"
            (click)="deletePicture(TournamentImageType.PHOTO)"
            [title]="t('defaultPicture')"
            [icon]="'cross_wide'">
          </button>
        }
      </div>
    </biit-tab>
  </biit-tab-group>
  <div class="buttons-row">
    <button biit-button id="tournament-button-save" primary (click)="onClosed.emit()">
      {{ t('close') }}
    </button>
  </div>
</div>
