.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.team-panel {
  background-color: var(--body-background);
  border: 3px solid var(--component-color);
  height: auto;
  width: 700px;
}

team-list {
  width: 100%;
}

.team-grid {
  width: 100%;
}

::ng-deep .team-list {
  width: 35vh;
}

.teams-container {
  display: flex;
  padding-top: 1rem;
}

.tournament-brackets-container {
  overflow: scroll;
  height: 88vh;
  width: 100%;
  margin: auto;
  padding-top: 2rem;
}

.tournament-brackets {
  margin-left: 0;
  position: relative;
}

.tournament-brackets.started {
  margin-left: 20px;
}

.floating-button {
  z-index: 999;
  right: 5em;
  position: fixed;

  &:hover {
    background-color: var(--main-background);
  }
}

.menu-button {
  padding: 0 0 0 8px;
  width: 2.125em;

  &:hover {
    background-color: var(--main-background);
  }
}

button > .mat-icon {
  height: 24px !important;
  width: 24px !important;
}

.button-container {
  text-align: center;
  width: 100%;
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  margin: 1rem;
  min-height: 50px;
  height: 50px;
  position: absolute;
  bottom: 1rem;
  left: 60px;
}
