.filter {
  display: inline-block;
  height: 30px;
}

.basic-table {
  overflow: auto;
  max-height: 85vh;
}

.table-header-cell {
  background-color: var(--table-header-color);
  color: var(--table-header-text);
}

.separator {
  display: inline-block;
}

table {
  width: 100%;
  min-width: 600px;
}

.menu-setting-option {
  padding: 5px;
}

.menu-setting-option-text {
  color: var(--text-color);
}

.mat-header-cell {
  text-align: center;
  padding: 8px 20px 8px 20px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  border-right: 1px solid currentColor;
  font-size: medium;
}

.disabled {
  opacity: 0.6;
}

@media screen and (max-width: 1000px) {
  .filter-field {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .tune-button {
    display: none !important;
  }
}
