.filter {
  display: inline-block;
}

.separator {
  display: inline-block;
}

table {
  width: 100%;
}

.mat-header-cell {
  text-align: center;
  padding: 8px 20px 8px 20px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  border-right: 1px solid currentColor;
  font-size: medium;
}
