<app-filter (filterChanged)="filter($event)" (reset)="filter('')"></app-filter>
<button [matMenuTriggerFor]="mainMenuButton" [matTooltipShowDelay]="500" class="tune-button" mat-button
        matTooltip="{{'fields' | translate}}">
  <mat-icon>tune</mat-icon>
</button>
<mat-menu #mainMenuButton="matMenu" class="table-settings">
        <span (click)="$event.stopPropagation()" *ngFor="let column of basicTableData.columns">
          <mat-checkbox (change)="toggleColumnVisibility(column)" [checked]="isColumnVisible(column)"
                        class="menu-setting-option"></mat-checkbox>
          <span class="menu-setting-option-text">{{column | translate}}</span>
          <br>
        </span>
</mat-menu>
<div class="mat-elevation-z8">
  <div class="basic-table">
    <table [dataSource]="basicTableData.dataSource" aria-describedby="List of items on a table view"
           class="mat-elevation-z8" mat-table matSort
           matSortActive="createdAt" matSortDirection="desc">
      <ng-container *ngFor="let column of basicTableData.columns; let i = index">
        <ng-container [matColumnDef]=column>
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header={{column}}>{{basicTableData.columnsTags[i] | translate}}
          </th>
          <td *matCellDef="let data" mat-cell> {{getColumnData(data[column])}}</td>
        </ng-container>
      </ng-container>

      <tr *matHeaderRowDef="basicTableData.visibleColumns" mat-header-row></tr>
      <tr (click)="basicTableData.selection.toggle(row); setSelectedItem(row)" (mouseout)="row.hovered=false"
          (mouseover)="row.hovered=true" *matRowDef="let row; columns: basicTableData.visibleColumns;"
          [class.disabled]="disableRow(row)"
          [ngClass]="{hovered: row.hovered, highlighted: basicTableData.selection.isSelected(row)}"
          mat-row></tr>
    </table>
    <mat-paginator (page)="onPaginateChange($event)" [pageSizeOptions]="[10, 20, 50]" [pageSize]="getDefaultPageSize()"
                   showFirstLastButtons></mat-paginator>
  </div>
</div>
