.undraw-generator {
  width: 800px;
  display: flex;
  height: 80vh;
}

.undraw-generator div {
  flex: 1
}

.team-area {
  overflow: auto;
}

.representative-user {

}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
}

.mat-raised-button {
  width: 150px;
}
