<div class="container">
  <app-mat-spinner-overlay [overlay]="true"></app-mat-spinner-overlay>
  <mat-tab-group *ngIf="totalDuels >= 2">
    <mat-tab *ngFor="let team of teams; let i = index"
             [label]="teams[(i%(teams.length))].name + ' - ' +teams[((i+1)%(teams.length))].name">
      <div class="undraw-generator">
        <app-member-selector (selectedMember)="setCompetitor1(i, $event)"
                             [team]="teams[(i%(teams.length))]"></app-member-selector>
        <app-member-selector (selectedMember)="setCompetitor2(i, $event)"
                             [team]="teams[((i+1)%(teams.length))]"></app-member-selector>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div *ngIf="totalDuels == 1">
    <div class="undraw-generator">
      <app-member-selector (selectedMember)="setCompetitor1(0, $event)" [team]="teams[0]"></app-member-selector>
      <app-member-selector (selectedMember)="setCompetitor2(0, $event)" [team]="teams[1]"></app-member-selector>
    </div>
  </div>
  <div class="button-container" mat-dialog-actions>
    <button (click)="createFights()" *ngIf="(RbacActivity.CREATE_DUEL | rbac : this.rbacService.activities)"
            [disabled]="!duelsCompleted()" color="primary"
            mat-flat-button
            mat-raised-button>{{'accept' | translate}}
    </button>
    <button (click)="closeDialog()" color="secondary" mat-flat-button
            mat-raised-button>{{'cancel' | translate}}
    </button>
  </div>
</div>
