.undraw-generator {
  display: flex;
  height: 80vh;
  width: 70vw;
  max-height: 600px;
  min-height: 400px;
  max-width: 750px;
}

.undraw-generator div {
  flex: 1
}

.team-area {
  overflow: auto;
}

.representative-user {
  overflow: scroll;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
}

.mat-raised-button {
  width: 150px;
}

.container {
  max-width: 780px;
}
