<div class="mat-elevation-z8">
  <div class="kendo-table">
    <div class="upper-menu">
      <div class="cell">
        <button mat-button color="primary" (click)="addElement()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-button [disabled]="!basicTableData.selectedElement" (click)="editElement()">
          <mat-icon>create</mat-icon>
        </button>
<!--        <button mat-button color="primary" [disabled]="!basicTableData.selectedElement" (click)="addElement()">-->
<!--          <mat-icon>assignment_ind</mat-icon>-->
<!--        </button>-->
<!--        <button mat-button color="primary" [disabled]="!basicTableData.selectedElement" (click)="addElement()">-->
<!--          <mat-icon>group_add</mat-icon>-->
<!--        </button>-->
<!--        <button mat-button color="primary" [disabled]="!basicTableData.selectedElement" (click)="addElement()">-->
<!--          <mat-icon>emoji_events</mat-icon>-->
<!--        </button>-->
<!--        <button mat-button color="primary" [disabled]="!basicTableData.selectedElement" (click)="addElement()">-->
<!--          <mat-icon>badge</mat-icon>-->
<!--        </button>-->
<!--        <button mat-button color="primary" [disabled]="!basicTableData.selectedElement" (click)="addElement()">-->
<!--          <mat-icon>contact_page</mat-icon>-->
<!--        </button>-->
<!--        <button mat-button color="primary" [disabled]="!basicTableData.selectedElement" (click)="addElement()">-->
<!--          <mat-icon>summarize</mat-icon>-->
<!--        </button>-->
<!--        <button mat-button color="primary" [disabled]="!basicTableData.selectedElement" (click)="addElement()">-->
<!--          <mat-icon>integration_instructions</mat-icon>-->
<!--        </button>-->
        <button mat-button color="warn" [disabled]="!basicTableData.selectedElement" (click)="deleteElement()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
    <basic-table [basicTableData]="basicTableData"></basic-table>
  </div>
</div>
