:root {
  margin: 0;
  --text-color: rgba(0, 0, 0, 0.87);
  --secondary-text-color: #001239;
  --primay-color: #012f67;
  --selected-color: #ffffff;
  --hightligh-color: #011d4a;
  --contrast-color: #011d4a;
  --border-color: #011d4a;
  --hover-color: #8097b3;
  --score-color: #012f67;
  --footer: #012f67;
  --warning: #ffd740;
  --alert: #6e0309;
  --disabled: #e1e6ed;
  --text-disabled: #8097b3;
  --background-color: #ffffff;
  --shadow: #00123988;
  --card-shadow1: rgba(1, 47, 103, 0.2);
  --card-shadow2: rgba(1, 47, 103, 0.14);
  --card-shadow3: rgba(1, 47, 103, 0.12);
  --table-header-color: #ffffff;
  --table-header-text: #001239;
  --dragable-area: #c3d1e1;
  --fight-border-color: #011d4a;
  --tooltip-text: #ffffff;
  --tooltip-background: #555555;
  --ribbon-border: #ffffff;
  --ribbon-background: #011d4a;
  --focus-element: #00081a;
  --title-color: white;
  --link: #001239;
  --link-visited: #012f67;
  --link-hover: #8097b3;
  --link-active: #012f67;
}

:root .dark-mode {
  margin: 0;
  --text-color: #c9c5d3;
  --secondary-text-color: #b0a3d5;
  --primay-color: #5f4ca1;
  --selected-color: #ffffff;
  --hightligh-color: #45367d;
  --contrast-color: #5f4ca1;
  --border-color: #5f4ca1;
  --hover-color: #b0a3d5;
  --score-color: #b0a3d5;
  --footer: #ffffff;
  --disabled: #424049;
  --text-disabled: #303030;
  --background-color: #303030;
  --shadow: #776e9788;
  --card-shadow1: rgba(176, 163, 213, 0.6);
  --card-shadow2: rgba(176, 163, 213, 0.5);
  --card-shadow3: rgba(176, 163, 213, 0.3);
  --table-header-color: #a3a2d5;
  --table-header-text: #424049;
  --dragable-area: #c3d1e1;
  --fight-border-color: #665e83;
  --tooltip-text: #c9c5d3;
  --tooltip-background: #564f6e;
  --ribbon-border: #665e83;
  --ribbon-background: #303030;
  --focus-element: #c9c5d3;
  --title-color: white;
  --link: #ccc5dd;
  --link-visited: #afa5d5;
  --link-hover: #9f98b9;
  --link-active: #8d7fc3;
}

