/* You can add global styles to this file, and also import other style files */
@import "basic-colors";

.cdk-overlay-pane {
  &.mat-tooltip-panel {
    .mat-tooltip {
      background: var(--tooltip-background);
      font-size: 15px;
      padding: 10px;
    }
  }
}


//Messages
.mat-snack-bar-container.info-snackbar.message-service {
  background: #3700B3;
  color: aliceblue;
  width: 80%;
}

.mat-snack-bar-container.warning-snackbar.message-service {
  background: #FF9800;
  color: aliceblue;
}

.mat-snack-bar-container.error-snackbar.message-service {
  background: var(--alert);
  color: var(--warning);
}

// Table
.kendo-table {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  min-width: 600px;
}

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.upper-menu {
  display: inline-flex;
  flex-flow: row wrap;
  text-align: left;
  float: left;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 10px;
}

.page-content {
  flex-shrink: 1;
  flex-grow: 1;
  position: relative;
  overflow-y: auto;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

.upper-menu .mat-button {
  width: 80px;
}

.upper-menu .cell {
  display: flex;
}

.upper-menu .filter {
  text-align: right;
  flex: 1 1 100px;
  padding-right: 50px;
  margin-bottom: 0px;
}

.bottom-menu {
  text-align: right;
  padding-left: 20px;
  position: absolute;
  margin-top: -50px;
}

.mat-cell {
  text-align: left;
  padding: 3px 20px 3px 20px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.mat-row.hovered {
  background: var(--hover-color);
}

.dark-mode .mat-row.hovered {
  background: #b0a3d5;
}

.mat-row.highlighted {
  background: var(--hightligh-color);
  color: var(--text-color);
}

.dark-mode .mat-row.highlighted {
  background: #5f4ca1;
  color: white;
}

.highlighted .mat-cell {
  color: var(--selected-color);
  font-weight: bold;
}

.mat-form-field-wrapper {
  font-size: 12px;
}

.mat-paginator-container {
  color: var(--footer);
}

.table-settings {
  padding: 15px;
}

@font-face {
  font-family: "Square Sans Serif 7";
  src: local("Square Sans Serif 7"), url(./assets/fonts/square_sans_serif_7.ttf) format("truetype");
}


a:link {
  color: var(--link);
}

/* visited link */
a:visited {
  color: var(--link-visited);
}

/* mouse over link */
a:hover {
  color: var(--link-hover);
}

/* selected link */
a:active {
  color: var(--link-active);
}

.mat-toolbar a:link {
  color: var(--title-color);
}

/* visited link */
.mat-toolbar a:visited {
  color: var(--title-color);
}

/* mouse over link */
.mat-toolbar a:hover {
  color: var(--title-color);
}

/* selected link */
.mat-toolbar a:active {
  color: var(--title-color);
}
