/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0%;
}

//Messages
.mat-snack-bar-container.info-snackbar.message-service {
  background: #3700B3;
  color: aliceblue;
  width: 80%;
}

.mat-snack-bar-container.warning-snackbar.message-service {
  background: #FF9800;
  color: aliceblue;
}

.mat-snack-bar-container.error-snackbar.message-service {
  background: #6e0309;
  color: #ffd740;
}

// Table
.kendo-table {
  padding: 20px;
}

.upper-menu {
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.upper-menu .mat-button {
  width: 80px;
}

.upper-menu .cell {
  display: flex;
}

.upper-menu .filter {
  text-align: right;
  flex: 1 1 100px;
  padding-right: 50px;
}

.mat-cell {
  text-align: left;
  padding: 3px 20px 3px 20px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.mat-row.hovered {
  background: #8097b3;
}

.mat-row.highlighted {
  background: #012f67;
  color: white;
}

.highlighted .mat-cell {
  color: white;
  font-weight: bold;
}

.mat-form-field-wrapper {
  font-size: 12px;
}

.mat-paginator-container {
  color: #012f67;
}
