:root {
  --main-color: #001fff;
  --main-background: #D9D9D9;
  --body-background: #EDEDED;
  --floating-background: #FFFFFF;
  --main-font-color: #FFFFFF;
  --disabled-primary-color: #808080;
  --disabled-floating-color: #D9D9D9;
  --disabled-menu-color: #D9D9D9;
  --disabled-secondary-color: var(--main-color);
  --border-color: #262626;
  --light-background: #D7D7D7;
  --error-color: #A1093F;
  --warning-color: #F20D5E;
  --secondary-color: #808080;
  --secondary-text-color: #EDEDED;
  --secondary-background-color: #808080;
  --component-color: #262626;
  --active-color: var(--component-color);
  --hover-color: #EDEDED;
  --hover-primary-color: var(--main-color);
  --secondary-button-color: #262626;
  --secondary-button-background-color: var(--main-font-color);
  --secondary-button-hover-background: var(--main-background);
  --secondary-button-active-background: var(--main-background);
  --quaternary-button-color: var(--main-font-color);
  --quaternary-button-background-color: #006911;
  --quaternary-button-hover-background: #00A618;
  --quaternary-button-active-background: #00A618;
  --text-hover-color: #5A6473;
  --selected-color: #AECFFB;
  --popup-background: #FFFFFF;
  --icon-color: var(--component-color);
  --table-header-color: var(--component-color);
  --table-border-color: var(--table-header-color);
  --table-header-text: var(--main-background);
  --scrollbar-color: var(--main-color);
  --fight-color: var(--popup-background);
  --finished-fight-color: var(--disabled-primary-color);
  --active-fight-color-selected: var(--body-background);
  --active-fight-color: var(--floating-background);
  --red-team-color: #FF2222;
  --white-team-color: var(--body-background);
}
