.fault {
  height: 50px;
  width: 25px;
  border-width: 1px;
  border-color: var(--primay-color);
  border-style: solid;
  margin: 2px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fault-content {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 25px solid var(--primay-color);
}
