.fault {
  height: 50px;
  width: 25px;
  border-width: 1px;
  border-color: var(--primay-color);
  border-style: solid;
  margin: 2px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fault-content {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 25px solid var(--score-color);
}

.fault .tooltipText {
  visibility: hidden;
  width: 200px;
  background-color: #555555;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 12px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -100px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.fault .tooltipText.left-border {
  margin-left: -40px;
}

.fault .tooltipText.right-border {
  margin-left: -260px;
}

.fault .tooltipText.center {
  margin-left: -100px;
}

/* Tooltip arrow */
.fault .tooltipText::after {
  content: "";
  position: absolute;
  top: -18%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555555 transparent;
}


/* Show the tooltip text when you mouse over the tooltip container */
.fault:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.time-tooltip-container {
  width: 100%;
  height: 30px;
}

.time-tooltip {
  line-height: 30px;
  vertical-align: middle;
  padding-right: 3px;
  padding-left: 2px;
}

