<div [matMenuTriggerFor]="duel.finished || projectMode ? null : menu" class="fault" *ngIf="!locked &&
(RbacActivity.ASSIGN_FAULTS | hasPermission)">
  <mat-menu #menu="matMenu">
    <button [disabled]="duel.finished" (click)="updateFault(true)"
            mat-menu-item>{{'fault' | transloco}}
    </button>
    <button [disabled]="duel.finished" (click)="updateFault(false)" mat-menu-item>{{'clear' | transloco}}</button>
  </mat-menu>
  <div *ngIf="(this.left && !this.swapTeams) || (!this.left && this.swapTeams) ?
       this.duel.competitor1Fault && this.duel.competitor1Fault : this.duel.competitor2Fault"
       class="fault-content">
    <div *ngIf="this.timeRepresentation" [innerHTML]="tooltipText()"
         [ngClass]="{
          'left-border': onLeftBorder,
          'center': !onRightBorder && !onLeftBorder,
          'right-border': onRightBorder
        }"
         class="tooltiptext">
      <mat-icon>timer</mat-icon>
    </div>
  </div>
</div>
<!-- Fault representation when menu is disabled -->
<div class="fault" *ngIf="locked || !(RbacActivity.ASSIGN_FAULTS | hasPermission)">
  <div *ngIf="(this.left && !this.swapTeams) || (!this.left && this.swapTeams) ?
       this.duel.competitor1Fault && this.duel.competitor1Fault : this.duel.competitor2Fault"
       class="fault-content">
    <div *ngIf="this.timeRepresentation" [innerHTML]="tooltipText()"
         [ngClass]="{
          'left-border': onLeftBorder,
          'center': !onRightBorder && !onLeftBorder,
          'right-border': onRightBorder
        }"
         class="tooltiptext">
      <mat-icon>timer</mat-icon>
    </div>
  </div>
</div>
