<app-mat-spinner-overlay [overlay]="true"></app-mat-spinner-overlay>
<div cdkDropListGroup class="roles-container">
  <div (cdkDropListDropped)="removeRole($event)" [cdkDropListData]="userListData.filteredParticipants"
       cdkDropList
       class="users-container">
    <user-list [showAvatars]="showAvatars" [userListData]="userListData"></user-list>
  </div>
  <div class="right-panel">
    <app-fight-statistics-panel [teams]="false" [tournament]="tournament"></app-fight-statistics-panel>
    <div class="roles">
      <div *ngFor="let roleType of roleTypes" class="roles-location">
        <div class="role-header">
          <h2 class="role-text">{{roleType.toLowerCase() | transloco}}</h2>
          <h2 *ngIf="countRole(roleType)" class="role-counter">(x{{countRole(roleType)}})</h2>
        </div>
        <div (cdkDropListDropped)="dropParticipant($event, roleType)"
             [cdkDropListData]="getParticipantsContainer(roleType)"
             cdkDropList
             class="role">
          <app-user-card *ngFor="let user of participants.get(roleType)" [activity]="RbacActivity.EDIT_ROLE"
                         [dragDisabled]="user.locked"
                         [showAvatar]="showAvatars" [user]="user"></app-user-card>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="button-container" mat-dialog-actions>
  <button (click)="downloadPDF()" *ngIf="(RbacActivity.READ_ALL_ROLES | rbac : this.rbacService.getActivities())"
          mat-flat-button
          mat-raised-button>
    <mat-icon>file_download</mat-icon>
    {{'download' | transloco}}
  </button>
  <button (click)="closeDialog()" color="primary" mat-flat-button mat-raised-button>{{'close' | transloco}}</button>
</div>
