.roles-container {
  width: 800px;
  display: flex;
  height: 80vh;
}

.roles-container div {
  flex: 1
}

.users-container {
  overflow: auto;
}

.roles-location.ng-star-inserted {
  padding-bottom: 30px;
  padding-right: 20px;
}

.role {
  min-height: 200px;
  border-color: #c3d1e1;
  border-radius: 15px;
  border-style: dotted;
  overflow: auto;
}

.roles {
  overflow: auto;
  padding-left: 10px;
}

//Padding between roles
.ng-star-inserted {
  padding-bottom: 20px;
}

.user-list {
  border-color: #c3d1e1;
  border-radius: 15px;
  border-style: dotted;
  padding-right: 10px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
}

.mat-raised-button {
  width: 150px;
  padding-bottom: 0px;
}

.role-header {
  display: flow-root;
  clear: both;
}

.role-text {
  padding-left: 5vh;
  float: left;
}

.role-counter {
  padding-right: 5vh;
  float: right;
  color: #274e7e;
  margin-bottom: -20px;
}


