<div class="roles-container" cdkDropListGroup>
  <div cdkDropList class="users-container"
       [cdkDropListData]="userListData.filteredParticipants"
       (cdkDropListDropped)="removeRole($event)">
    <user-list [userListData]="userListData"></user-list>
  </div>
  <div class="roles">
    <div class="roles-location" *ngFor="let role of roleTypes">
      <h2>{{role.toLowerCase() | translate}}</h2>
      <div class="role" cdkDropList
           [cdkDropListData]="getParticipantsContainer(role)"
           (cdkDropListDropped)="dropParticipant($event, role)">
        <app-user-card *ngFor="let user of participants.get(role)" [user]="user"></app-user-card>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="button-container">
  <button mat-raised-button (click)="closeDialog()" mat-flat-button color="primary">{{'close' | translate}}</button>
</div>
