$space: 1em;

.roles-container {
  width: 800px;
  display: flex;
  max-height: 60vh;
}

@media screen and (max-width: 950px) {
  .roles-container {
    width: 700px;
  }
}

@media screen and (max-width: 800px) {
  .roles-container {
    width: 600px;
  }
}

.roles-container div {
  flex: 1
}

.users-container {
  overflow: auto;
}

.roles-location.ng-star-inserted {
  padding-bottom: 30px;
  padding-right: 20px;
}

.role {
  min-height: 200px;
  border: 3px solid var(--component-color);
  background-color: var(--popup-background);
  overflow: auto;
}

.roles {
  overflow: auto;
}

.right-panel {
  padding-left: 10px;
  display: grid
}

.role-header {
  display: flow-root;
  clear: both;
}

.role-text {
  padding-left: 5vh;
  float: left;
}

.role-counter {
  padding-right: 5vh;
  float: right;
  margin-bottom: -20px;
}

.canvas {
  width: 100%;
  min-width: 40vw;
  height: 100%;
  overflow-y: auto;

  align-items: center;
  gap: 4.5rem;
  padding: 2.5rem 2.5rem 1.5rem;
  background: var(--body-background);
}

.buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  gap: $space;
}

