$space: 1em;

.roles-container {
  width: 800px;
  display: flex;
  max-height: 60vh;
}

.roles-container div {
  flex: 1
}

.users-container {
  overflow: auto;
}

.roles-location.ng-star-inserted {
  padding-bottom: 30px;
  padding-right: 20px;
}

.role {
  min-height: 200px;
  border-color: #c3d1e1;
  border-radius: 15px;
  border-style: dotted;
  overflow: auto;
}

.roles {
  overflow: auto;
}

.right-panel{
  padding-left: 10px;
  display:grid
}

.user-list {
  border-color: #c3d1e1;
  border-radius: 15px;
  border-style: dotted;
  padding-right: 10px;
}

.role-header {
  display: flow-root;
  clear: both;
}

.role-text {
  padding-left: 5vh;
  float: left;
}

.role-counter {
  padding-right: 5vh;
  float: right;
  color: var(--secondary-text-color);
  margin-bottom: -20px;
}

.canvas {
  width: 100%;
  min-width: 40vw;
  height: 100%;
  overflow-y: auto;

  align-items: center;
  gap: 4.5rem;
  padding: 4.5rem 2.5rem 3rem;
  background: var(--body-background);
}

.buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  gap: $space;
}

