<div class="roles-container" cdkDropListGroup>
  <div cdkDropList
       [cdkDropListData]="userListData.participants"
       cdkDropListSortingDisabled (cdkDropListDropped)="removeRole($event)">
    <user-list [userListData]="userListData"></user-list>
  </div>
  <div class="roles">
    <div *ngFor="let role of roleTypes">
      <h2>{{role.toLowerCase() | translate}}</h2>
      <div class="role" cdkDropList
           [cdkDropListData]="getParticipantsContainer(role)"
           (cdkDropListDropped)="dropParticipant($event, role)">
        <mat-card class="user-card" *ngFor="let user of participants.get(role)" cdkDrag [cdkDragData]="user">
          <mat-card-header>
            <mat-card-title>{{user.lastname}}, {{user.name}}</mat-card-title>
            <mat-card-subtitle>{{user.club ? user.club.name : ""}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="button-container">
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
