<div class="frame"  *ngIf="chartOptions">
  <div class="box shadow" [ngStyle]="{'height': [height]+'px'}">
    <apx-chart #chart id="chart"
               [series]="chartOptions.series"
               [colors]="chartOptions.colors"
               [fill]="chartOptions.fill"
               [chart]="chartOptions.chart"
               [plotOptions]="chartOptions.plotOptions"
               [tooltip]="chartOptions.tooltip"
               [title]="chartOptions.title"
               [labels]="chartOptions.labels"
               [theme]="chartOptions.theme"
    ></apx-chart>
  </div>
</div>
