<div class="password-container">
  <div class="screen">
    <div class="screen-content">
      <mat-card>
        <mat-card-content>
          <form (ngSubmit)="changePassword()" [formGroup]="passwordForm" class="login-form">
            <mat-form-field>
              <input [(ngModel)]="oldPassword" [hidden]="!rbacService.isAllowed(RbacActivity.CHANGE_PASSWORD)"
                     [type]="'password'"
                     class="password-input" formControlName="oldPassword" matInput
                     placeholder="{{'oldPassword' | transloco}}"
                     required>
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="newPassword" [hidden]="!rbacService.isAllowed(RbacActivity.CHANGE_PASSWORD)"
                     [type]="hidePassword ? 'password' : 'text'"
                     class="password-input"
                     formControlName="newPassword" matInput placeholder="{{'newPassword' | transloco}}"
                     required>
              <mat-error>{{'invalidPasswordError' | transloco}}</mat-error>
              <mat-icon (click)="hidePassword = !hidePassword"
                        (keydown)="hidePassword = !hidePassword"
                        matSuffix>{{hidePassword ? 'visibility_off' : 'visibility'}}
              </mat-icon>
            </mat-form-field>
            <mat-form-field *ngIf="hidePassword">
              <input [(ngModel)]="repeatedPassword" [errorStateMatcher]="matcher"
                     [hidden]="!rbacService.isAllowed(RbacActivity.CHANGE_PASSWORD)"
                     [required]="hidePassword" [type]="'password'"
                     class="password-input" formControlName="repeatPassword" matInput
                     name="repeatPassword" pattern="{{passwordForm.value.password}}"
                     placeholder="{{'repeatPassword' | transloco}}">
              <mat-error
                *ngIf="passwordForm.hasError('repeatPassword')">{{'passwordDoesNotMatch' | transloco}}
              </mat-error>
            </mat-form-field>
            <div>
              <button [disabled]="passwordForm.invalid && hidePassword"
                      [hidden]="!rbacService.isAllowed(RbacActivity.CHANGE_PASSWORD)" color="primary" mat-raised-button
                      type="submit">
                <mat-icon>keyboard_double_arrow_right</mat-icon>
                {{'update' | transloco}}
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
