<ng-container id="tournament-options" *transloco="let t">
  <div class="canvas" slot="{{'empty' | transloco}}">
    <div class="row" *ngIf="canMaximizeFights">
      <biit-toggle
        *ngIf="canMaximizeFights"
        [(ngModel)]="areFightsMaximized"
        [description]="t('maximizeFightsHint')">
        {{ t('maximizeFights') }}
      </biit-toggle>
    </div>
    <div class="row" *ngIf="canAvoidDuplicatedFights">
      <biit-toggle
        *ngIf="canAvoidDuplicatedFights"
        [(ngModel)]="avoidDuplicatedFights"
        [description]="t('avoidDuplicateFightsHint')">
        {{ t('avoidDuplicateFights') }}
      </biit-toggle>
    </div>
    <div class="row" *ngIf="needsFifoWinner">
      <biit-toggle
        *ngIf="needsFifoWinner"
        [(ngModel)]="firstInFirstOut"
        [description]="t('leagueFifoHint')">
        {{ t('leagueFifo') }}
      </biit-toggle>
    </div>
    <div class="row" *ngIf="canResolveOddFightsAsap">
      <biit-toggle
        *ngIf="canResolveOddFightsAsap"
        [(ngModel)]="resolveOddFightsAsap"
        [description]="t('oddFightsResolvedAsapHint')">
        {{ t('oddFightsResolvedAsap') }}
      </biit-toggle>
    </div>
  </div>
  <div class="buttons-row">
    <button biit-button id="tournament-button-close" (click)="onClosed.emit()" secondary>
      {{ t('close') }}
    </button>
    <button biit-button id="tournament-button-save" (click)="onClosed.emit()" primary
            [disabled]="!(RbacActivity.EDIT_TOURNAMENT | hasPermission)">
      {{ t('saveButton') }}
    </button>
  </div>
</ng-container>
