<spinner-overlay [overlay]="true"></spinner-overlay>
<ng-container *transloco="let t">
<div class="fight-view">
  <div class="fights-layout">
    <div class="upper-menu">
        <button biit-icon *ngIf="(RbacActivity.VIEW_PARTICIPANT_STATISTICS | hasPermission)"
                (click)="goBackToStatistics()"
                [title]="t('back')">
          <mat-icon class="kendo-icon" svgIcon="arrow_back"></mat-icon>
        </button>
      </div>
    </div>
    <app-filter class="filter-fights" (filterChanged)="filter($event)" (reset)="filter('')"
                [resetValue]="resetFilterValue"></app-filter>
    <div class="fights-container">
      <div *ngIf="tournaments" class="fight-container">
        <div *ngFor="let tournament of tournaments" class="fight-list">
          <h2 *ngIf="filteredFights.get(tournament)?.length! > 0"
              class="tournament-name">{{ tournament.name }}</h2>
          <div *ngIf="filteredFights.get(tournament)?.length! > 0">
            <fight *ngFor="let fight of filteredFights.get(tournament!)"
                   [fight]="fight" [over]="false" [selected]="false"
                   [showAvatars]="false" [swapColors]="false"
                   [swapTeams]="false"
                   [highlightedParticipantId]="participantId"
                   [locked]="true"></fight>

            <div class="unties-list">
              <untie-fight *ngFor="let duel of filteredUnties.get(tournament!)" [duel]="duel"
                           [selected]="false" [swapColors]="false"
                           [swapTeams]="false"></untie-fight>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</ng-container>
