.fights-container {
  height: 88vh;
  max-height: 88vh;
  min-height: 50vh;
  overflow-y: auto;
  padding-left: 20px;
  margin-top: -25px;
  margin-right: 15px;
}

.fight {
  background: white;
}

.duel {
  opacity: 100% !important;
}

.duel.over {
  opacity: 100% !important;
}

.upper-menu {
  padding-left: 30px;
  margin: 10px;
  display: flex;
  gap: 1em;
  height: 50px;
  background-color: var(--body-background);
}

.upper-menu button {
  width: 60px;
}

.upper-menu button:disabled {
  opacity: 50%;
}

.upper-menu button:disabled .mat-icon.kendo-icon.mat-icon-no-color {
  fill: var(--disabled-primary-color);
}

::ng-deep .upper-menu button .mat-icon.kendo-icon.mat-icon-no-color {
  margin-left: -17px;
}

.statistics {
  padding-top: 20px;
}

.fight-list {
  width: 99%;
}

.unties-list {
  width: 100%;
}

.fights-layout {
  min-width: 600px;
  display: grid;
  gap: 2em;
}

.filter-fights {
  position: absolute;
  top: 50px;
  right: 20px;
  font-size: 18px;
  z-index: 0;
  color: var(--primay-color);
}

@media screen and (max-width: 1550px) {
  .expand-divider {
    display: none !important;
  }

  .expand-button {
    display: none !important;
  }
}

@media screen and (max-width: 1450px) {
  .download-button {
    display: none !important;
  }

  .download-divider {
    display: none !important;
  }

  .shiaijo-label {
    display: none !important;
  }

  .whisper-button {
    display: none !important;
  }
}

@media screen and (max-width: 1300px) {

  .exchange-colors {
    display: none !important;
  }

  .exchange-teams {
    display: none !important;
  }
}


@media screen and (max-width: 1100px) {

  .member-order {
    display: none !important;
  }

  .order-divider {
    display: none !important;
  }

  .competitors-classification {
    display: none !important;
  }

  .actions-divider {
    display: none !important;
  }

  .upper-menu {
    gap: 0;
  }
}

@media screen and (max-width: 950px) {
  .timer-button {
    display: none !important;
  }

  .timer-divider {
    display: none !important;
  }

  .add-button {
    display: none !important;
  }

  .delete-button {
    display: none !important;
  }
  .filter-fights {
    display: none;
  }
}

@media screen and (max-height: 850px) {
  .fights-container {
    height: 75vh;
  }
}
