<app-mat-spinner-overlay [overlay]="true"></app-mat-spinner-overlay>
<div class="fight-view">
  <div class="fights-table">
    <div class="upper-menu">
      <div class="cell">
        <button (click)="goBackToStatistics()"
                *ngIf="(RbacActivity.VIEW_PARTICIPANT_STATISTICS | hasPermission)"
                [matTooltipShowDelay]="500"
                mat-button
                matTooltip="{{'back' | transloco}}">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
    </div>
    <app-filter (filterChanged)="filter($event)" (reset)="filter('')" [resetValue]="resetFilterValue"></app-filter>
    <div class="fight-container">
      <div *ngIf="tournaments" class="fight-container">
        <div *ngFor="let tournament of tournaments" class="fight-list">
          <h2 *ngIf="filteredFights.get(tournament)?.length! > 0"
              class="tournament-name">{{ tournament.name }}</h2>
          <div *ngIf="filteredFights.get(tournament)?.length! > 0">
            <fight *ngFor="let fight of filteredFights.get(tournament!)"
                   [fight]="fight" [over]="false" [selected]="false"
                   [showAvatars]="false" [swapColors]="false"
                   [swapTeams]="false"
                   [highlightedParticipantId]="participantId"
                   [locked]="true"></fight>

            <div class="unties-list">
              <untie-fight *ngFor="let duel of filteredUnties.get(tournament!)" [duel]="duel"
                           [selected]="false" [swapColors]="false"
                           [swapTeams]="false"></untie-fight>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
