.fight-container {
  height: 80vh;
  max-height: 80vh;
  min-height: 50vh;
  overflow-y: auto;
}

.upper-menu {
  padding-left: 30px;
}

.fight-list {
  width: 99%;
}

.unties-list {
  width: 100%;
}

.fights-table {
  min-width: 600px;
}
