.fights-container {
  height: 80vh;
  max-height: 80vh;
  min-height: 50vh;
  overflow-y: auto;
  padding-left: 20px;
  margin-top: -25px;
  margin-right: 15px;
}

.upper-menu {
  padding-left: 30px;
  margin: 10px;
  display: flex;
  gap: 1em;
  z-index: 1;
  height: 50px;
  background-color: var(--body-background);
}

@media screen and (max-width: 1100px) {
  .upper-menu {
    gap: 0;
  }
  .filter-fights {
    display: none;
  }
}

.upper-menu button {
  width: 60px;
}

.upper-menu button:disabled {
  opacity: 50%;
}

.filter-fights {
  position: absolute;
  top: 50px;
  right: 20px;
  font-size: 18px;
  z-index: 2;
  color: var(--primay-color);
}

.fights-container {
  height: 88vh;
  max-height: 88vh;
  min-height: 50vh;
  overflow-y: auto;
  padding-left: 20px;
  margin-top: -25px;
  margin-right: 15px;
}

@media screen and (max-height: 850px) {
  .fights-container {
    height: 75vh;
  }
}


.fight-list {
  width: 99%;
}

.unties-list {
  width: 100%;
}

.fights-layout {
  min-width: 600px;
  display: grid;
  gap: 2em;
}

.tournament-name {
  text-align: center;
  margin-left: 20px;
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold;
}
