<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="KendoTournament">
    <listeners>
        <listener class-name="com.softwaremagico.kt.TestListener"/>
    </listeners>

    <test name="KendoTournament" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="authApi"/>
                <include name="restAccess"/>
                <include name="dtoToEntity"/>
                <include name="bruteForce"/>
                <include name="restSimpleChampionshipTest"/>
                <include name="userRegister"/>
                <include name="passwordTests"/>
                <include name="websockets"/>
                <!-- working on local, but not on ci github-->
                <exclude name="fightsWebsockets"/>
                <include name="participantAccess"/>
                <include name="dataValidation"/>
                <include name="csvServices"/>
                <include name="restErrorResponse"/>
                <include name="createUserRequest"/>
                <include name="jwtTokenUtil"/>
                <include name="exceptionAdvice"/>
                <include name="websocketMessages"/>
                <include name="restServicesUnit"/>
                <include name="duelServices"/>
                <include name="statisticsServices"/>
            </run>
        </groups>
        <classes>
            <class name="com.softwaremagico.kt.security.TestAuthApi"/>
            <class name="com.softwaremagico.kt.security.AuthApiUnitTests"/>
            <class name="com.softwaremagico.kt.security.RestAccessTests"/>
            <class name="com.softwaremagico.kt.security.BruteForceTests"/>
            <class name="com.softwaremagico.kt.security.PasswordTests"/>
            <class name="com.softwaremagico.kt.rest.DtoToEntityTest"/>
            <class name="com.softwaremagico.kt.rest.RestSimpleChampionshipTest"/>
            <class name="com.softwaremagico.kt.rest.UserRegisterTests"/>
            <class name="com.softwaremagico.kt.rest.ParticipantAccessTests"/>
            <class name="com.softwaremagico.kt.rest.DataValidationTest"/>
            <class name="com.softwaremagico.kt.rest.CsvServicesTest"/>
            <class name="com.softwaremagico.kt.rest.exceptions.ErrorResponseTest"/>
            <class name="com.softwaremagico.kt.rest.security.dto.CreateUserRequestTest"/>
            <class name="com.softwaremagico.kt.rest.security.JwtTokenUtilTest"/>
            <class name="com.softwaremagico.kt.ServerConfigurationTests"/>
            <class name="com.softwaremagico.kt.rest.security.KendoUserDetailsServiceTests"/>
            <class name="com.softwaremagico.kt.rest.security.NetworkControllerTests"/>
            <class name="com.softwaremagico.kt.rest.security.WebSecurityConfigTests"/>
            <class name="com.softwaremagico.kt.rest.exceptions.ExceptionControllerAdviceTest"/>
            <class name="com.softwaremagico.kt.rest.services.ClubServicesUnitTest"/>
            <class name="com.softwaremagico.kt.rest.services.DuelServicesTest"/>
            <class name="com.softwaremagico.kt.rest.services.FightServicesUnitTest"/>
            <class name="com.softwaremagico.kt.rest.services.GroupServicesUnitTest"/>
            <class name="com.softwaremagico.kt.rest.services.InfoTest"/>
            <class name="com.softwaremagico.kt.rest.services.QrServiceUnitTests"/>
            <class name="com.softwaremagico.kt.rest.services.RankingServicesUnitTests"/>
            <class name="com.softwaremagico.kt.rest.services.StatisticsServicesTest"/>
            <class name="com.softwaremagico.kt.rest.services.TeamServicesUnitTest"/>
            <class name="com.softwaremagico.kt.rest.services.TournamentServicesUnitTest"/>
            <class name="com.softwaremagico.kt.websockets.BasicWebsocketsTests"/>
            <class name="com.softwaremagico.kt.websockets.FightsWebsocketsTests"/>
            <class name="com.softwaremagico.kt.websockets.WebSocketControllerUnitTests"/>
            <class name="com.softwaremagico.kt.websockets.WebsocketMessageParametersTest"/>
        </classes>
    </test>
</suite>
