<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="KendoTournament">
    <listeners>
        <listener class-name="com.softwaremagico.kt.TestListener"/>
    </listeners>

    <test name="KendoTournament" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="authApi"/>
                <include name="restAccess"/>
                <include name="dtoToEntity"/>
                <include name="bruteForce"/>
                <include name="restSimpleChampionshipTest"/>
                <include name="userRegister"/>
                <include name="passwordTests"/>
                <include name="websockets"/>
                <!***REMOVED***working on local, but not on ci github-->
                <exclude name="fightsWebsockets"/>
                <include name="participantAccess"/>
            </run>
        </groups>
        <classes>
            <class name="com.softwaremagico.kt.security.TestAuthApi"/>
            <class name="com.softwaremagico.kt.security.RestAccessTests"/>
            <class name="com.softwaremagico.kt.security.BruteForceTests"/>
            <class name="com.softwaremagico.kt.security.PasswordTests"/>
            <class name="com.softwaremagico.kt.rest.DtoToEntityTest"/>
            <class name="com.softwaremagico.kt.rest.RestSimpleChampionshipTest"/>
            <class name="com.softwaremagico.kt.rest.UserRegisterTests"/>
            <class name="com.softwaremagico.kt.rest.ParticipantAccessTests"/>
            <class name="com.softwaremagico.kt.websockets.BasicWebsocketsTests"/>
            <class name="com.softwaremagico.kt.websockets.FightsWebsocketsTests"/>
        </classes>
    </test>
</suite>
