.mat-card.mat-focus-indicator {
  text-align: center;
}

.mat-raised-button {
  width: 150px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.screen {
  background: linear-gradient(90deg, #012a5f, #012f67);
  position: relative;
  border-radius: 2%;
  box-shadow: 0 0 24px #274e7e;
}

.login-title {
  color: #001239;
}

.screen-content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.login-form {
  width: 320px;
  padding: 30px 30px 30px;
}

.input-icon {
  padding-right: 30px;
}

.login-field {
  padding: 20px 0;
  position: relative;
}

.login-icon {
  position: absolute;
  top: 30px;
  color: #274e7e;
}

.login-input {
  border: none;
  background: none;
  padding: 10px 10px 10px 24px;
  width: 75%;
  transition: .2s;
}

.login-input:active,
.login-input:focus,
.login-input:hover {
  outline: none;
  border-bottom-color: #012f67;
}

.app-version {
  font-size: 10pt;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

