<ng-container *transloco="let t">
  <div class="table-view">
    <biit-datatable #table id="tournaments-table"
                    [columns]="columns"
                    [data]="tournaments"
                    [pageSize]="pageSize"
                    [pageSizeList]="pageSizes"
                    [loading]="loading"
                    scrollbarH
                    selectable
    >
      <ng-template #actions>
        <button id="button-plus" biit-icon icon="plus" *ngIf="RbacActivity.CREATE_TOURNAMENT | hasPermission"
                [title]="t('tournamentAdd')"
                (click)="addElement()"
        ></button>
        <button id="button-minus" biit-icon icon="minus" class="warning"
                *ngIf="RbacActivity.DELETE_TOURNAMENT | hasPermission"
                [title]="t('delete')"
                (click)="confirmDelete=true"
                [disabled]="!table.selectedRows.length"
        ></button>
        <button id="button-edit" biit-icon icon="edit" *ngIf="RbacActivity.READ_ONE_TOURNAMENT | hasPermission"
                [title]="t('tournamentEdit')"
                (click)="editElement(table.selectedRows[0])"
                [disabled]="!table.selectedRows || table.selectedRows.length != 1 || table.selectedRows[0].locked"
        ></button>
        <button mat-button *ngIf="(RbacActivity.READ_ONE_TOURNAMENT | hasPermission)"
                [title]="t('tournamentClone')"
                (click)="confirmClone=true"
                [disabled]="!table.selectedRows ||  table.selectedRows.length != 1">
          <mat-icon class="kendo-icon" svgIcon="clone"></mat-icon>
        </button>
        <mat-divider [vertical]="true"></mat-divider>
        <button mat-button *ngIf="(RbacActivity.CREATE_ROLE | hasPermission)"
                [title]="t('roles')"
                (click)="addRoles(table.selectedRows[0])"
                [disabled]="!table.selectedRows ||  table.selectedRows.length != 1">
          <mat-icon class="kendo-icon" svgIcon="card"></mat-icon>
        </button>
        <button mat-button *ngIf="(RbacActivity.CREATE_TEAM | hasPermission)"
                [title]="t('teams')"
                (click)="addTeams(table.selectedRows[0])"
                [disabled]="!table.selectedRows ||  table.selectedRows.length != 1">
          <mat-icon class="kendo-icon" svgIcon="team"></mat-icon>
        </button>
        <button mat-button *ngIf="(RbacActivity.READ_ALL_FIGHTS | hasPermission)"
                [title]="t('fights')"
                (click)="openFights(table.selectedRows[0])"
                [disabled]="!table.selectedRows ||  table.selectedRows.length != 1">
          <mat-icon class="kendo-icon" svgIcon="fight"></mat-icon>
        </button>
        <button biit-icon icon="lock"
                *ngIf="(RbacActivity.EDIT_LOCKED_TOURNAMENT | hasPermission) && (!table.selectedRows ||  table.selectedRows.length != 1 || !table.selectedRows[0]!.locked)"
                [title]="t('tournamentLock')"
                (click)="lockElement(table.selectedRows[0],true)"
                [disabled]="!table.selectedRows ||  table.selectedRows.length != 1 || !(RbacActivity.EDIT_LOCKED_TOURNAMENT | hasPermission)">
        </button>
        <button biit-icon icon="unlock"
                *ngIf="(RbacActivity.EDIT_LOCKED_TOURNAMENT | hasPermission) && table.selectedRows && table.selectedRows[0] && table.selectedRows[0]!.locked && table.selectedRows.length == 1"
                [title]="t('tournamentUnlock')"
                (click)="lockElement(table.selectedRows[0],false)"
                [disabled]="!table.selectedRows ||  table.selectedRows.length != 1 || !(RbacActivity.EDIT_LOCKED_TOURNAMENT | hasPermission)">
        </button>
        <mat-divider class="extra-menu" [vertical]="true"></mat-divider>
        <span class="extra-menu">
        <button mat-button *ngIf="(RbacActivity.VIEW_TOURNAMENT_STATISTICS | rbac : this.rbacService.getActivities())"
                [title]="t('titleStatistics')"
                (click)="openStatistics(table.selectedRows[0])"
                [disabled]="!table.selectedRows ||  table.selectedRows.length != 1">
          <mat-icon class="kendo-icon" svgIcon="bar_chart"></mat-icon>
        </button>
        <button mat-button *ngIf="(RbacActivity.SEE_QR_CODE | rbac : this.rbacService.getActivities())"
                [title]="t('qrCodeHint')"
                (click)="showQr=true"
                [disabled]="!table.selectedRows ||  table.selectedRows.length != 1 || table.selectedRows[0]!.locked">
          <mat-icon class="kendo-icon" svgIcon="qr_code"></mat-icon>
        </button>
        <button mat-button *ngIf="(RbacActivity.PRINT_ACCREDITATIONS | rbac : this.rbacService.getActivities())"
                [title]="t('accreditationsHint')"
                (click)="downloadAccreditations(table.selectedRows[0])"
                [disabled]="!table.selectedRows ||  table.selectedRows.length != 1">
          <mat-icon class="kendo-icon" svgIcon="badge"></mat-icon>
        </button>
        <button mat-button *ngIf="(RbacActivity.PRINT_DIPLOMAS | rbac : this.rbacService.getActivities())"
                [title]="t('diplomasHint')"
                (click)="downloadDiplomas(table.selectedRows[0])"
                [disabled]="!table.selectedRows ||  table.selectedRows.length != 1">
          <mat-icon class="kendo-icon" svgIcon="diplomas"></mat-icon>
        </button>
        <button mat-button *ngIf="(RbacActivity.READ_ALL_RANKINGS | rbac : this.rbacService.getActivities())"
                [title]="t('tournamentListAsZip')"
                (click)="downloadZip(table.selectedRows[0])"
                [disabled]="!table.selectedRows ||  table.selectedRows.length != 1">
          <mat-icon class="kendo-icon" svgIcon="zip-file"></mat-icon>
        </button>
        <button mat-button *ngIf="(RbacActivity.READ_ALL_RANKINGS | rbac : this.rbacService.getActivities())"
                [title]="t('bloggerStatistics')"
                (click)="downloadBlogCode(table.selectedRows[0])"
                [disabled]="!table.selectedRows ||  table.selectedRows.length != 1">
          <mat-icon class="kendo-icon" svgIcon="tournament-blog"></mat-icon>
        </button>
        </span>
      </ng-template>
    </biit-datatable>
  </div>

  <tournament-form-popup *ngIf="target"
                         [tournament]="target"
                         (onClosed)="this.target = null"
                         (onSaved)="onSaved($event)"
  />

  <biit-popup id="confirmation-delete-popup" *ngIf="confirmDelete"
              no-header
  >
    <div class="vertical">
      <span [innerHTML]="'tournamentDeleteQuestion' | transloco : {name: getTournamentNames(table.selectedRows)}"></span>
      <div class="flex-grow horizontal buttons-row">
        <button id="delete-cancel-button" biit-button secondary (click)="confirmDelete = false">{{ t('cancel') }}</button>
        <button id="delete-confirm-button" biit-button primary
                (click)="deleteElements(table.selectedRows)">{{ t('delete') }}
        </button>
      </div>
    </div>
  </biit-popup>

  <biit-popup id="confirmation-clone-popup" *ngIf="confirmClone"
              no-header
  >
    <div class="vertical">
      <span [innerHTML]="'tournamentCloneWarning' | transloco : {name: getTournamentNames(table.selectedRows)}"></span>
      <div class="flex-grow horizontal buttons-row">
        <button id="clone-cancel-button" biit-button secondary (click)="confirmClone = false">{{ t('cancel') }}</button>
        <button id="clone-confirm-button" biit-button primary
                (click)="cloneElement(table.selectedRows[0])">{{ t('accept') }}
        </button>
      </div>
    </div>
  </biit-popup>

  <biit-popup id="qr-code" *ngIf="showQr" no-header>
    <tournament-qr-code
      [tournament]="table.selectedRows[0]"
      [port]="port"
      (onClosed)="showQr=false"></tournament-qr-code>
  </biit-popup>

</ng-container>
