<app-mat-spinner-overlay [overlay]="true"></app-mat-spinner-overlay>
<div class="mat-elevation-z8">
  <div class="kendo-table">
    <div class="upper-menu">
      <div class="cell">
        <button mat-button color="primary" (click)="addElement()" *ngIf="(RbacActivity.CREATE_TOURNAMENT | rbac )">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-button color="primary" [disabled]="!basicTableData.selectedElement" (click)="editElement()"
                *ngIf="(RbacActivity.EDIT_TOURNAMENT | rbac )">
          <mat-icon>create</mat-icon>
        </button>
        <button mat-button color="primary" [disabled]="!basicTableData.selectedElement" (click)="addRoles()"
                *ngIf="(RbacActivity.CREATE_ROLE | rbac )">
          <mat-icon svgIcon="card" class="kendo-icon"></mat-icon>
        </button>
        <button mat-button color="primary" [disabled]="!basicTableData.selectedElement" (click)="addTeams()"
                *ngIf="(RbacActivity.CREATE_TEAM | rbac )">
          <mat-icon svgIcon="team" class="kendo-icon"></mat-icon>
        </button>
        <!***REMOVED***       <button mat-button color="primary" [disabled]="!basicTableData.selectedElement" (click)="addElement()">-->
        <!***REMOVED***         <mat-icon>emoji_events</mat-icon>-->
        <!***REMOVED***       </button>-->
        <!***REMOVED***       <button mat-button color="primary" [disabled]="!basicTableData.selectedElement" (click)="addElement()">-->
        <!***REMOVED***         <mat-icon>badge</mat-icon>-->
        <!***REMOVED***       </button>-->
        <!***REMOVED***       <button mat-button color="primary" [disabled]="!basicTableData.selectedElement" (click)="addElement()">-->
        <!***REMOVED***         <mat-icon>contact_page</mat-icon>-->
        <!***REMOVED***       </button>-->
        <!***REMOVED***       <button mat-button color="primary" [disabled]="!basicTableData.selectedElement" (click)="addElement()">-->
        <!***REMOVED***         <mat-icon>summarize</mat-icon>-->
        <!***REMOVED***       </button>-->
        <!***REMOVED***       <button mat-button color="primary" [disabled]="!basicTableData.selectedElement" (click)="addElement()">-->
        <!***REMOVED***         <mat-icon>integration_instructions</mat-icon>-->
        <!***REMOVED***       </button>-->
        <button mat-button color="primary" [disabled]="!basicTableData.selectedElement" (click)="openFights()"
                *ngIf="(RbacActivity.READ_ALL_FIGHTS | rbac )">
          <mat-icon svgIcon="fight" class="kendo-icon"></mat-icon>
        </button>
        <button mat-button color="warn" [disabled]="!basicTableData.selectedElement" (click)="deleteElement()"
                *ngIf="(RbacActivity.DELETE_TOURNAMENT | rbac )">
          <mat-icon>clear</mat-icon>
        </button>
        <mat-divider [vertical]="true"></mat-divider>
        <button mat-button color="primary" [disabled]="!basicTableData.selectedElement" (click)="downloadBlogCode()"
                *ngIf="(RbacActivity.READ_ALL_RANKINGS | rbac )">
          <mat-icon svgIcon="tournament-blog" class="kendo-icon"></mat-icon>
        </button>
      </div>
    </div>
    <basic-table [basicTableData]="basicTableData"></basic-table>
  </div>
</div>
