.mat-progress-bar {
  padding: 10px 10px 10px 0;
}

.bar-0 .mat-progress-bar-fill::after {
  background-color: #001239 !important;
}

.bar-1 .mat-progress-bar-fill::after {
  background-color: #274e7e !important;
}

.bar-2 .mat-progress-bar-fill::after {
  background-color: #012f67 !important;
}

.bar-3 .mat-progress-bar-fill::after {
  background-color: #012354 !important;
}

.bar-0 .mat-icon {
  color: #001239 !important;
}

.bar-1 .mat-icon {
  color: #274e7e !important;
}

.bar-2 .mat-icon {
  color: #012354 !important;
}

.bar-3 .mat-icon {
  color: #012f67 !important;
}

.custom-progress-bar {
  width: 300px;
  text-align: left;
  display: inline-block;
}

.percentage-title {
  position: absolute;
  z-index: 1;
  margin-top: -16px;
  margin-left: 10px;
  font-size: 10px;
  font-weight: bold;
  color: #ddd8ed;
}

.progress-bar-table {
  width: 100%;
}

.icon {
  width: 20px;
}

