<ng-container id="tournament-form" *transloco="let t">
  <div class="canvas" slot="{{'empty' | transloco}}">
    <div class="row">
      <biit-input-text id="tournament-name" class="tournament-name" [(ngModel)]="tournament.name"
                       [placeholder]="t('competitionName')"
                       [required]="true"
                       error="{{errors | mapGet: TournamentFormValidationFields.NAME_ERRORS}}"
      ></biit-input-text>
    </div>
    <div class="row row-with-button">
      <biit-dropdown id="tournament-type"
                     [ngModel]="tournament.type | dropdownInterface: translatedTypes"
                     (ngModelChange)="tournament.type = $event.value"
                     [data]="translatedTypes"
                     [label]="'label'"
                     [value]="'value'"
                     [title]="t('tournamentType')"
                     [descriptionLabel]="'description'"
                     [disabled]="!(RbacActivity.EDIT_TOURNAMENT | hasPermission)"
      ></biit-dropdown>
      <button id="edit-options-button" biit-icon icon="column_selection"
              *ngIf="(RbacActivity.EDIT_TOURNAMENT | hasPermission)"
              class="edit-score-button"
              (click)="openCustomProperties=true"
              [disabled]="tournament.id==undefined || tournament.type == typeCustom">
      </button>
    </div>
    <div class="row">
      <biit-input-text id="tournament-shiaijos" [(ngModel)]="tournament.shiaijos"
                       [placeholder]="t('tournamentShiaijos')"
                       [type]="Type.NUMBER"
                       [min]="TOURNAMENT_MIN_SHIAIJO"
                       [max]="TOURNAMENT_MAX_SHIAIJO"
                       error="{{errors | mapGet: TournamentFormValidationFields.SHIAIJO_ERRORS}}"
                       [readonly]="!rbacService.isAllowed(RbacActivity.EDIT_TOURNAMENT) || selectedType == typeLoop
          || this.selectedType == typeLeague || this.selectedType == typeKing || this.selectedType == typeSorting"
                       [disabled]="!(RbacActivity.EDIT_TOURNAMENT | hasPermission)"
      ></biit-input-text>
    </div>
    <div class="row" *ngIf="tournament && tournament.type!== TournamentType.SENBATSU">
      <biit-input-text id="tournament-team-size" [(ngModel)]="tournament.teamSize"
                       [placeholder]="t('tournamentTeamSize')"
                       [type]="Type.NUMBER"
                       [min]="TOURNAMENT_MIN_TEAM"
                       [max]="TOURNAMENT_MAX_TEAM"
                       error="{{errors | mapGet: TournamentFormValidationFields.TEAM_ERRORS}}"
                       [readonly]="!rbacService.isAllowed(RbacActivity.EDIT_TOURNAMENT) || selectedType == typeLoop
          || this.selectedType == typeLeague || this.selectedType == typeKing || this.selectedType == typeSorting"
                       [disabled]="!(RbacActivity.EDIT_TOURNAMENT | hasPermission)"
      ></biit-input-text>
    </div>
    <div class="row"
         [class.row-with-button]="tournament.tournamentScore.scoreType == scoreTypeCustom"
         *ngIf="tournament && tournament.type!== TournamentType.BUBBLE_SORT && tournament.type!== TournamentType.SENBATSU">
      <biit-dropdown id="tournament-score-rules"
                     [ngModel]="tournament.tournamentScore? (tournament.tournamentScore.scoreType | dropdownInterface: translatedScores) : '' "
                     (ngModelChange)="tournament.tournamentScore.scoreType = $event.value"
                     [data]="translatedScores"
                     [label]="'label'"
                     [value]="'value'"
                     [title]="t('scoreRules')"
                     [descriptionLabel]="'description'"
                     [disabled]="!(RbacActivity.EDIT_TOURNAMENT | hasPermission)"
      ></biit-dropdown>
      <button id="edit-score-button" biit-icon icon="column_selection"
              *ngIf="tournament.tournamentScore.scoreType == scoreTypeCustom"
              class="edit-score-button"
              [title]="t('teams')"
              (click)="openScoreRules=true"
              [disabled]="tournament.id==undefined">
      </button>
    </div>
    <div class="row">
      <biit-dropdown id="tournament-duration"
                     [ngModel]="tournament.duelsDuration | numberDropdownInterface : translatedDuration"
                     (ngModelChange)="tournament.duelsDuration = $event.value"
                     [data]="translatedDuration"
                     [label]="'label'"
                     [value]="'value'"
                     [title]="t('tournamentDuelsDurations')"
                     [disabled]="!(RbacActivity.EDIT_TOURNAMENT | hasPermission)"
      ></biit-dropdown>
    </div>
    <div class="buttons-row">
      <button biit-button secondary id="tournament-images" *ngIf="tournament.id" (click)="addPhoto=true"
              [disabled]="saving || !(RbacActivity.TAKE_PICTURE | hasPermission)">
        {{ t('images') }}
      </button>
      <button biit-button id="tournament-button-save" (click)="onSave()"
              [disabled]="saving || !(RbacActivity.EDIT_TOURNAMENT | hasPermission)">
        {{ t('saveButton') }}
      </button>
    </div>
  </div>


  <biit-popup id="photo-popup" *ngIf="addPhoto" no-header>
    <tournament-images
      [tournament]="tournament"
      (onClosed)="addPhoto=false"></tournament-images>
  </biit-popup>

  <biit-popup id="custom-properties-popup" *ngIf="openCustomProperties"
              [title]="t('t.tournamentProperties')"
  >
    <tournament-extra-settings-form
      [tournament]="tournament"
      (onClosed)="openCustomProperties=false">
    </tournament-extra-settings-form>
  </biit-popup>

  <biit-popup id="score-rules-popup" *ngIf="openScoreRules"
              [title]="t('t.scoreRules')">
    <tournament-custom-scores-form
      [tournament]="tournament"
      (onClosed)="openScoreRules=false">
    </tournament-custom-scores-form>
  </biit-popup>
</ng-container>
