name: Sonar Backend
on:
  push:
    paths:
      - 'backend/**'
      - '.github/workflows/**'
    branches:
      - main
      - master
  pull_request:
    paths:
      - 'backend/**'
      - '.github/workflows/**'
    types:
      - opened
      - synchronize
      - reopened



jobs:
  build:
    name: Build and Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          # Disabling shallow clones is recommended for improving the relevancy of reporting
          fetch-depth: 0
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn -B package --file backend/pom.xml -DskipTests
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@master
        with:
          projectBaseDir: backend
          args: >
            -Dsonar.organization=softwaremagico
            "-Dsonar.projectName=Kendo Tournament Manager"
            -Dsonar.projectKey=kendo-tournament-backend
            -Dsonar.java.binaries=.
            -Dsonar.verbose=true
            -Dsonar.test.exclusions=**/test/*
            -Dsonar.exclusions=kendo-tournament-persistence/src/test,kendo-tournament-core/src/test,kendo-tournament-pdf/src/test,kendo-tournament-rest/src/test
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}