<div mat-dialog-content>
  <div class="picture-engine">
    <div class="canvas">
      <div class="camera-frame">
        <webcam [height]="512" [width]="390" [trigger]="clickOnCamera" (imageCapture)="pictureHandler($event)"
                (initError)="errorHandler($event)" [imageType]="imageType" [videoOptions]="videoOptions"></webcam>
      </div>
      <div class="rectangle"></div>
      <div class="circle"></div>
    </div>

    <div class="gallery">
      <div class="image-container" *ngFor="let image of pictures; let i = index">
        <img [class.selected-image]="i === selectedPicture" src="{{ image }}" alt="Participant's Picture" (click)="selectImage(i)"/>
      </div>
    </div>
  </div>

  <div mat-dialog-actions class="button-container">
    <button mat-raised-button type="button" (click)="takePicture()"
            mat-flat-button
            color="picture" *ngIf="(RbacActivity.TAKE_PICTURE | rbac : this.rbacService.activities)">
      <mat-icon>add_a_photo</mat-icon>
      {{'photo' | translate}}</button>
    <button mat-raised-button type="button" (click)="switchCamera()"
            mat-flat-button
            *ngIf="false && availableCameras>1 && (RbacActivity.TAKE_PICTURE | rbac : this.rbacService.activities)">
      <mat-icon>switch_camera</mat-icon>
      {{'switch' | translate}}</button>
    <button mat-raised-button type="button" (click)="fileInput.click()" mat-flat-button
            *ngIf="availableCameras<=1 && (RbacActivity.UPLOAD_PICTURE | rbac : this.rbacService.activities)">
      <mat-icon>upload_file</mat-icon>
      {{'upload' | translate}}
      <input #fileInput type="file" accept=".jpg,.jpeg,.png" (change)="handleFileInput($event)" style="display:none;"/>
    </button>
    <button mat-raised-button type="button" (click)="saveImage()" [disabled]="selectedPicture == undefined"
            mat-flat-button
            color="primary" *ngIf="(RbacActivity.TAKE_PICTURE | rbac : this.rbacService.activities)">
      <mat-icon>photo_album</mat-icon>
      {{'selectButton' | translate}}</button>
    <button mat-raised-button type="button" (click)="closeDialog()" mat-flat-button color="warn">
      <mat-icon>cancel</mat-icon>
      {{'close' | translate}}</button>
  </div>
</div>
