<div class="frame" *ngIf="chartOptions">
  <div class="box shadow">
    <apx-chart #chart id="chart"
               [series]="chartOptions.series"
               [chart]="chartOptions.chart"
               [dataLabels]="chartOptions.labels"
               [plotOptions]="chartOptions.plotOptions"
               [tooltip]="chartOptions.tooltip"
               [xaxis]="chartOptions.xaxis"
               [title]="chartOptions.title"
               [fill]="chartOptions.fill"
               [legend]="chartOptions.legend"
               [markers]="chartOptions.markers"
               [stroke]="chartOptions.stroke"
               [theme]="chartOptions.theme"
    ></apx-chart>
  </div>
</div>
